flows/AW_FLOW_LeadAssignment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>AW_AssignOwnerToTheLead</name>
        <label>Assign Owner To The Lead</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>AW_PardotOwnerIdExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AW_PardotOwnerId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AW_UpdateLeadOwnerToPardotOwnerId</targetReference>
            </connector>
            <label>Pardot Owner Id Exists</label>
        </rules>
        <rules>
            <name>AW_OwnerIsNotAnAdviserPAOrSalesLeader</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>AW_LibertyAdviserProfileName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>AW_LibertyAdviserPersonalAssistant</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>AW_LibertySalesLeaderProfileName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AW_GetAllocationQueue</targetReference>
            </connector>
            <label>Owner Is Not An Adviser, PA Or Sales Leader</label>
        </rules>
    </decisions>
    <description>Assigns lead to different owners based on certain conditions. The flow is made to run after the lead record is saved to check the conditions for owner of the record and then assign the lead to different owners as and when required. 
Created by - vikrant.goswami@accenture.com
Date - August, 2021
Updated by - latika.kharbanda@accenture.com
Date - January, 2022</description>
    <interviewLabel>Lead Assignmentq {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>AW_GetAllocationQueue</name>
        <label>Get Allocation Queue</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AW_AssignLeadToAllocationQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AW_AllocationQueueName</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>AW_AllocationQueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>AW_AssignLeadToAllocationQueue</name>
        <label>Assign Lead to Allocation Queue</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AW_AllocationQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Lead and Referral Owner should be Pardot Owner Id</description>
        <name>AW_UpdateLeadOwnerToPardotOwnerId</name>
        <label>Update Lead Owner To Pardot Owner Id</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.AW_PardotOwnerId__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AW_AssignOwnerToTheLead</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AW_AllocationQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AW_AllocationQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AW_Allocation</stringValue>
        </value>
    </variables>
    <variables>
        <name>AW_LibertyAdviserPersonalAssistant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Liberty Adviser Personal Assistant</stringValue>
        </value>
    </variables>
    <variables>
        <name>AW_LibertyAdviserProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Liberty Adviser</stringValue>
        </value>
    </variables>
    <variables>
        <name>AW_LibertySalesLeaderProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Liberty Sales Leader</stringValue>
        </value>
    </variables>
    <variables>
        <name>AW_WebsiteLeadsQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AW_WebsiteLeadsQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AW_WebsiteLeadsQueue</stringValue>
        </value>
    </variables>
</Flow>
