flows/AW_FLOW_SendCustomTimeBasedNotification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AW_EmailNotification</name>
        <label>Email Notification</label>
        <locationX>668</locationX>
        <locationY>458</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>AW_DeleteCustomTimeBasedNotificationRecord</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>$Record.AW_NotificationBody__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.AW_Recipients__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <elementReference>AW_IsRichTextEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>$Record.AW_NotificationTitle__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>AW_NotifyOwner</name>
        <label>Notify Owner</label>
        <locationX>1112</locationX>
        <locationY>256</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>AW_DeleteCustomTimeBasedNotificationRecord</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>AW_GetCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>$Record.AW_NotificationBody__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>$Record.AW_NotificationTitle__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>AW_NotificationRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderId</name>
            <value>
                <elementReference>$Record.AW_SenderId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.AW_TargetId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetPageRef</name>
            <value>
                <elementReference>$Record.AW_TargetPageReference__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>AW_NotificationTypeIsEmailOrPush</name>
        <label>Notification Type Is Email Or Push?</label>
        <locationX>658</locationX>
        <locationY>257</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AW_PlainOrRichTextEmail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AW_NotificationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AW_PlainEmail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AW_NotificationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AW_RichTextEmail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AW_EmailNotification</targetReference>
            </connector>
            <label>Plain Or Rich Text Email</label>
        </rules>
        <rules>
            <name>AW_InAppPush</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AW_NotificationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AW_InAppPush</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AW_GetCustomNotification</targetReference>
            </connector>
            <label>In-App / Push</label>
        </rules>
    </decisions>
    <description>The flow is used to send custom time-based notification according to the time defined in the notification records.
@author latika.kharbanda@accenture.com
@date October 2021</description>
    <formulas>
        <name>AW_IsRichTextEmail</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!$Record.AW_NotificationType__c}, &apos;AW_RichTextEmail&apos;)</expression>
    </formulas>
    <interviewLabel>Send Custom Time-Based Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Custom Time-Based Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>AW_DeleteCustomTimeBasedNotificationRecord</name>
        <label>Delete Custom Time Based Notification Record</label>
        <locationX>1112</locationX>
        <locationY>458</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>AW_GetCustomNotification</name>
        <label>Get Custom Notification</label>
        <locationX>865</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AW_CSVToCollectionVariable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AW_CustomNotificationAPIName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>166</locationX>
        <locationY>172</locationY>
        <object>AW_CustomTimeBasedNotification__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>AW_NotificationDateTime</name>
            <connector>
                <targetReference>AW_NotificationTypeIsEmailOrPush</targetReference>
            </connector>
            <label>Notification Date Time</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>AW_NotificationDateTime__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>AW_CSVToCollectionVariable</name>
        <label>CSV To Collection Variable</label>
        <locationX>994</locationX>
        <locationY>256</locationY>
        <connector>
            <targetReference>AW_NotifyOwner</targetReference>
        </connector>
        <flowName>AW_FLOW_StringSplitter</flowName>
        <inputAssignments>
            <name>AW_InputString</name>
            <value>
                <elementReference>$Record.AW_Recipients__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AW_NotificationRecipientIds</assignToReference>
            <name>AW_CollectionOfInputString</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AW_NotificationRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
