flows/AW_FLOW_CopyAccountAddresstoPostalAddress.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>AW_Person_Account</name>
        <label>Person Account?</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AW_Update_Person_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AW_Update_Business_Acounts</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>This flow will copy address into Postal address when the Same as checkbox is checked</description>
    <interviewLabel>AW_FLOW_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AW_FLOW_CopyAccountAddresstoPostalAddress</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>AW_Update_Business_Acounts</name>
        <label>Update Business Acounts</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AW_PhysicalStreetLineOne__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AW_PhysicalStreetLineTwo__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AW_PhysicalStreetLineThree__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AW_PhysicalSuburb__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AW_PhysicalCity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AW_PhysicalPostalCode__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AW_PhysicalCountry__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AW_PostalAddressLineOne__c</field>
            <value>
                <elementReference>$Record.AW_PhysicalStreetLineOne__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AW_PostalAddressLineThree__c</field>
            <value>
                <elementReference>$Record.AW_PhysicalStreetLineThree__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AW_PostalAddressLineTwo__c</field>
            <value>
                <elementReference>$Record.AW_PhysicalStreetLineTwo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AW_PostalCity__c</field>
            <value>
                <elementReference>$Record.AW_PhysicalCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AW_PostalCode__c</field>
            <value>
                <elementReference>$Record.AW_PhysicalPostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AW_PostalCountry__c</field>
            <value>
                <elementReference>$Record.AW_PhysicalCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AW_PostalSuburb__c</field>
            <value>
                <elementReference>$Record.AW_PhysicalSuburb__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AW_Update_Person_Account</name>
        <label>Update Person Account</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AW_ResidentialStreetLineOne__pc</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AW_ResidentialStreetLineTwo__pc</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AW_ResidentialStreetLineThree__pc</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AW_ResidentialPostalCode__pc</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AW_ResidentialCountry__pc</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AW_ResidentialCity__pc</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AW_ResidentialSuburb__pc</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AW_PostalAddressLineOne__pc</field>
            <value>
                <elementReference>$Record.AW_ResidentialStreetLineOne__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AW_PostalAddressLineThree__pc</field>
            <value>
                <elementReference>$Record.AW_ResidentialStreetLineThree__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AW_PostalAddressLineTwo__pc</field>
            <value>
                <elementReference>$Record.AW_ResidentialStreetLineTwo__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AW_PostalCity__pc</field>
            <value>
                <elementReference>$Record.AW_ResidentialCity__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AW_PostalCode__pc</field>
            <value>
                <elementReference>$Record.AW_ResidentialPostalCode__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AW_PostalCountry__pc</field>
            <value>
                <elementReference>$Record.AW_ResidentialCountry__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AW_PostalSuburb__pc</field>
            <value>
                <elementReference>$Record.AW_ResidentialSuburb__pc</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AW_Person_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AW_SameAsResidentialPhysical__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
