flows/AW_FLOW_CreateCommunityUser.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>Ascertain whether the email address provided by the user has been used before</description>
        <name>AW_DuplicateEmail</name>
        <label>Duplicate Email</label>
        <locationX>668</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>AW_DisplayUserInfo1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unique</defaultConnectorLabel>
        <rules>
            <name>AW_Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AW_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AW_DuplicateEmailMessage1</targetReference>
            </connector>
            <label>Duplicate</label>
        </rules>
    </decisions>
    <decisions>
        <description>This step validates the email existence. If blank or if already exists then the process ends, The user can only be created if the email address is unique</description>
        <name>AW_EmailExists</name>
        <label>Email Exists</label>
        <locationX>663</locationX>
        <locationY>298</locationY>
        <defaultConnector>
            <targetReference>AW_GetUserEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exists</defaultConnectorLabel>
        <rules>
            <name>AW_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AW_AccountRecord.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AW_BlankEmailMessage1</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if user has been created before</description>
        <name>AW_UserExists</name>
        <label>User Exists</label>
        <locationX>666</locationX>
        <locationY>127</locationY>
        <defaultConnector>
            <targetReference>AW_EmailExists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New User</defaultConnectorLabel>
        <rules>
            <name>AW_ExistingUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AW_UserAccountRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AW_DuplicateUserMessage1</targetReference>
            </connector>
            <label>Existing User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_User</name>
        <label>Create User?</label>
        <locationX>206</locationX>
        <locationY>116</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Can_Create_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckCreateUserPermission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AW_GetRecordId</targetReference>
            </connector>
            <label>Can Create User</label>
        </rules>
        <rules>
            <name>Cannot_Create_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckCreateUserPermission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Permissions</targetReference>
            </connector>
            <label>Cannot Create User</label>
        </rules>
    </decisions>
    <description>Allows the user to create a community user for an existing account</description>
    <formulas>
        <name>CheckCreateUserPermission</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.AW_FeatureSwitches__c.AW_Create_Community_User__c} = True</expression>
    </formulas>
    <interviewLabel>Create Community User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Community User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>AW_GetRecordId</name>
        <label>Get Record Id</label>
        <locationX>408</locationX>
        <locationY>111</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AW_GetUserAccountID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AW_AccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
        <queriedFields>AW_CommunityUserCreationInitiated__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Returns an existing user id</description>
        <name>AW_GetUserAccountID</name>
        <label>Get User Account Id</label>
        <locationX>525</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AW_UserExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>AW_UserAccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>AW_GetUserEmail</name>
        <label>Get User Email</label>
        <locationX>530</locationX>
        <locationY>354</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AW_DuplicateEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AW_AccountRecord.PersonEmail</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>AW_User</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Confirm on account to create the community user</description>
        <name>AW_ConfirmUserCreation</name>
        <label>Confirm User Creation</label>
        <locationX>532</locationX>
        <locationY>525</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AW_AccountRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AW_CommunityUserCreationInitiated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>AW_BlankEmailMessage1</name>
        <label>Blank Email Message</label>
        <locationX>866</locationX>
        <locationY>223</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AW_BlankEmailMessage</name>
            <fieldText>&lt;p&gt;&lt;b&gt;No email address found&lt;/b&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Close this message to return to the account and capture the email address.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AW_DisplayUserInfo1</name>
        <label>Display User Info</label>
        <locationX>866</locationX>
        <locationY>480</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AW_ConfirmUserCreation</targetReference>
        </connector>
        <fields>
            <name>AW_DisplayUserInfo</name>
            <fieldText>&lt;p&gt;The email address provided on the account will be used as the username for the community user: &lt;b&gt;&lt;i&gt;{!AW_AccountRecord.PersonEmail}&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;To change the username, close the form and update the account before proceeding&lt;/li&gt;&lt;li&gt;To  proceed to create the user, select &apos;Next&apos;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AW_DuplicateEmailMessage1</name>
        <label>Duplicate Email Message</label>
        <locationX>865</locationX>
        <locationY>333</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AW_DuplicateEmailMessage</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Email address exists.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Close this message to return to the account and capture a different email address.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AW_DuplicateUserMessage1</name>
        <label>Duplicate User Message</label>
        <locationX>863</locationX>
        <locationY>87</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AW_DuplicateUserMessage</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Community user already exists for this account.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invalid_Permissions</name>
        <label>Invalid Permissions</label>
        <locationX>266</locationX>
        <locationY>343</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CannotCreatePortalUser</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;i&gt;This feature will be made available soon for you to invite your client to start using the client community for better collaboration&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>112</locationY>
        <connector>
            <targetReference>Create_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AW_AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AW_PermissionSetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the select profile&apos;s Id to be used when creating a user</description>
        <name>AW_ProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>AW_User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <description>Store the id found on the User object for the account</description>
        <name>AW_UserAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AW_UserAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>AW_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
