flows/AW_FLOW_OutstandingRequirementStatusCodeChangeNotification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AW_NotifyOwner</name>
        <label>Notify Owner</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>AW_GetCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>AW_OutstandingRequirementNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>AW_OutstandingRequirementNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>AW_NotificationRecepientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AW_AssignOwner</name>
        <label>Assign Owner to Recipient Id</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>AW_NotificationRecepientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AW_GetCustomNotification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AW_AdviserWorkbenchRecordType</name>
        <label>Adviser Workbench Record Type?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AW_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AW_Account__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AW_PersonAccount</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AW_MasterAccount__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AW_LibertyMasterIndividualClient</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AW_Account__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AW_Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AW_Account__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AW_Household</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AW_Account__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AW_LibertyMasterBusinessClient</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AW_Opportunity__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AW_DefaultOpportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AW_Opportunity__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AW_LibertyBusinessOpportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AW_AssignOwner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow sends a push notification to the Adviser when the Pinball Code or Processing Status is updated.</description>
    <interviewLabel>Outstanding Requirement Status Code Change Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Outstanding Requirement Status Code Change Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>AW_GetCustomNotification</name>
        <label>Get Custom Notification</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AW_NotifyOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AW_OutstandingRequirementStatusCodeChange</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AW_AdviserWorkbenchRecordType</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AW_Pinball_Code__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AW_ProcessingStatus__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AW_Outstanding_Requirement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AW_OutstandingRequirementNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The following Outstanding Requirement&apos;s Status has moved from &apos;{!$Record__Prior.AW_Pinball_Code__c}&apos; to &apos;{!$Record.AW_Pinball_Code__c}&apos;:
Name: {!$Record.Name}
Processing Status: {!$Record.AW_ProcessingStatus__c}
Related Client: {!$Record.AW_Account__r.Name} {!$Record.AW_Account__r.FirstName}  {!$Record.AW_Account__r.LastName}
Related Opportunity: {!$Record.AW_Opportunity__r.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>AW_OutstandingRequirementNotificationTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>An Outstanding Requirement Status has been updated!</text>
    </textTemplates>
    <variables>
        <name>AW_NotificationRecepientId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
