flows/AW_FLOW_NewLead.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>AW_NavigateToLead</name>
        <label>Navigate to lead</label>
        <locationX>797</locationX>
        <locationY>896</locationY>
        <actionName>c:navigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>leadRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Verify_Lead_Access</name>
        <label>Verify Lead Access</label>
        <locationX>334</locationX>
        <locationY>176</locationY>
        <actionName>AW_FLOW_VerifyObjectAccess</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Lead_Access</targetReference>
        </connector>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <elementReference>Lead_API_Name</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>LeadCreateAccess</assignToReference>
            <name>hasCreateAccess</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Update_Lead_Assignment</name>
        <label>Update Lead Assignment</label>
        <locationX>1114</locationX>
        <locationY>788</locationY>
        <assignmentItems>
            <assignToReference>leadRecord.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AW_FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AW_LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.AW_IdentificationType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.AW_DateOfBirth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AW_Date_of_birth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.AW_IdentificationNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AW_IdentificationNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.AW_LeadType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadTypeChoiceSet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.PersonMobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.AW_ProductInterest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductServiceInterestChoiceSet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.FinServ__ReferredByContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AW_LookupExternalReferrer2.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.FinServ__RelatedAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedAccountIdOutput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lead_Fields</name>
        <label>Update Lead Fields</label>
        <locationX>913</locationX>
        <locationY>598</locationY>
        <assignmentItems>
            <assignToReference>leadRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.AW_DateOfBirth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Birth_NewLead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadRecord.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Description_New_Lead</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.AW_LeadType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadTypeChoiceSet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.AW_ProductInterest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductServiceInterestChoiceSet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.AW_IdentificationType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdentificationTypeChoiceSet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.AW_IdentificationNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Identification_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.FinServ__ReferredByContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AW_LookupExternalReferrer1.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.FinServ__RelatedAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedAccountIdOutput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_New_Lead_Fields</name>
        <label>Update New Lead Fields</label>
        <locationX>479</locationX>
        <locationY>730</locationY>
        <assignmentItems>
            <assignToReference>leadRecord.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emailOutput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.AW_DateOfBirth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Birth_NewLead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.AW_IdentificationType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdentificationTypeChoiceSet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.AW_IdentificationNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Identification_Number_NewLead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.AW_ProductInterest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductServiceInterestChoiceSet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.AW_LeadType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadTypeChoiceSet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.AW_PassportCountryOfIssue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedCountryIdOutput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.FinServ__ReferredByContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AW_LookupExternalReferrer.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadSource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BlankChoice</name>
        <choiceText>Select an option</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>IdentificationTypeChoice</name>
        <choiceText>{!accountRecord.AW_IdentificationType__pc}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>accountRecord.AW_IdentificationType__pc</elementReference>
        </value>
    </choices>
    <choices>
        <name>Lead_Type</name>
        <choiceText>{!LeadTypeChoiceSet}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>LeadTypeChoiceSet</elementReference>
        </value>
    </choices>
    <choices>
        <name>Passport</name>
        <choiceText>Passport</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Passport</stringValue>
        </value>
    </choices>
    <choices>
        <name>SA_ID</name>
        <choiceText>South African ID</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>South African ID</stringValue>
        </value>
    </choices>
    <constants>
        <name>Checked</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <constants>
        <name>False</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </constants>
    <constants>
        <name>Lead_API_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </constants>
    <constants>
        <name>True</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>Additional_Information</name>
        <label>Additional Information</label>
        <locationX>475</locationX>
        <locationY>497</locationY>
        <defaultConnector>
            <targetReference>Update_New_Lead_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_Inform</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>More_Information</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>More_Client_Information</targetReference>
            </connector>
            <label>More Information</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Lead_Access</name>
        <label>Create Lead Access</label>
        <locationX>561</locationX>
        <locationY>177</locationY>
        <defaultConnector>
            <targetReference>Finish</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadCreateAccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>True</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_new_lead_or_referral</targetReference>
            </connector>
            <label>Has Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Identification_Type_Blank</name>
        <label>Identification Type Blank</label>
        <locationX>1403</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>AW_Existing_Client_Lead_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Identification_Type_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountRecord.AW_IdentificationType__pc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>SA_ID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.AW_IdentificationType__pc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Passport</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Client_Lead_Creation</targetReference>
            </connector>
            <label>No Identification Type Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Or_Existing_Book_Outcome</name>
        <label>New Or Existing Book Outcome</label>
        <locationX>804</locationX>
        <locationY>414</locationY>
        <defaultConnector>
            <targetReference>New_Client</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exisitng_Book_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadTypeChoiceSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Book</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Client</targetReference>
            </connector>
            <label>Exisitng Book Outcome</label>
        </rules>
    </decisions>
    <description>Manage the creation of a Lead/Referral</description>
    <dynamicChoiceSets>
        <name>ID</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AW_IdentificationType__pc</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IdentificationTypeChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AW_IdentificationType__pc</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AW_LeadType__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadTypeChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AW_LeadType__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Product_Interest</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AW_ProductInterest__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductServiceInterestChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AW_ProductInterest__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SubProductInterest</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AW_SubProductInterest__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>currentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Create a New Lead/Referral {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a New Lead/Referral</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>795</locationX>
        <locationY>707</locationY>
        <connector>
            <targetReference>AW_NavigateToLead</targetReference>
        </connector>
        <inputReference>leadRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>1386</locationX>
        <locationY>420</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Identification_Type_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedAccountIdOutput</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>accountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>PersonMobilePhone</queriedFields>
        <queriedFields>PersonBirthdate</queriedFields>
        <queriedFields>AW_IdentificationType__pc</queriedFields>
        <queriedFields>AW_IdentificationNumber__pc</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>ShippingCountry</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
        <queriedFields>ShippingState</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
    </recordLookups>
    <screens>
        <name>AW_Existing_Client_Lead_Creation</name>
        <label>Existing Client - Lead Creation</label>
        <locationX>1409</locationX>
        <locationY>786</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Lead_Assignment</targetReference>
        </connector>
        <fields>
            <name>AW_LeadSourceInformation2</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Lead Source Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AW_LeadandReferralSource2</name>
            <choiceReferences>LeadSource</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lead and Referral Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AW_LookupExternalReferrer2</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>FinServ__ReferredByContact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>External Referrer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AW_LeadReferralInformation2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Lead / Referral Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AW_FirstName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountRecord.FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AW_LastName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountRecord.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AW_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>accountRecord.PersonEmail</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AW_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>accountRecord.PersonMobilePhone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Phone Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <elementReference>True</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AW_Date_of_birth</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>accountRecord.PersonBirthdate</elementReference>
            </defaultValue>
            <fieldText>Date of birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>IdentificationTypeChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>IdentificationTypeChoice</defaultSelectedChoiceReference>
            <fieldText>Identification Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AW_IdentificationNumber</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountRecord.AW_IdentificationNumber__pc</elementReference>
            </defaultValue>
            <fieldText>Identification Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 29, 14); background-color: rgb(255, 255, 255);&quot;&gt;Please enter a valid South African ID number&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF( Contains({!Type},   &apos;South African ID&apos;),
   REGEX( {!AW_IdentificationNumber}, 
&quot;(((\\d{2}((0[13578]|1[02])(0[1-9]|[12]\\d|3[01])|(0[13456789]|1[012])(0[1-9]|[12]\\d|30)|02(0[1-9]|1\\d|2[0-8])))|([02468][048]|[13579][26])0229))(( |-)(\\d{4})( |-)(\\d{3})|(\\d{7}))&quot;) ,
 TRUE)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>AW_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>accountRecord.ShippingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>accountRecord.ShippingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>accountRecord.ShippingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>accountRecord.ShippingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>accountRecord.ShippingStreet</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>leadRecord.City</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>leadRecord.Country</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>leadRecord.PostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>leadRecord.State</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>leadRecord.Street</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <fields>
            <name>AW_Product_Service_Interest</name>
            <choiceReferences>BlankChoice</choiceReferences>
            <choiceReferences>ProductServiceInterestChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product/Service Interest</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Choose whether new or existing client</description>
        <name>Create_a_new_lead_or_referral</name>
        <label>Create a new lead or referral</label>
        <locationX>814</locationX>
        <locationY>175</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Or_Existing_Book_Outcome</targetReference>
        </connector>
        <fields>
            <name>Create_new_lead_or_refferal</name>
            <choiceReferences>LeadTypeChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this New Business or from your Existing book?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Existing_Client</name>
        <label>Existing Client</label>
        <locationX>1178</locationX>
        <locationY>423</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
        <fields>
            <name>AccountSearchInstruction</name>
            <fieldText>&lt;p&gt;Search for your client&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountLookupSearch</name>
            <extensionName>c:accountLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>SelectedAccountId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedAccountIdOutput</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Existing_Client_Lead_Creation</name>
        <label>Existing Client - Lead Creation</label>
        <locationX>1105</locationX>
        <locationY>575</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Lead_Fields</targetReference>
        </connector>
        <fields>
            <name>AW_LeadSourceInformation1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Lead Source Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AW_LeadandReferralSource1</name>
            <choiceReferences>LeadSource</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lead and Referral Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AW_LookupExternalReferrer1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>FinServ__ReferredByContact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>External Referrer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AW_LeadReferralInformation1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Lead / Referral Information﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountRecord.FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!accountRecord.FirstName}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountRecord.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>accountRecord.PersonEmail</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>leadRecord.Email</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>accountRecord.PersonMobilePhone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Phone Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <elementReference>True</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>leadRecord.MobilePhone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Date_of_birth</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>accountRecord.PersonBirthdate</elementReference>
            </defaultValue>
            <fieldText>Date of birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>IdentificationTypeExisting</name>
            <choiceReferences>IdentificationTypeChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Identification Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;IF({!IdentificationTypeChoice} = &apos;&lt;span style=&quot;color: rgb(107, 109, 112); background-color: rgb(255, 255, 255);&quot;&gt;South African ID&lt;/span&gt;&apos;, IdentificationTypeExisting = {!True}, {!False})&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Identification_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountRecord.AW_IdentificationNumber__pc</elementReference>
            </defaultValue>
            <fieldText>Identification Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter a valid South African ID number {!$Flow.FaultMessage}&lt;/p&gt;</errorMessage>
                <formulaExpression>IF( Contains({!IdentificationTypeExisting},   &apos;South African ID&apos;),
   REGEX( {!Identification_Number}, 
&quot;(((\\d{2}((0[13578]|1[02])(0[1-9]|[12]\\d|3[01])|(0[13456789]|1[012])(0[1-9]|[12]\\d|30)|02(0[1-9]|1\\d|2[0-8])))|([02468][048]|[13579][26])0229))(( |-)(\\d{4})( |-)(\\d{3})|(\\d{7}))&quot;) ,
 TRUE)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>accountRecord.ShippingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>accountRecord.ShippingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>accountRecord.ShippingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>accountRecord.ShippingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>accountRecord.ShippingStreet</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>leadRecord.City</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>leadRecord.Country</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>leadRecord.PostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>leadRecord.State</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>leadRecord.Street</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Product_Service_Interest</name>
            <choiceReferences>BlankChoice</choiceReferences>
            <choiceReferences>ProductServiceInterestChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product/Service Interest</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DescriptionField</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>793</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AccessDenied</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please note that you don&apos;t have rights to create a Lead/Referral. Please contact your Administrator. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Option to elect to input additional client information</description>
        <name>More_Client_Information</name>
        <label>More Client Information</label>
        <locationX>207</locationX>
        <locationY>510</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_New_Lead_Fields</targetReference>
        </connector>
        <fields>
            <name>AW_LeadSourceInformation</name>
            <fieldText>&lt;p&gt;﻿&lt;b&gt;Lead Source Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AW_LeadandReferralSource</name>
            <choiceReferences>LeadSource</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lead and Referral Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AW_LookupExternalReferrer</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>FinServ__ReferredByContact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>External Referrer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AW_LeadReferralInformation</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Lead / Referral Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_of_Birth_NewLead</name>
            <dataType>Date</dataType>
            <fieldText>Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>IdentificationType</name>
            <choiceReferences>IdentificationTypeChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Identification Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AW_LeadCountryLookup</name>
            <extensionName>c:AW_CMP_LeadCountryLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedCountryIdOutput</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Identification_Number_NewLead</name>
            <dataType>String</dataType>
            <fieldText>Identification Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_NewLead</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>$Flow.CurrentRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>$Flow.CurrentRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>$Flow.CurrentRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputProvinceOptions</name>
                <value>
                    <elementReference>$Flow.CurrentRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>$Flow.CurrentRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>$Flow.CurrentRecord</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>leadRecord.City</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>leadRecord.Country</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>leadRecord.PostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>leadRecord.State</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>leadRecord.Street</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Client</name>
        <label>New Client</label>
        <locationX>486</locationX>
        <locationY>302</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Additional_Information</targetReference>
        </connector>
        <fields>
            <name>FirstName</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LastName</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mobile</name>
            <dataType>String</dataType>
            <fieldText>Mobile</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>emailNameField</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>emailOutput</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>More_Info</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Would you like to capture more information?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>More_Information</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <pausedText>&lt;p&gt;{!ErrorMessage}&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>176</locationY>
        <connector>
            <targetReference>Verify_Lead_Access</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>emailOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Please Enter Valid South African ID</stringValue>
        </value>
    </variables>
    <variables>
        <name>firstNameOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastNameOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadCreateAccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Mobile_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>More_Information</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>True</elementReference>
        </value>
    </variables>
    <variables>
        <name>SelectedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedAccountIdOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedCountryIdOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
