flows/AW_FLOW_StringSplitter.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AW_AddLeftStringToCollectionVariable</name>
        <label>Add Left String To Collection Variable</label>
        <locationX>192</locationX>
        <locationY>801</locationY>
        <assignmentItems>
            <assignToReference>AW_CollectionOfInputString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AW_LeftString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AW_AssignRightStringToTempString</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AW_AddRightStringToCollectionVariable</name>
        <label>Add Right String To Collection Variable</label>
        <locationX>434</locationX>
        <locationY>1015</locationY>
        <assignmentItems>
            <assignToReference>AW_CollectionOfInputString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AW_RightString</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AW_AssignRightStringToTempString</name>
        <label>Assign Right String To Temp String</label>
        <locationX>192</locationX>
        <locationY>654</locationY>
        <assignmentItems>
            <assignToReference>AW_TempString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AW_RightString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AW_AssignTempStringToInputString</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AW_AssignTempStringToInputString</name>
        <label>Assign Temp String To Input String</label>
        <locationX>192</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>AW_InputString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AW_TempString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AW_CheckLengthOfInputString</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AW_RemoveSeparatorFromEnd</name>
        <label>Remove Separator From End</label>
        <locationX>701</locationX>
        <locationY>714</locationY>
        <assignmentItems>
            <assignToReference>AW_InputString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AW_SeparatorRemovedFromEnd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AW_CheckForNextSeparatorLocation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AW_RemoveSeparatorFromStart</name>
        <label>Remove Separator From Start</label>
        <locationX>698</locationX>
        <locationY>484</locationY>
        <assignmentItems>
            <assignToReference>AW_InputString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AW_RightString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AW_CheckForSeparatorAtEnd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AW_TrimInputStringAndGetLengthOfSeparatorString</name>
        <label>Trim Input String And Get Length Of Separator String</label>
        <locationX>189</locationX>
        <locationY>210</locationY>
        <assignmentItems>
            <assignToReference>AW_InputString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AW_TrimmedInputString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AW_LengthOfSeparatorString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AW_GetLengthOfSeparatorString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AW_CheckLengthOfInputString</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>AW_Comma</name>
        <dataType>String</dataType>
        <value>
            <stringValue>,</stringValue>
        </value>
    </constants>
    <decisions>
        <name>AW_CheckForNextSeparatorLocation</name>
        <label>Check For Next Separator Location</label>
        <locationX>426</locationX>
        <locationY>807</locationY>
        <defaultConnector>
            <targetReference>AW_AddLeftStringToCollectionVariable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AW_LocationIsZero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AW_NextSeparatorLocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AW_AddRightStringToCollectionVariable</targetReference>
            </connector>
            <label>Location Is Zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>AW_CheckForSeparatorAtEnd</name>
        <label>Check For Separator At End</label>
        <locationX>426</locationX>
        <locationY>585</locationY>
        <defaultConnector>
            <targetReference>AW_CheckForNextSeparatorLocation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AW_SeparatorPresentAtEnd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AW_SeparatorAtEnd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AW_RemoveSeparatorFromEnd</targetReference>
            </connector>
            <label>Separator Present At End</label>
        </rules>
    </decisions>
    <decisions>
        <name>AW_CheckForSeparatorAtStart</name>
        <label>Check For Separator At Start</label>
        <locationX>424</locationX>
        <locationY>363</locationY>
        <defaultConnector>
            <targetReference>AW_CheckForSeparatorAtEnd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AW_SeparatorPresentAtStart</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AW_SeparatorAtStart</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AW_RemoveSeparatorFromStart</targetReference>
            </connector>
            <label>Separator Present At Start</label>
        </rules>
    </decisions>
    <decisions>
        <name>AW_CheckLengthOfInputString</name>
        <label>Check Length Of Input String</label>
        <locationX>184</locationX>
        <locationY>364</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AW_LengthIsGreaterThan0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AW_LengthOfInputString</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AW_CheckForSeparatorAtStart</targetReference>
            </connector>
            <label>Length Is Greater Than 0</label>
        </rules>
    </decisions>
    <description>Splits the input string and provides the output to the collection variable.
@author latika.kharbanda@accenture.com
@date October 2021</description>
    <formulas>
        <name>AW_GetLengthOfSeparatorString</name>
        <dataType>Number</dataType>
        <expression>LEN({!AW_SeparatorString})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>AW_LeftString</name>
        <dataType>String</dataType>
        <expression>LEFT({!AW_InputString}, FIND({!AW_SeparatorString}, {!AW_InputString}) - 1)</expression>
    </formulas>
    <formulas>
        <name>AW_LengthOfInputString</name>
        <dataType>Number</dataType>
        <expression>LEN({!AW_InputString})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>AW_NextSeparatorLocation</name>
        <dataType>Number</dataType>
        <expression>FIND({!AW_SeparatorString}, {!AW_InputString})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>AW_RightString</name>
        <dataType>String</dataType>
        <expression>RIGHT({!AW_InputString}, LEN({!AW_InputString})-{!AW_NextSeparatorLocation}-{!AW_LengthOfSeparatorString}+1)</expression>
    </formulas>
    <formulas>
        <name>AW_SeparatorAtEnd</name>
        <dataType>Boolean</dataType>
        <expression>IF(RIGHT({!AW_InputString}, {!AW_LengthOfSeparatorString}) = {!AW_SeparatorString}, True, False)</expression>
    </formulas>
    <formulas>
        <name>AW_SeparatorAtStart</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEFT({!AW_InputString}, {!AW_LengthOfSeparatorString}) = {!AW_SeparatorString}, True, False)</expression>
    </formulas>
    <formulas>
        <name>AW_SeparatorRemovedFromEnd</name>
        <dataType>String</dataType>
        <expression>LEFT({!AW_InputString}, LEN({!AW_InputString})-{!AW_LengthOfSeparatorString})</expression>
    </formulas>
    <formulas>
        <name>AW_TrimmedInputString</name>
        <dataType>String</dataType>
        <expression>TRIM({!AW_InputString})</expression>
    </formulas>
    <interviewLabel>String Splitter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>String Splitter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>63</locationX>
        <locationY>55</locationY>
        <connector>
            <targetReference>AW_TrimInputStringAndGetLengthOfSeparatorString</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AW_CollectionOfInputString</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AW_InputString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AW_LengthOfSeparatorString</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>AW_SeparatorString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>AW_Comma</elementReference>
        </value>
    </variables>
    <variables>
        <name>AW_TempString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
