flows/AW_FLOW_EnvelopeStatusChangeNotification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Owner</name>
        <label>Notify Owner</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>AW_Get_Notification_Details.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>AW_NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>AW_Notification_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>AW_Notification_Recipeint_Ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AW_Assign_Envelop_OwnerId</name>
        <label>Assign Owner ID to Notification Receipients</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>AW_Notification_Recipeint_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AW_Get_Notification_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AW_AdviserWorkbenchRecordType</name>
        <label>Adviser Workbench Record Type?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AW_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AW_DefaultEnvelope</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AW_Assign_Envelop_OwnerId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow will send email and notification to Envelope Owner when status is changed</description>
    <formulas>
        <description>This variable will store the record link of Envelope</description>
        <name>AW_EnvelopeRecordLink</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_260, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_260))&amp;{!$Record.Id}</expression>
    </formulas>
    <interviewLabel>AW_FLOW_EnvelopeStatusChangeNotification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AW_FLOW_EnvelopeStatusChangeNotification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>AW_Get_Notification_Details</name>
        <label>Get Notification Details</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notify_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AW_CustomNotificationOnEnvelopeStatusChange</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AW_AdviserWorkbenchRecordType</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>AW_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AW_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Signature</stringValue>
            </value>
        </filters>
        <filters>
            <field>AW_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </filters>
        <filters>
            <field>AW_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed - Document Signed</stringValue>
            </value>
        </filters>
        <object>AW_Envelope__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AW_Notification_Title</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Envelope status has been updated.</text>
    </textTemplates>
    <textTemplates>
        <name>AW_NotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The status of Envelope &apos;{!$Record.Name}&apos; has been updated from &apos;{!$Record__Prior.AW_Status__c}&apos; to &apos;{!$Record.AW_Status__c}&apos;.</text>
    </textTemplates>
    <variables>
        <name>AW_Notification_Recipeint_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
