flows/AW_FLOW_CreateOpportunityForEducationProductRecommendation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NavigateToOpportunity</name>
        <label>Navigate To Opportunity</label>
        <locationX>1151</locationX>
        <locationY>382</locationY>
        <actionName>c:navigateToSObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <constants>
        <name>OpportunityComments</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Einstein Recommendation : EDUCATION PLAN</stringValue>
        </value>
    </constants>
    <decisions>
        <description>This node will validate if the recommendation is accepted or rejected</description>
        <name>CheckRecommendationAccepted</name>
        <label>Check If Recommendation Accepted</label>
        <locationX>405</locationX>
        <locationY>214</locationY>
        <defaultConnector>
            <targetReference>UpdateAccountRejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isRecommendationAccepted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAccount</targetReference>
            </connector>
            <label>Accepted</label>
        </rules>
    </decisions>
    <description>This Flow is used called from Education Plan Recommendations from Account</description>
    <formulas>
        <description>This variable will store the value as 10 days more than today&apos;s date.</description>
        <name>opportunityCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} +10</expression>
    </formulas>
    <interviewLabel>Create Opportunity For Education Product Recommendation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Opportunity For Education Product Recommendation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>This node will create new opportunity</description>
        <name>CreateOpportunity</name>
        <label>Create Opportunity</label>
        <locationX>879</locationX>
        <locationY>384</locationY>
        <assignRecordIdToReference>opportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>NavigateToOpportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AW_CommentsNotes__c</field>
            <value>
                <elementReference>OpportunityComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AW_ProductInterest__c</field>
            <value>
                <stringValue>Investment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>opportunityCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Einstein</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GetAccount.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualify</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Liberty Product</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <description>This node will retrieve the associated account data.</description>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>176</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckRecommendationAccepted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>This node will update the investment score flag in accounts</description>
        <name>UpdateAccount</name>
        <label>Update Account</label>
        <locationX>661</locationX>
        <locationY>383</locationY>
        <connector>
            <targetReference>CreateOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AW_PredictionEducationModelStatus__c</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>This node will update the score flag as Rejected</description>
        <name>UpdateAccountRejected</name>
        <label>Update Account Rejected</label>
        <locationX>412</locationX>
        <locationY>20</locationY>
        <connector>
            <targetReference>RejectionMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AW_PredictionEducationModelStatus__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>RejectionMessage</name>
        <label>RejectionMessage</label>
        <locationX>537</locationX>
        <locationY>22</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You have rejected the recommendation for Education Product Group.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>This variable tells if the recommendation is accepted or rejected by user</description>
        <name>isRecommendationAccepted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable will store the name of the policies currently associated with accounts</description>
        <name>policyList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
