flows/AW_FLOW_DeleteDocumentChecklistItemsFiles.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AddAllContentDocumentLinks</name>
        <label>Add All Content Document Links</label>
        <locationX>757</locationX>
        <locationY>743</locationY>
        <assignmentItems>
            <assignToReference>ListOfContentDocumentLink</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempListOfContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_List_of_document_checklist_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddAllContentDocuments</name>
        <label>Add All Content Documents</label>
        <locationX>1022</locationX>
        <locationY>299</locationY>
        <assignmentItems>
            <assignToReference>ListContentDocument</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempListContentDocument</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverContentDocumentLinks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckDocumentLinkNotBlank</name>
        <label>Check Document Link Not Blank</label>
        <locationX>659</locationX>
        <locationY>867</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_List_of_document_checklist_items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TempListOfContentDocumentLink</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddAllContentDocumentLinks</targetReference>
            </connector>
            <label>Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckDocumentNotBlank</name>
        <label>Check Document Not Blank</label>
        <locationX>926</locationX>
        <locationY>190</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DocumentNotBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TempListContentDocument</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddAllContentDocuments</targetReference>
            </connector>
            <label>Document Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Content_Documents_Found</name>
        <label>Content Documents Found</label>
        <locationX>1116</locationX>
        <locationY>500</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListContentDocument</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Content_Document</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow is used to delete Files related to Document Checklist Items when an Envelope has a status of Completed - Document Signed</description>
    <interviewLabel>Delete Document Checklist Items Files {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Document Checklist Items Files</label>
    <loops>
        <name>Iterate_Over_List_of_document_checklist_items</name>
        <label>Iterate Over List of document checklist items</label>
        <locationX>678</locationX>
        <locationY>498</locationY>
        <collectionReference>ListDocumentChecklistItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FetchContentDocumentLinks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IterateOverContentDocumentLinks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>IterateOverContentDocumentLinks</name>
        <label>Iterate Over Content Document Links</label>
        <locationX>938</locationX>
        <locationY>499</locationY>
        <collectionReference>ListOfContentDocumentLink</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FetchContentDocuments</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Content_Documents_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Content_Document</name>
        <label>Delete Content Document</label>
        <locationX>1277</locationX>
        <locationY>499</locationY>
        <inputReference>ListContentDocument</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>FetchAllDocumentChecklistUnderEnvelope</name>
        <label>Fetch All Document Checklist Under Envelope</label>
        <locationX>521</locationX>
        <locationY>498</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_List_of_document_checklist_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>DocumentChecklistItem</object>
        <outputReference>ListDocumentChecklistItem</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Fetch content document link for each checklist</description>
        <name>FetchContentDocumentLinks</name>
        <label>Fetch Content Document Links</label>
        <locationX>572</locationX>
        <locationY>750</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckDocumentLinkNotBlank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_Over_List_of_document_checklist_items.Id</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputReference>TempListOfContentDocumentLink</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FetchContentDocuments</name>
        <label>Fetch Content Documents</label>
        <locationX>839</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckDocumentNotBlank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IterateOverContentDocumentLinks.ContentDocumentId</elementReference>
            </value>
        </filters>
        <object>ContentDocument</object>
        <outputReference>TempListContentDocument</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>41</locationX>
        <locationY>407</locationY>
        <connector>
            <targetReference>FetchAllDocumentChecklistUnderEnvelope</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AW_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed - Document Signed</stringValue>
            </value>
        </filters>
        <object>AW_Envelope__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocumentId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>ListContentDocument</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>ListDocumentChecklistItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DocumentChecklistItem</objectType>
    </variables>
    <variables>
        <name>ListOfContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>TempListContentDocument</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>TempListOfContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
