flows/AW_FLOW_UpdateDateOnEnvelopeWhenStatusChanges.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <description>This will update the date fields on envelope when Status of envelope changes.</description>
    <interviewLabel>Update Date on Envelope When Status Changes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Date on Envelope When Status Changes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>AW_UpdateStatusLastModifiedDate</name>
        <label>Update Status Last Modified Date</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Update_Date_Sent_for_Signature</targetReference>
        </connector>
        <inputAssignments>
            <field>AW_StatusLastModifiedDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Date_Sent_for_Signature</name>
        <label>Update Date Sent for Signature</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AW_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent to Signing Portal</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AW_DateSentForSignature__c</field>
            <value>
                <elementReference>$Record.AW_StatusLastModifiedDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AW_UpdateStatusLastModifiedDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AW_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AW_Envelope__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Envelope</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AW_Envelope__c</objectType>
    </variables>
    <variables>
        <name>EnvelopeReadOnlyRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
