flows/AW_FLOW_CalculateBusinessHours.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AW_AddBusinessHours</name>
        <label>Add Business Hours</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>CMN_FLOW_DatetimeUtilities</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AW_ConvertToGMT</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>increment</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>BusinessHours.addGmt</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dateTimeString</name>
            <value>
                <elementReference>AW_DateTimeInput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>returnFormat</name>
            <value>
                <stringValue>yyyy/MM/dd hh:mm a</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>AW_NotificationTime</assignToReference>
            <name>result</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>AW_ConvertToGMT</name>
        <label>Convert To GMT</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>CMN_FLOW_DatetimeUtilities</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>secondDateString</name>
        </inputParameters>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>Datetime.formatGmt</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dateTimeString</name>
            <value>
                <elementReference>AW_NotificationTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>returnFormat</name>
        </inputParameters>
        <outputParameters>
            <assignToReference>AW_NotificationTime</assignToReference>
            <name>result</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <description>Calculates the next business time based on the input provided.
@author latika.kharbanda@accenture.com
@date October 2021</description>
    <interviewLabel>Calculate Business Hour {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Business Hours</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AW_AddBusinessHours</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AW_DateTimeInput</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AW_NotificationTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
