flows/AW_FLOW_CreateCommunityUserviaProcess.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <formulas>
        <name>ResumeTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (0.2/24/60)</expression>
    </formulas>
    <formulas>
        <description>Last name will be used to create the alias, currently limited to 8 characters</description>
        <name>SubstringLastname</name>
        <dataType>String</dataType>
        <expression>LEFT(SUBSTITUTE({!AW_AccountRecord.LastName}, &apos; &apos;, &apos;&apos;),8)</expression>
    </formulas>
    <interviewLabel>Create Community User via Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Community User via Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>AW_CreateNewUser</name>
        <label>Create New User</label>
        <locationX>364</locationX>
        <locationY>182</locationY>
        <assignRecordIdToReference>AW_UserId</assignRecordIdToReference>
        <connector>
            <targetReference>TransactionBreak</targetReference>
        </connector>
        <inputAssignments>
            <field>AW_ReceiveLeads__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>SubstringLastname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityNickname</field>
            <value>
                <elementReference>AW_AccountRecord.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>AW_AccountRecord.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DefaultGroupNotificationFrequency</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>AW_AccountRecord.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>UTF-8</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>AW_AccountRecord.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>AW_AccountRecord.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_ZA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>AW_ProfileId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <stringValue>Africa/Johannesburg</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserPermissionsSFContentUser</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesContentEmailAsAndWhen</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesContentNoEmail</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>AW_AccountRecord.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordCreates>
    <recordCreates>
        <name>AW_UpdateAssignment</name>
        <label>Update Assignment</label>
        <locationX>775</locationX>
        <locationY>259</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>AW_UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>AW_PermissionSetId</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
    </recordCreates>
    <recordLookups>
        <name>AW_GetPermissionSetId</name>
        <label>Get Permission Set Id</label>
        <locationX>650</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AW_UpdateAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Liberty Customer Community</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>AW_PermissionSetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AW_GetPortalUserProfile</name>
        <label>Get Profile Id</label>
        <locationX>258</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AW_CreateNewUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Liberty Client Community User</stringValue>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>AW_ProfileId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AW_GetRecordId</name>
        <label>Get Record Id</label>
        <locationX>150</locationX>
        <locationY>89</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AW_GetPortalUserProfile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AW_AccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
    </recordLookups>
    <startElementReference>AW_GetRecordId</startElementReference>
    <status>Active</status>
    <variables>
        <name>AW_AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AW_PermissionSetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the select profile&apos;s Id to be used when creating a user</description>
        <name>AW_ProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>AW_User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>AW_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>TransactionBreak</name>
        <label>TransactionBreak</label>
        <locationX>482</locationX>
        <locationY>220</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>BreakCondition</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>AW_GetPermissionSetId</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>ResumeTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>BreakCondition</label>
        </waitEvents>
    </waits>
</Flow>
