flows/AW_FLOW_UpdateLeadStatus.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AW_AssignLeadStatus</name>
        <label>Assign Lead Status</label>
        <locationX>594</locationX>
        <locationY>190</locationY>
        <assignmentItems>
            <assignToReference>AW_LeadRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Schedule Engagement</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AW_UpdateLeadStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AW_NewAssignLeadStatus</name>
        <label>Assign New Lead Status</label>
        <locationX>603</locationX>
        <locationY>357</locationY>
        <assignmentItems>
            <assignToReference>AW_LeadRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hold Engagement</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AW_UpdateLeadStatus</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AW_CheckEventStatus</name>
        <label>Check Event Status</label>
        <locationX>368</locationX>
        <locationY>201</locationY>
        <defaultConnector>
            <targetReference>AW_CheckPastEvent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AW_EventScheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AW_EventRecord.StartDateTime</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>AW_LeadRecord.CreatedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AW_EventRecord.EndDateTime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AW_LeadRecord.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Hold Engagement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AW_AssignLeadStatus</targetReference>
            </connector>
            <label>Event Scheduled</label>
        </rules>
    </decisions>
    <decisions>
        <name>AW_CheckPastEvent</name>
        <label>Check Past Event</label>
        <locationX>380</locationX>
        <locationY>363</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AW_EventHeld</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AW_EventRecord.StartDateTime</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>AW_LeadRecord.CreatedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AW_EventRecord.EndDateTime</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AW_NewAssignLeadStatus</targetReference>
            </connector>
            <label>Event Held</label>
        </rules>
    </decisions>
    <interviewLabel>AW Lead Status Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AW Update Lead Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>AW_GetEventRecord</name>
        <label>Get Event Record</label>
        <locationX>50</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AW_GetLeadRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AW_EventId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputReference>AW_EventRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WhoId</queriedFields>
        <queriedFields>StartDateTime</queriedFields>
        <queriedFields>EndDateTime</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>AW_GetLeadRecord</name>
        <label>Get Lead Record</label>
        <locationX>207</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AW_CheckEventStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AW_EventRecord.WhoId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>AW_LeadRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>AW_UpdateLeadStatus</name>
        <label>Update Lead Status</label>
        <locationX>744</locationX>
        <locationY>259</locationY>
        <inputReference>AW_LeadRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>AW_GetEventRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AW_EventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AW_EventRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>AW_LeadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
