flows/AW_ManageDuplicateTasks.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>check whether task as per criteria exists before creating one</description>
        <name>AW_CreateTaskorNot</name>
        <label>Create Task or Not</label>
        <locationX>344</locationX>
        <locationY>67</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AW_CreateTask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StoreRetrievedTask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AW_InsertNewTask</targetReference>
            </connector>
            <label>Create Task</label>
        </rules>
    </decisions>
    <description>Manages duplicate tasks</description>
    <interviewLabel>ManageDuplicateTasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ManageDuplicateTasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>AW_InsertNewTask</name>
        <label>Insert New Task</label>
        <locationX>529</locationX>
        <locationY>117</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <description>flow</description>
        <name>AW_ManageDuplicateTasks</name>
        <label>Manage Duplicate Tasks</label>
        <locationX>182</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AW_CreateTaskorNot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActivityDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OwnerID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Priority</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>StoreRetrievedTask</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>AW_ManageDuplicateTasks</startElementReference>
    <status>Active</status>
    <variables>
        <name>AW_AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AW_NewTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Represents the ID of the user to be assigned as the owner of the task</description>
        <name>OwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>get clients name</description>
        <name>RetrieveClientName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PersonLifeEvent</objectType>
    </variables>
    <variables>
        <description>Get matching owner is</description>
        <name>RetrieveOwnerId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PersonLifeEvent</objectType>
    </variables>
    <variables>
        <name>StoreRetrievedTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Subject to be set</description>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
