flows/CMN_FLOW_CreateShareRecordForReparentedFinancialAccount.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>apxc_Get_Field_Value</name>
        <label>Get Field Value</label>
        <locationX>785</locationX>
        <locationY>1474</locationY>
        <actionName>CMN_FLOW_GetDynamicFieldValue</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decision_Record_Type_Criteria_Available</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldApiName</name>
            <value>
                <elementReference>gr_Get_Apex_Sharing_Setting.CMN_AccountPublicGroupFieldName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>gr_Get_FA_Account</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>decision_Check_Account_Not_Null</name>
        <label>Check Account Not Null</label>
        <locationX>899</locationX>
        <locationY>1315</locationY>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>outcome_Account_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_FA_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>apxc_Get_Field_Value</targetReference>
            </connector>
            <label>Account Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Check_if_Share_Exists</name>
        <label>Check if Share Exists</label>
        <locationX>1012</locationX>
        <locationY>594</locationY>
        <defaultConnector>
            <targetReference>gr_Get_Apex_Sharing_Setting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doesn&apos;t Exist</defaultConnectorLabel>
        <rules>
            <name>outcome_Share_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_Financial_Account_Share</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dr_Delete_Old_Financial_Account_Share</targetReference>
            </connector>
            <label>Share Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Criteria_Check_NoRT</name>
        <label>Criteria Check - No RT</label>
        <locationX>939</locationX>
        <locationY>1930</locationY>
        <defaultConnectorLabel>Failed Criteria Check</defaultConnectorLabel>
        <rules>
            <name>outcome_Passed_Criteria_Check_NoRT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apxc_Get_Field_Value.stringOutput</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>cr_Create_Platform_Event</targetReference>
            </connector>
            <label>Passed Criteria Check - No RT</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Criteria_Check_RT</name>
        <label>Criteria Check - With RT</label>
        <locationX>583</locationX>
        <locationY>1934</locationY>
        <defaultConnectorLabel>Failed Criteria Check</defaultConnectorLabel>
        <rules>
            <name>outcome_Passed_Criteria_Check_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_Apex_Sharing_Setting.CMN_ObjectRecordTypeName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.RecordType.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Get_Field_Value.stringOutput</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>cr_Create_Platform_Event</targetReference>
            </connector>
            <label>Passed Criteria Check - With RT</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Record_Type_Criteria_Available</name>
        <label>Record Type Criteria Available?</label>
        <locationX>777</locationX>
        <locationY>1702</locationY>
        <defaultConnector>
            <targetReference>decision_Criteria_Check_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exists</defaultConnectorLabel>
        <rules>
            <name>outcome_Record_Type_Doesnt_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_Apex_Sharing_Setting.CMN_ObjectRecordTypeName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_Criteria_Check_NoRT</targetReference>
            </connector>
            <label>Does Not Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Share Record For Reparented Financial Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Share Record For Reparented Financial Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>cr_Create_Platform_Event</name>
        <label>Create Platform Event</label>
        <locationX>773</locationX>
        <locationY>2271</locationY>
        <inputAssignments>
            <field>CMN_IsCreate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMN_ObjectName__c</field>
            <value>
                <elementReference>gr_Get_Apex_Sharing_Setting.CMN_ObjectAPIName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMN_PublicGroupId__c</field>
            <value>
                <elementReference>apxc_Get_Field_Value.stringOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMN_Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CMN_SharingEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>dr_Delete_Old_Financial_Account_Share</name>
        <label>Delete Old Financial Account Share</label>
        <locationX>777</locationX>
        <locationY>732</locationY>
        <connector>
            <targetReference>gr_Get_Apex_Sharing_Setting</targetReference>
        </connector>
        <inputReference>gr_Get_Financial_Account_Share</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>gr_Get_Apex_Sharing_Setting</name>
        <label>Get Apex Sharing Setting</label>
        <locationX>785</locationX>
        <locationY>954</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>gr_Get_FA_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Financial Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CMN_ApexSharingSetting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_FA_Account</name>
        <label>Get FA Account</label>
        <locationX>785</locationX>
        <locationY>1162</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Check_Account_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FinServ__PrimaryOwner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_Financial_Account_Share</name>
        <label>Get Financial Account Share</label>
        <locationX>777</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Check_if_Share_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.FinServ__PrimaryOwner__r.CMN_PublicGroupAccountRead__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinServ__FinancialAccount__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>651</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>gr_Get_Financial_Account_Share</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>FinServ__PrimaryOwner__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>FinServ__FinancialAccount__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>collection_AccountGroupReadIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
