flows/CMN_FLOW_CreatePublicGroupsForShareUpdateOwner.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>decision_Account_Record_Type_Criteria</name>
        <label>Account Record Type Criteria</label>
        <locationX>660</locationX>
        <locationY>1028</locationY>
        <defaultConnectorLabel>Outside Record Type Criteria</defaultConnectorLabel>
        <rules>
            <name>outcome_Within_Record_Type_Criteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_Public_Group_For_Sharing_Setting.CMN_ObjectRecordTypeName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.RecordType.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cr_Create_Platform_Event</targetReference>
            </connector>
            <label>Within Record Type Criteria</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Record_Type_Filter_Available</name>
        <label>Record Type Filter Available?</label>
        <locationX>768</locationX>
        <locationY>713</locationY>
        <defaultConnector>
            <targetReference>cr_Create_Platform_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Available</defaultConnectorLabel>
        <rules>
            <name>outcome_RTAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_Public_Group_For_Sharing_Setting.CMN_ObjectRecordTypeName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_Account_Record_Type_Criteria</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Public Groups For Share (Update - Owner) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Public Groups For Share (Update - Owner)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>cr_Create_Platform_Event</name>
        <label>Create Platform Event</label>
        <locationX>780</locationX>
        <locationY>1333</locationY>
        <inputAssignments>
            <field>CMN_IsCreate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMN_ObjectName__c</field>
            <value>
                <elementReference>gr_Get_Public_Group_For_Sharing_Setting.MasterLabel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMN_PublicGroupId__c</field>
            <value>
                <elementReference>$Record.CMN_PublicGroupAccountRead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMN_Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CMN_SharingEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>gr_Get_Public_Group_For_Sharing_Setting</name>
        <label>Get Public Group For Sharing Setting</label>
        <locationX>776</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Record_Type_Filter_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CMN_PublicGroupForSharingSetting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>gr_Get_Public_Group_For_Sharing_Setting</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
