flows/CMN_FLOW_CreateShareRecordForCaseCreate.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>apxc_Get_Field_Value</name>
        <label>Get Field Value</label>
        <locationX>777</locationX>
        <locationY>1135</locationY>
        <actionName>CMN_FLOW_GetDynamicFieldValue</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decision_Record_Type_Criteria_Available</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldApiName</name>
            <value>
                <elementReference>gr_Get_Apex_Sharing_Setting.CMN_AccountPublicGroupFieldName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>gr_Get_Case_Account</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>decision_Criteria_Check_NoRT</name>
        <label>Criteria Check - No RT</label>
        <locationX>939</locationX>
        <locationY>1574</locationY>
        <defaultConnectorLabel>Failed Criteria Check</defaultConnectorLabel>
        <rules>
            <name>outcome_Passed_Criteria_Check_NoRT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apxc_Get_Field_Value.stringOutput</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>cr_Create_Platform_Event</targetReference>
            </connector>
            <label>Passed Criteria Check - No RT</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Criteria_Check_RT</name>
        <label>Criteria Check - With RT</label>
        <locationX>583</locationX>
        <locationY>1577</locationY>
        <defaultConnectorLabel>Failed Criteria Check</defaultConnectorLabel>
        <rules>
            <name>outcome_Passed_Criteria_Check_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_Apex_Sharing_Setting.CMN_ObjectRecordTypeName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.RecordType.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Get_Field_Value.stringOutput</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>cr_Create_Platform_Event</targetReference>
            </connector>
            <label>Passed Criteria Check - With RT</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Portal_User_Non_Null_Account</name>
        <label>Portal User &amp; Non-Null Account</label>
        <locationX>768</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Fail</defaultConnectorLabel>
        <rules>
            <name>outcome_Portal_User_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STANLIB Portal User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_Get_Apex_Sharing_Setting</targetReference>
            </connector>
            <label>Portal User and Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Record_Type_Criteria_Available</name>
        <label>Record Type Criteria Available?</label>
        <locationX>769</locationX>
        <locationY>1347</locationY>
        <defaultConnector>
            <targetReference>decision_Criteria_Check_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exists</defaultConnectorLabel>
        <rules>
            <name>outcome_Record_Type_Doesnt_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_Apex_Sharing_Setting.CMN_ObjectRecordTypeName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_Criteria_Check_NoRT</targetReference>
            </connector>
            <label>Does Not Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Share Record for Case (Create) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Share Record for Case (Create)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>cr_Create_Platform_Event</name>
        <label>Create Platform Event</label>
        <locationX>773</locationX>
        <locationY>1914</locationY>
        <inputAssignments>
            <field>CMN_IsCreate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMN_ObjectName__c</field>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMN_PublicGroupId__c</field>
            <value>
                <elementReference>apxc_Get_Field_Value.stringOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMN_Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CMN_SharingEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>gr_Get_Apex_Sharing_Setting</name>
        <label>Get Apex Sharing Setting</label>
        <locationX>777</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>gr_Get_Case_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CMN_ApexSharingSetting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_Case_Account</name>
        <label>Get Case Account</label>
        <locationX>777</locationX>
        <locationY>775</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>apxc_Get_Field_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>decision_Portal_User_Non_Null_Account</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>collection_AccountGroupReadIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
