flows/CMN_FLOW_DeletePublicGroupsForShare.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>apxc_Convert_String_to_List</name>
        <label>Convert String to List</label>
        <locationX>776</locationX>
        <locationY>612</locationY>
        <actionName>CMN_FLOW_ConvertCommasToList</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>loop_For_Each_Field</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>csvString</name>
            <value>
                <elementReference>gr_Get_Public_Group_For_Sharing_Setting.CMN_PublicGroupFieldNames__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>apxc_Get_Field_Value</name>
        <label>Get Field Value</label>
        <locationX>776</locationX>
        <locationY>1035</locationY>
        <actionName>CMN_FLOW_GetDynamicFieldValue</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>assignment_Record_Ids</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldApiName</name>
            <value>
                <elementReference>loop_For_Each_Field</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assignment_Record_Ids</name>
        <label>Record Ids Assignment</label>
        <locationX>549</locationX>
        <locationY>930</locationY>
        <assignmentItems>
            <assignToReference>collection_Group_Record_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>apxc_Get_Field_Value.stringOutput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_For_Each_Field</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Delete Public Groups For Share {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Public Groups For Share</label>
    <loops>
        <name>loop_For_Each_Field</name>
        <label>For Each Field</label>
        <locationX>776</locationX>
        <locationY>821</locationY>
        <collectionReference>apxc_Convert_String_to_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>apxc_Get_Field_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>gr_Get_Group_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>dr_Delete_Groups</name>
        <label>Delete Groups</label>
        <locationX>1398</locationX>
        <locationY>824</locationY>
        <inputReference>gr_Get_Group_Records</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>gr_Get_Group_Records</name>
        <label>Get Group Records</label>
        <locationX>1133</locationX>
        <locationY>824</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dr_Delete_Groups</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>collection_Group_Record_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_Public_Group_For_Sharing_Setting</name>
        <label>Get Public Group For Sharing Setting</label>
        <locationX>776</locationX>
        <locationY>407</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>apxc_Convert_String_to_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CMN_PublicGroupForSharingSetting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>gr_Get_Public_Group_For_Sharing_Setting</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CMN_PublicGroupAccountRead__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>CMN_PublicGroupCaseRead__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>collection_Group_Record_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
