flows/CMN_FLOW_WebServiceManager.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Will Invoke the API and provide response variables</description>
        <name>CMN_InvokeAPI</name>
        <label>Invoke API</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <actionName>CMN_FACTORY_WebserviceManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CMN_ChooseOutputScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>transformClassName</name>
            <value>
                <elementReference>CMN_TranformerClassName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>elementName</name>
            <value>
                <elementReference>CMN_ExtractElement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parameters</name>
            <value>
                <elementReference>CMN_Parameters</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>transformToTable</name>
            <value>
                <elementReference>CMN_ShowResponseAsTable</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>triggerObjectId</name>
            <value>
                <elementReference>CMN_TriggeringObjectIId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>webServiceClassName</name>
            <value>
                <elementReference>CMN_APIClassesPicklistValues</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <description>Will choose output screen based on what was chosen when web service was run</description>
        <name>CMN_ChooseOutputScreen</name>
        <label>Choose Output Screen</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>CMN_RawResponse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Show Raw</defaultConnectorLabel>
        <rules>
            <name>CMN_ShowTable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CMN_ShowResponseAsTable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CMN_TableResponse</targetReference>
            </connector>
            <label>Show Table</label>
        </rules>
        <rules>
            <name>CMN_ShowError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CMN_InvokeAPI.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CMN_ErrorResponse</targetReference>
            </connector>
            <label>Show Error</label>
        </rules>
        <rules>
            <name>CMN_Show_Element</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CMN_ExtractElement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CMN_InvokeAPI.elementValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CMN_ElementResponse</targetReference>
            </connector>
            <label>Show Element</label>
        </rules>
    </decisions>
    <description>Fixed SOAP response not displaying</description>
    <dynamicChoiceSets>
        <name>CMN_APIRecordChoice</name>
        <dataType>String</dataType>
        <displayField>DeveloperName</displayField>
        <object>CMN_WebserviceSetting__mdt</object>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>If the payload is in SOAP format, This Flag should be true and to be used for component visibility</description>
        <name>CMN_SOAPResponseFlag</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!CMN_InvokeAPI.payload},&quot;&lt;?xml&quot;)</expression>
    </formulas>
    <interviewLabel>Web Service Manager {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CMN Web Service Manager</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>CMN_CallParameters</name>
        <label>Call Parameters</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CMN_InvokeAPI</targetReference>
        </connector>
        <fields>
            <name>CMN_APIClassesPicklistValues</name>
            <choiceReferences>CMN_APIRecordChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Class Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CMN_Parameters</name>
            <defaultValue>
                <stringValue>searchKey=FUN000008611,searchType=POLICYNUMBER</stringValue>
            </defaultValue>
            <fieldText>Parameters (CSV name value list)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CMN_TriggeringObjectIId</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>0032z000001yzdkAAA</stringValue>
            </defaultValue>
            <fieldText>Triggering Object Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CMN_TranformerClassName</name>
            <dataType>String</dataType>
            <fieldText>Tranformer Class Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CMN_ExtractElement</name>
            <dataType>String</dataType>
            <fieldText>JSON Element to extract</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CMN_ShowResponseAsTable</name>
            <dataType>Boolean</dataType>
            <fieldText>Show response as Data Table</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CMN_ElementResponse</name>
        <label>Element Response</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CMN_ElementResponseHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; font-family: tahoma;&quot;&gt;Element Response&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CMN_ElementResponseCallParameters</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;Service Name &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;: &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: tahoma; color: rgb(24, 27, 186);&quot;&gt;{!CMN_APIClassesPicklistValues}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;Parameters &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;: &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: tahoma; color: rgb(24, 27, 186);&quot;&gt;{!CMN_Parameters}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-family: tahoma; color: rgb(62, 62, 60);&quot;&gt;Element Name:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: tahoma; color: rgb(62, 62, 60);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: tahoma; color: rgb(24, 27, 186);&quot;&gt; {!CMN_ExtractElement}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-family: tahoma;&quot;&gt;Element Value : &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(24, 27, 186); font-family: tahoma;&quot;&gt;{!CMN_InvokeAPI.elementValue}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CMN_ErrorResponse</name>
        <label>Error Response</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CMN_ErrorResponseHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-family: tahoma; font-size: 16px;&quot;&gt;Error Response&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CMN_ErrorResponseCallParameters</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255);&quot;&gt;Service Name &lt;/b&gt;&lt;span style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255);&quot;&gt;: &lt;/span&gt;&lt;span style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(24, 27, 186);&quot;&gt;{!CMN_APIClassesPicklistValues}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255);&quot;&gt;Parameters &lt;/b&gt;&lt;span style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255);&quot;&gt;: &lt;/span&gt;&lt;span style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(24, 27, 186);&quot;&gt;{!CMN_Parameters}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255);&quot;&gt;﻿Trigger Object &lt;/b&gt;&lt;span style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255);&quot;&gt;Id : &lt;/span&gt;&lt;span style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(24, 27, 186);&quot;&gt;{!CMN_TriggeringObjectIId}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255);&quot;&gt;﻿Queue Item Id:&lt;/b&gt;&lt;span style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255);&quot;&gt;  &lt;/span&gt;&lt;span style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(24, 27, 186);&quot;&gt;{!CMN_InvokeAPI.queueItemId}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CMN_ErrorMessage</name>
            <extensionName>c:cmnLwcJSONViewer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>jsonText</name>
                <value>
                    <elementReference>CMN_InvokeAPI.payload</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CMN_RawResponse</name>
        <label>Raw Response</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CMN_RawResponseHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; font-family: tahoma;&quot;&gt;Raw Response&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CMN_RawResponseCallParameters</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255);&quot;&gt;Service Name &lt;/b&gt;&lt;span style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255);&quot;&gt;: &lt;/span&gt;&lt;span style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(24, 27, 186);&quot;&gt;{!CMN_APIClassesPicklistValues}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255);&quot;&gt;Parameters &lt;/b&gt;&lt;span style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255);&quot;&gt;: &lt;/span&gt;&lt;span style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(24, 27, 186);&quot;&gt;{!CMN_Parameters}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255);&quot;&gt;﻿Trigger Object &lt;/b&gt;&lt;span style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255);&quot;&gt;Id : &lt;/span&gt;&lt;span style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(24, 27, 186);&quot;&gt;{!CMN_TriggeringObjectIId}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255);&quot;&gt;﻿Queue Item Id:&lt;/b&gt;&lt;span style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255);&quot;&gt;  &lt;/span&gt;&lt;span style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(24, 27, 186);&quot;&gt;{!CMN_InvokeAPI.queueItemId}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CMN_DisplayJSON</name>
            <extensionName>c:cmnLwcJSONViewer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>jsonText</name>
                <value>
                    <elementReference>CMN_InvokeAPI.payload</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CMN_SOAPResponseFlag</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CMN_SOAPPayload</name>
            <extensionName>c:cmnLwcSOAPViewer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>payload</name>
                <value>
                    <elementReference>CMN_InvokeAPI.payload</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CMN_SOAPResponseFlag</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CMN_TableResponse</name>
        <label>Table Response</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CMN_TableResponseHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-family: tahoma; font-size: 16px;&quot;&gt;Table Response&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CMN_TableResponseCallParameters</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Service Name &lt;/b&gt;&lt;span style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;: &lt;/span&gt;&lt;span style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(24, 27, 186);&quot;&gt;{!CMN_APIClassesPicklistValues}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Parameters &lt;/b&gt;&lt;span style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;: &lt;/span&gt;&lt;span style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(24, 27, 186);&quot;&gt;{!CMN_Parameters}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;﻿Trigger Object &lt;/b&gt;&lt;span style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Id : &lt;/span&gt;&lt;span style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(24, 27, 186);&quot;&gt;{!CMN_TriggeringObjectIId}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;﻿Queue Item Id:&lt;/b&gt;&lt;span style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;  &lt;/span&gt;&lt;span style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(24, 27, 186);&quot;&gt;{!CMN_InvokeAPI.queueItemId}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CMN_DataTable</name>
            <extensionName>c:cmnLwcDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>inputPayload</name>
                <value>
                    <elementReference>CMN_InvokeAPI.payload</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isMultipleSelect</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CMN_CallParameters</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
