flows/CMN_FLOW_SendSMS.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CMN_Send_MS</name>
        <label>Send SMS</label>
        <locationX>639</locationX>
        <locationY>460</locationY>
        <actionName>CMN_FACTORY_WebserviceManager</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>parameters</name>
            <value>
                <stringValue>{!CMN_TemplateName},{!CMN_RecipientNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>triggerObjectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>webServiceClassName</name>
            <value>
                <stringValue>SC_API_SendSMS</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SC_APIResponseorErrorPayload</assignToReference>
            <name>payload</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>SC_APIResponseSuccessIndicator</assignToReference>
            <name>success</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>SC_ExtractedElementValue</assignToReference>
            <name>elementValue</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>SC_QueueItemId</assignToReference>
            <name>queueItemId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>SC_TableRowCount</assignToReference>
            <name>tableRowCount</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>SC_CheckInputParameterforSMS</name>
        <label>Check Input Parameter for SMS</label>
        <locationX>366</locationX>
        <locationY>263</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SC_CheckInputParameter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recipientNumber</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>templateName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CMN_Send_MS</targetReference>
            </connector>
            <label>Check Input Parameter</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CMN_Flow_Send {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CMN_FLOW_SendSMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>366</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SC_CheckInputParameterforSMS</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CMN_RecipientNumber</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>recipientNumber={!recipientNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>CMN_TemplateName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>templateName={!templateName}</text>
    </textTemplates>
    <variables>
        <name>recipientNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To Populate Output Payload</description>
        <name>SC_APIResponseorErrorPayload</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_APIResponseSuccessIndicator</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_ExtractedElementValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_QueueItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_TableRowCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>templateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
