flows/ECM_FLOW_LogAClaim.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ClientClaimConfirmationEmail</name>
        <label>Client Claim Confirmation Email</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <actionName>Case.ECM_ClientClaimConfirmationEmail</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AddContentVersion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmailToContactCentre</name>
        <label>Send Email to Contact Centre</label>
        <locationX>50</locationX>
        <locationY>1718</locationY>
        <actionName>CMN_FLOW_SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetQueue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SendEmailErrorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fileIds</name>
            <value>
                <elementReference>ContentVersionIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddress</name>
            <value>
                <elementReference>GetSendEmailSettings.CMN_OrganizationWideAddressDisplayName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateUniqueName</name>
            <value>
                <stringValue>ECM_ClaimSubmission</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>GetSendEmailSettings.CMN_ToEmailAddresses__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>Add the content version Id of all the uploaded documents</description>
        <name>AddContentVersion</name>
        <label>Add Content Version</label>
        <locationX>50</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>ContentVersionIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentVersionIdentityDocument</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentVersionIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentVersionDeathCertificateDocument</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentVersionIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentVersionBIDocument</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentVersionIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentVersionBankingDetailsDocument</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentVersionIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentVersionPoliceStatementDocument</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetSendEmailSettings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrepareCaseRecord</name>
        <label>PrepareCaseRecord</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Policy Claim Submission</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetClientAccount.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetClientAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Community</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.ECM_PolicyNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PolicyNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCase</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AccountTypeBondAccount</name>
        <choiceText>Bond Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BondAccount</stringValue>
        </value>
    </choices>
    <choices>
        <name>AccountTypeChequeAccount</name>
        <choiceText>Cheque Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cheque Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>AccountTypeSavingsAccount</name>
        <choiceText>Savings Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SavingsAccount</stringValue>
        </value>
    </choices>
    <choices>
        <name>AccountTypeTransmissionAccount</name>
        <choiceText>Transmission Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TransmissionAccount</stringValue>
        </value>
    </choices>
    <constants>
        <name>orgWideEmailAddressDisplayName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Salesforce ECM Claims</stringValue>
        </value>
    </constants>
    <decisions>
        <name>IsCaseCreated</name>
        <label>Is Case Created</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>CreateCaseErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case Not Created</defaultConnectorLabel>
        <rules>
            <name>CaseCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UploadSupportingDocuments</targetReference>
            </connector>
            <label>Case Created</label>
        </rules>
    </decisions>
    <description>Bug 234130 - New parameter are passed in the Send Email to Contact Centre step</description>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Log a Claim {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Log a Claim</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCase</name>
        <label>Create Case</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>IsCaseCreated</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>CreateCaseErrorScreen</targetReference>
        </faultConnector>
        <inputReference>CaseRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetClientAccount</name>
        <label>Get Client Account</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PolicyInformationScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUser.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQueue</name>
        <label>Get Queue</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ECM Claims Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSendEmailSettings</name>
        <label>Get Send Email Settings</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendEmailToContactCentre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ECM_ClaimSubmission</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CMN_SendEmailSetting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUser</name>
        <label>Get User</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetClientAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCaseOwner</name>
        <label>Update Case Owner</label>
        <locationX>50</locationX>
        <locationY>1958</locationY>
        <connector>
            <targetReference>CompletionScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>BankInformation</name>
        <label>Bank Information</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PrepareCaseRecord</targetReference>
        </connector>
        <fields>
            <name>BankInformationScreenDescription</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 22, 78);&quot;&gt;Bank Information&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 22, 78);&quot;&gt;﻿&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Please supply the relevant banking details on the fields below.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255); color: rgb(194, 57, 52);&quot;&gt;*indicates compulsory fields&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BankName</name>
            <dataType>String</dataType>
            <fieldText>Bank Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AccountNumber</name>
            <dataType>String</dataType>
            <fieldText>Account Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BranchName</name>
            <dataType>String</dataType>
            <fieldText>Branch Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BranchNumber</name>
            <dataType>String</dataType>
            <fieldText>Branch Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BankAccountType</name>
            <choiceReferences>AccountTypeChequeAccount</choiceReferences>
            <choiceReferences>AccountTypeSavingsAccount</choiceReferences>
            <choiceReferences>AccountTypeTransmissionAccount</choiceReferences>
            <choiceReferences>AccountTypeBondAccount</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CompletionScreen</name>
        <label>CompletionScreen</label>
        <locationX>50</locationX>
        <locationY>2078</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CompletionScreenDescription</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 24px; color: rgb(0, 22, 78);&quot;&gt;Your claim has been submitted&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;We acknowledge that we have received a claim for funeral benefits on this policy. We extend our condolences to you and your family at this difficult time.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;We will be in contact shortly should we require any additional information.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Alternatively, you can contact the Liberty call centre directly on 0860 456 789.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CreateCaseErrorScreen</name>
        <label>Create Case Error Screen</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CreateCaseError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Error&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DeceasedInformationScreen</name>
        <label>Deceased Information</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MortuaryInformationScreen</targetReference>
        </connector>
        <fields>
            <name>DeceasedInformationScreenDescription</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 22, 78);&quot;&gt;Deceased Information&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;﻿Please supply the information related to the deceased on the fields below.&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;color: rgb(194, 57, 52);&quot;&gt;*indicates compulsory fields&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DeceasedFullName</name>
            <dataType>String</dataType>
            <fieldText>Deceased Full Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DeceasedIdentificationNumber</name>
            <dataType>String</dataType>
            <fieldText>Deceased’s Identification Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DateOfBirth</name>
            <dataType>Date</dataType>
            <fieldText>Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DateOfDeath</name>
            <dataType>Date</dataType>
            <fieldText>Date of Death</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ExactCauseOfDeath</name>
            <fieldText>Exact cause of death</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MortuaryInformationScreen</name>
        <label>Mortuary Information</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>BankInformation</targetReference>
        </connector>
        <fields>
            <name>MortuaryInformationScreenDescription</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 22, 78);&quot;&gt;Mortuary Information&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 22, 78);&quot;&gt;﻿&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Please supply information on the relevant Mortuary on the fields below.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;color: rgb(194, 57, 52);&quot;&gt;*indicates compulsory fields&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MortuaryName</name>
            <dataType>String</dataType>
            <fieldText>Mortuary Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MortuaryEmailAddressDescription</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;If your mortuary has an email address, please provide it and we will follow up with them directly for additional documentation.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MortuaryEmailAddress</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mortuary Email Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>MortuaryEmailAddressOutput</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PolicyInformationScreen</name>
        <label>Policy Information</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DeceasedInformationScreen</targetReference>
        </connector>
        <fields>
            <name>PolicyInformationDescription</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 22, 78); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;My Policy Information&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please take note of the following before you proceed with submitting your claim. Make sure you have the required documents readily available with you, as this will fast track the process of submitting your claim. You can attach scanned copies of the documents or you can simply use your mobile phone to take pictures of the documents and upload them as part of this process.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A separate application needs to be completed for each policy number.&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;You will need scanned copies (or pictures on your phone) of the following documents:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Claimant&apos;s identity document/copy of the back and front of the ID smart card&lt;/li&gt;&lt;li&gt;Deceased&apos;s identity document&lt;/li&gt;&lt;li&gt;Death certificate&lt;/li&gt;&lt;li&gt;BI-1663: Notification of Death (obtainable from the doctor who certified the death or the undertaker)&lt;/li&gt;&lt;li&gt;Proof of banking details of the claimant&lt;/li&gt;&lt;li&gt;In the event of an unnatural death, a statement from SAPS is required&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Liberty reserves the right to request any additional information and documentation it deems necessary to verify the claim. Incomplete details and unclear documentation may cause delays.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PolicyNumber</name>
            <dataType>String</dataType>
            <fieldText>Policy Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ClaimantsName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetClientAccount.Name</elementReference>
            </defaultValue>
            <fieldText>Claimant&apos;s Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ClaimantsEmail</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetClientAccount.PersonEmail</elementReference>
            </defaultValue>
            <fieldText>Claimant&apos;s Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ClaimantsContactNumber</name>
            <dataType>String</dataType>
            <fieldText>Claimant&apos;s Contact Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ClaimantsIdentityNumber</name>
            <dataType>String</dataType>
            <fieldText>Claimant&apos;s Identity Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <helpText>&lt;p&gt;sdsadasf&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SendEmailErrorScreen</name>
        <label>Send Email Error Screen</label>
        <locationX>314</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SendEmailError</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UploadSupportingDocuments</name>
        <label>Upload Supporting Documents</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ClientClaimConfirmationEmail</targetReference>
        </connector>
        <fields>
            <name>UploadSupportingDocumentsScreenDescription</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 22, 78);&quot;&gt;Upload Supporting Documents&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;﻿Please upload supporting documents as indicated on the fields below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ClaimantIdentityDocumentUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload the claimant’s identity document/copy of the back and front of the ID smart card</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContentVersionIds</assignToReference>
                <name>contentVersionIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Space1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DeceasedIdentityDocument</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload the deceased’s identity document.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContentVersionIdentityDocument</assignToReference>
                <name>contentVersionIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Space2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DeathCertificateUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload the death certificate.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContentVersionDeathCertificateDocument</assignToReference>
                <name>contentVersionIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Space3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NotificationOfDeathUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload the BI 1663: Notification of Death (obtainable from the doctor who certified the death or the undertaker). </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContentVersionBIDocument</assignToReference>
                <name>contentVersionIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Space4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BankingDetailsUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload proof of banking details of the claimant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContentVersionBankingDetailsDocument</assignToReference>
                <name>contentVersionIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Space5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PoliceStatementUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>In the event of an unnatural death, a Statement by Police must be completed.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContentVersionPoliceStatementDocument</assignToReference>
                <name>contentVersionIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetUser</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CaseDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Policy Information
Policy Number: {!PolicyNumber}
Claimant&apos;s Name: {!ClaimantsName}
Claimant&apos;s Email: {!ClaimantsEmail}
Claimant&apos;s Contact Number: {!ClaimantsContactNumber}
Claimant&apos;s Identity Number: {!ClaimantsIdentityNumber}

Deceased Information
Deceased Full Name: {!DeceasedFullName}
Deceased’s Identification Number: {!DeceasedIdentificationNumber}
Date of Birth: {!DateOfBirth}
Date of Death: {!DateOfDeath}
Exact cause of death: {!ExactCauseOfDeath}

Mortuary Information
Mortuary Name: {!MortuaryName}
Mortuary Email Address: {!MortuaryEmailAddressOutput}

Bank Information
Bank Name: {!BankName}
Account Number: {!AccountNumber}
Branch: {!BranchName}
Branch Code: {!BranchNumber}
Account Type: {!BankAccountType}</text>
    </textTemplates>
    <variables>
        <name>BankAccountTypeChoiceSet</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentVersion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>ContentVersionBankingDetailsDocument</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentVersionBIDocument</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentVersionDeathCertificateDocument</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentVersionIdentityDocument</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentVersionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentVersionPoliceStatementDocument</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MortuaryEmailAddressOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadedFileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
