flows/RSC_FLOW_LetterOfAuthorityDocumentUpload.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>RSC_SetIsNotRequired</name>
        <label>Set Is Not Required</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>RSC_SetAuthority</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RSC_CreateDocumentWithIsRequired</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RSC_SetIsRequired</name>
        <label>Set Is Required</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>RSC_SetAuthority</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RSC_CreateDocumentWithIsRequired</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>RSC_CheckCaseRecordType</name>
        <label>Check Case RecordType And Served By Us</label>
        <locationX>611</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Not Retail</defaultConnectorLabel>
        <rules>
            <name>RSC_RetailType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RSC_CaseRetailType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RSC_ServiceType__r.SC_Assignable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RSC_GetAuthorityDocumentType</targetReference>
            </connector>
            <label>RetailType</label>
        </rules>
    </decisions>
    <decisions>
        <description>Used to add the Letter of Authority based on the Requester Type</description>
        <name>RSC_CheckRequesterType</name>
        <label>Check Requester Type</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>RSC_SetIsNotRequired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Customer</defaultConnectorLabel>
        <rules>
            <name>RSC_RequesterTypeNotCustomer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SC_RequesterType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RSC_SetIsRequired</targetReference>
            </connector>
            <label>Non Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>RSC_IsAuthorityDocumentExists</name>
        <label>Is Authority Document Exists</label>
        <locationX>380</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>RSC_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RSC_GetAuthorityDocumentOnCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RSC_CheckRequesterType</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>RSC_FLOW_LetterOfAuthorityDocumentUpload {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RSC_FLOW_LetterOfAuthorityDocumentUpload</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create LOA Document when Requester Type == Customer</description>
        <name>RSC_CreateDocumentWithIsRequired</name>
        <label>Create Document With IsRequired</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>RSC_DeletePreviousAuthorityDocument</targetReference>
        </connector>
        <inputAssignments>
            <field>AW_DateVaulted__c</field>
            <value>
                <elementReference>RSC_GetAuthorityDocumentOnCase.AW_DateVaulted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AW_Vaulted__c</field>
            <value>
                <elementReference>RSC_GetAuthorityDocumentOnCase.AW_Vaulted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMN_VaultedId__c</field>
            <value>
                <elementReference>RSC_GetAuthorityDocumentOnCase.CMN_VaultedId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DocumentTypeId</field>
            <value>
                <elementReference>RSC_GetAuthorityDocumentOnCase.DocumentTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRequired</field>
            <value>
                <elementReference>RSC_SetAuthority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>RSC_GetAuthorityDocumentOnCase.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>RSC_GetAuthorityDocumentOnCase.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>DocumentChecklistItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>RSC_DeletePreviousAuthorityDocument</name>
        <label>Delete Previous Authority Document</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <inputReference>RSC_GetAuthorityDocumentOnCase</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>used to check if the Case has the Letter of  Authority Document</description>
        <name>RSC_GetAuthorityDocumentOnCase</name>
        <label>Get Authority Document On Case</label>
        <locationX>380</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RSC_IsAuthorityDocumentExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>DocumentTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RSC_GetAuthorityDocumentType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DocumentChecklistItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>used to get the document type for Letter of Authority</description>
        <name>RSC_GetAuthorityDocumentType</name>
        <label>Get Authority DocumentType</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RSC_GetAuthorityDocumentOnCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RSC_DocumentTypeDeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DocumentType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RSC_CheckCaseRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SC_RequesterType__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RSC_CaseRetailType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>RSC_Retail</stringValue>
        </value>
    </variables>
    <variables>
        <name>RSC_DocumentTypeDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>DocumentCode_3472</stringValue>
        </value>
    </variables>
    <variables>
        <name>RSC_SetAuthority</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
