flows/RSC_FLOW_SendEmailSubFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RSC_SendCommunicationAction</name>
        <label>Send Communication Action</label>
        <locationX>182</locationX>
        <locationY>2030</locationY>
        <actionName>SC_FLOW_SendCommunication</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>otherComments</name>
            <value>
                <elementReference>RSC_AddAdditionalComments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>passwordProtection</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyWithDocuments</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedAttachments</name>
            <value>
                <elementReference>RSC_CommunicationAttachments.attachments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipients</name>
            <value>
                <elementReference>RSC_ChooseEmailRecipients.recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendEmail</name>
            <value>
                <elementReference>RSC_SendReminder</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>RSC_GetCommunicationTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>RSC_IsSuccess</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>RSC_AssignHandlePrevious</name>
        <label>Assign Handle Previous</label>
        <locationX>204</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>RSC_HandleFlowPrevious</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RSC_AddRecipientsAndComments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RSC_AssignRequestor</name>
        <label>Assign Requestor</label>
        <locationX>336</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>RSC_Requestor.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_GetCaseRecord.SC_RequesterName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_Requestor.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_GetCaseRecord.SC_RequesterEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_Requestor.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_GetCaseRecord.SC_RequesterPhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_Requestor.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_GetCaseRecord.SC_RequesterMobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_Requestor.UserType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_GetCaseRecord.SC_RequesterType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RSC_ShowOnlyRecipientScreenDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RSC_SetSendReminderTrue</name>
        <label>Set Send Reminder True</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>RSC_SendReminder</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RSC_SendCommunicationAction</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>RSC_CheckforOutstandingDocumentsTemplate</name>
        <label>Check for Outstanding Documents Template</label>
        <locationX>182</locationX>
        <locationY>1694</locationY>
        <defaultConnector>
            <targetReference>RSC_SendCommunicationAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RSC_OutstandingDocumentsTemplate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TemplateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RSC_GetOutstandingDocumentsTemplateMap.CMN_TemplateCode__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RSC_SetSendReminderTrue</targetReference>
            </connector>
            <label>Outstanding Documents Template</label>
        </rules>
    </decisions>
    <decisions>
        <name>RSC_IsRecipientSelected</name>
        <label>Is Recipient Selected</label>
        <locationX>336</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>RSC_ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RSC_ChooseEmailRecipients.clientSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RSC_ChooseEmailRecipients.financialAdvisorSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RSC_ChooseEmailRecipients.thirdPartySelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RSC_Confirmation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>This screen will check if the Boolean is true and will only show the recipient screen</description>
        <name>RSC_ShowOnlyRecipientScreenDecision</name>
        <label>Show Only Recipient Screen</label>
        <locationX>336</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>RSC_DisplayOutstandingDocuments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Show All Screens</defaultConnectorLabel>
        <rules>
            <name>RSC_ShowScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RSC_ShowOnlyRecipientScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RSC_AssignHandlePrevious</targetReference>
            </connector>
            <label>Show Screen</label>
        </rules>
    </decisions>
    <description>Sub flow to be used to capture information for the email &amp; trigger the action to send the email to the Papyrus system.</description>
    <environments>Default</environments>
    <interviewLabel>RSC_FLOW_SendEmailSubFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RSC_FLOW_SendEmailSubFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Element used to query account details</description>
        <name>RSC_GetAccountDetails</name>
        <label>Get Account Details</label>
        <locationX>336</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RSC_GetFinancialAdviser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RSC_GetCaseRecord.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RSC_GetCaseRecord</name>
        <label>Get Case Record</label>
        <locationX>336</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RSC_GetCommunicationTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Element to get Communication Template based on the template code.</description>
        <name>RSC_GetCommunicationTemplate</name>
        <label>Get Communication Template</label>
        <locationX>336</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RSC_GetOutstandingDocuments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CMN_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TemplateCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CMN_CommunicationTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Element is used to get the related adviser details.</description>
        <name>RSC_GetFinancialAdviser</name>
        <label>Get Financial Adviser</label>
        <locationX>336</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RSC_AssignRequestor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RSC_GetCaseRecord.SC_ConsultantCode__r.SC_ContactId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Element used to get the outstanding requirements for the selected case.</description>
        <name>RSC_GetOutstandingDocuments</name>
        <label>Get Outstanding Documents</label>
        <locationX>336</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RSC_GetAccountDetails</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DocumentChecklistItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RSC_GetOutstandingDocumentsTemplateMap</name>
        <label>Get Outstanding Documents Template Map</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RSC_CheckforOutstandingDocumentsTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RSC_OutstandingDocumentCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CMN_CommunicationTemplateMap__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>RSC_AddRecipientsAndComments</name>
        <label>Add Recipients And Comments</label>
        <locationX>336</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RSC_IsRecipientSelected</targetReference>
        </connector>
        <fields>
            <name>RSC_Recipients</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 15px; font-family: &amp;quot;Segoe UI VSS (Regular)&amp;quot;,
				&amp;quot;Segoe UI&amp;quot;, -apple-system, BlinkMacSystemFont, Roboto, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Ubuntu, Arial,
				sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;; color: rgba(0, 0, 0,
				0.9);&quot;&gt;Recipients&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RSC_ChooseEmailRecipients</name>
            <dataTypeMappings>
                <typeName>A</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>C</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>U</typeName>
                <typeValue>User</typeValue>
            </dataTypeMappings>
            <extensionName>c:rscLwcChooseEmailRecipients</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>client</name>
                <value>
                    <elementReference>RSC_GetAccountDetails</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>financialAdvisor</name>
                <value>
                    <elementReference>RSC_GetFinancialAdviser</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recipients</name>
                <value>
                    <elementReference>RSC_ChooseEmailRecipients.recipients</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thirdParty</name>
                <value>
                    <elementReference>RSC_Requestor</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>RSC_AddAdditionalComments</name>
            <fieldText>Add Additional Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RSC_Confirmation</name>
        <label>Confirmation</label>
        <locationX>182</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RSC_GetOutstandingDocumentsTemplateMap</targetReference>
        </connector>
        <fields>
            <name>RSC_ConfirmationHeading</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Confirmation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RSC_SelectedEmailTemplate</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Email Template&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!RSC_GetCommunicationTemplate.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RSC_SelectedRecipients</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Selected Recipients:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RSC_Confirmation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RSC_Confirmation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RSC_SelectedClient</name>
                    <fieldText>&lt;p&gt;Client&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RSC_Confirmation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RSC_SelectedClientName</name>
                    <fieldText>&lt;p&gt;{!RSC_GetAccountDetails.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RSC_Confirmation_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RSC_SelectedClientEmail</name>
                    <fieldText>&lt;p&gt;{!RSC_GetAccountDetails.AW_Email__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RSC_GetAccountDetails.IsPersonAccount</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>RSC_SelectedClientPersonEmail</name>
                    <fieldText>&lt;p&gt;{!RSC_GetAccountDetails.PersonEmail}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RSC_GetAccountDetails.IsPersonAccount</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RSC_ChooseEmailRecipients.clientSelected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RSC_Confirmation_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RSC_Confirmation_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RSC_SelectedFinancialAdviser</name>
                    <fieldText>&lt;p&gt;Financial Adviser&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RSC_Confirmation_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RSC_SelectedFinancialAdviserName</name>
                    <fieldText>&lt;p&gt;{!RSC_GetFinancialAdviser.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RSC_Confirmation_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RSC_SelectedFinancialAdviserEmail</name>
                    <fieldText>&lt;p&gt;{!RSC_GetFinancialAdviser.Email}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RSC_ChooseEmailRecipients.financialAdvisorSelected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RSC_Confirmation_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RSC_Confirmation_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RSC_SelectedThirdParty</name>
                    <fieldText>&lt;p&gt;Third Party&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RSC_Confirmation_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RSC_ThirdPartyName</name>
                    <fieldText>&lt;p&gt;{!RSC_Requestor.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RSC_Confirmation_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RSC_ThirdPartyEmail</name>
                    <fieldText>&lt;p&gt;{!RSC_Requestor.Email}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RSC_ChooseEmailRecipients.thirdPartySelected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RSC_Confirmation_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RSC_Confirmation_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RSC_SelectedOutstandingDocumentsHeading</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(62,
						62, 60);&quot;&gt;Outstanding Documents&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>RSC_SelectedDocuments</name>
                    <dataTypeMappings>
                        <typeName>PT</typeName>
                        <typeValue>DocumentChecklistItem</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:rscLwcDocumentsDatatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>records</name>
                        <value>
                            <elementReference>RSC_GetOutstandingDocuments</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TemplateCode</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>01</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RSC_Confirmation_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RSC_Confirmation_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RSC_SelectedForms</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Selected Forms:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>RSC_SelectedStandardForms</name>
                    <extensionName>c:rscLwcShowCommunicationAttachments</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>communicationTemplate</name>
                        <value>
                            <elementReference>RSC_GetCommunicationTemplate.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayType</name>
                        <value>
                            <stringValue>Read</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedAttachmentsPayload</name>
                        <value>
                            <elementReference>RSC_CommunicationAttachments.selectedAttachmentsPayload</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>RSC_Confirmation_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RSC_Confirmation_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RSC_SelectedAdditionalComments</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Additional Comments: &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size:
						14px;&quot;&gt;﻿&lt;/span&gt;{!RSC_AddAdditionalComments}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Send Email</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>This screen is used to display the default email template for the outstanding requirements, display the outstanding documents &amp; allow
			agents to select the forms to be attached with the email.</description>
        <name>RSC_DisplayOutstandingDocuments</name>
        <label>Display Outstanding Documents</label>
        <locationX>468</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RSC_AddRecipientsAndComments</targetReference>
        </connector>
        <fields>
            <name>RSC_SendEmailDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Send email&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RSC_DisplayOutstandingDocuments_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RSC_DisplayOutstandingDocuments_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RSC_DefaultEmailTemplate</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;﻿Email Template&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!RSC_GetCommunicationTemplate.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>RSC_DisplayOutstandingDocuments_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RSC_DisplayOutstandingDocuments_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RSC_OutstandingDocumentsHeading</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(3, 45, 96); font-size: 14px;&quot;&gt;Outstanding &lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(3, 45, 96);&quot;&gt;Documents&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(3, 45, 96);&quot;&gt;	&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;		&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>TemplateCode</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>01</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>RSC_OutstandingDocuments</name>
                    <dataTypeMappings>
                        <typeName>PT</typeName>
                        <typeValue>DocumentChecklistItem</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:rscLwcDocumentsDatatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>records</name>
                        <value>
                            <elementReference>RSC_GetOutstandingDocuments</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>TemplateCode</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>01</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>RSC_StandardFormsHeading</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Choose the attachment that you would like to forward to the requester&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RSC_CommunicationAttachments</name>
            <extensionName>c:rscLwcShowCommunicationAttachments</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>communicationTemplate</name>
                <value>
                    <elementReference>RSC_GetCommunicationTemplate.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedAttachmentsPayload</name>
                <value>
                    <elementReference>RSC_SelectedAttachments</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RSC_ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>490</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Label.RSC_EmailRecipientMandatory}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RSC_GetCaseRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Id of the selected case record</description>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RSC_APIResponses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RSC_HandleFlowPrevious</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable to hold the boolean value of the communication process.</description>
        <name>RSC_IsSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RSC_OutstandingDocumentCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>RSC_OutstandingRequirements</stringValue>
        </value>
    </variables>
    <variables>
        <name>RSC_PreviousButtonClicked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RSC_Requestor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <description>Variable is used to store the selected communication template attachments returned from LWC.</description>
        <name>RSC_SelectedAttachments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RSC_SendReminder</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RSC_ShowOnlyRecipientScreen</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable to hold the template code to be used with the process.</description>
        <name>TemplateCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
