flows/RSC_FLOW_SendAdhocEmail.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>Decision to check if the response is success or not.</description>
        <name>RSC_CheckIfSuccess</name>
        <label>Check if Success</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>RSC_ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Succesful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RSC_Invoke_FLOW_SendEmailSubFlow.RSC_IsSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RSC_SuccessScreen</targetReference>
            </connector>
            <label>Successful</label>
        </rules>
    </decisions>
    <description>Flow  to trigger the email using RSC_FLOW_SendEmail flow when the user selects the Email template option upon clicking the Email button on the case record</description>
    <dynamicChoiceSets>
        <name>RSC_Templates</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <object>CMN_CommunicationTemplateMap__mdt</object>
        <outputAssignments>
            <assignToReference>adhocTemplateCode</assignToReference>
            <field>CMN_TemplateCode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>adhocTemplateLabel</assignToReference>
            <field>Label</field>
        </outputAssignments>
        <valueField>Label</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>RSC_Send Adhoc Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RSC_FLOW_SendAdhocEmail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>RSC_GetAdhocMetadata</name>
        <label>Get Adhoc Metadata</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RSC_Invoke_FLOW_SendEmailSubFlow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CMN_GeneralRequireMoreInformation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CMN_CommunicationTemplateMap__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>RSC_ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI VSS (Regular)&amp;quot;, &amp;quot;Segoe UI&amp;quot;, -apple-system, BlinkMacSystemFont, Roboto, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Ubuntu, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;; font-size: 15px; background-color: rgb(255, 255, 255); color: rgba(0, 0, 0, 0.9);&quot;&gt;Error: Email request failed, please try again&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RSC_SuccessScreen</name>
        <label>Success Screen</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI VSS (Regular)&amp;quot;, &amp;quot;Segoe UI&amp;quot;, -apple-system, BlinkMacSystemFont, Roboto, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Ubuntu, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;; font-size: 15px; background-color: rgb(255, 255, 255); color: rgba(0, 0, 0, 0.9);&quot;&gt;Request Successful&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RSC_GetAdhocMetadata</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>RSC_Invoke_FLOW_SendEmailSubFlow</name>
        <label>Invoke Send Email Sub Flow</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>RSC_CheckIfSuccess</targetReference>
        </connector>
        <flowName>RSC_FLOW_SendEmailSubFlow</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TemplateCode</name>
            <value>
                <elementReference>RSC_GetAdhocMetadata.CMN_TemplateCode__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>adhocTemplateCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>adhocTemplateLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>General Adhoc</stringValue>
        </value>
    </variables>
    <variables>
        <name>CommunicationTemplateDetails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMN_CommunicationTemplateMap__mdt</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
