flows/RSC_FLOW_SynchroniseCase.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RSC_Check_Only_required_fields_are_changed</name>
        <label>Check Only required fields are changed</label>
        <locationX>352</locationX>
        <locationY>863</locationY>
        <actionName>CMN_FLOW_CheckObjectHasChanged</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RSC_Check_Is_Updated</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__newSObject</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__oldSObject</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldSetName</name>
            <value>
                <elementReference>RSC_FieldSetName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newSObject</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldSObject</name>
            <value>
                <elementReference>RSC_OldRecords</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CMN_FLOW_CheckObjectHasChanged</nameSegment>
        <outputParameters>
            <assignToReference>RSC_IsChanged</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>Used to assign all instance of all the Web Service Items</description>
        <name>RSC_AssignAllWebServiceItems</name>
        <label>Assign All Web Service Items</label>
        <locationX>528</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>RSC_WebServiceRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RSC_WebServiceRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RSC_ProcessAllCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Used to create instance of WebService Record</description>
        <name>RSC_CreateInstanceOfWebServiceItem</name>
        <label>Create Instance Of Web Service Item</label>
        <locationX>528</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>RSC_WebServiceRecord.CMN_TriggeringObjectId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_ProcessAllCases.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_WebServiceRecord.CMN_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_WebServiceRecord.CMN_Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_ServiceName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RSC_AssignAllWebServiceItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Used to get all the cases triggered the flow</description>
        <name>RSC_GetAllCases</name>
        <label>Get All Cases</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>RSC_AllCaseRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RSC_ProcessAllCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RSC_Set_OldRecord_values</name>
        <label>Set OldRecord values</label>
        <locationX>352</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>RSC_OldRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RSC_Check_Only_required_fields_are_changed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>RSC_Check_if_old_value_exists</name>
        <label>Check if old value exists</label>
        <locationX>528</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>RSC_CreateInstanceOfWebServiceItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Insert</defaultConnectorLabel>
        <rules>
            <name>RSC_Record_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RSC_Set_OldRecord_values</targetReference>
            </connector>
            <label>Record Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>RSC_Check_Is_Updated</name>
        <label>Check Is Updated</label>
        <locationX>352</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RSC_IsChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RSC_CreateInstanceOfWebServiceItem</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>RSC_Check_Retail_recordtype</name>
        <label>Check Retail Recordtype And Not Integration User</label>
        <locationX>704</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>NotRetail</defaultConnectorLabel>
        <rules>
            <name>RSC_IsRetail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RSC_RecordTypeName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>RSC_IntegrationProfileName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RSC_Check_if_old_value_exists</targetReference>
            </connector>
            <label>IsRetail</label>
        </rules>
    </decisions>
    <description>Flow used to sync Case with an external system when a case is inserted or updated</description>
    <environments>Default</environments>
    <interviewLabel>RSC_FLOW_SynchroniseCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RSC_FLOW_SynchroniseCase</label>
    <loops>
        <description>Used to iterate over all the cases in the collection and check if the case sync can be initiated</description>
        <name>RSC_ProcessAllCases</name>
        <label>Process All Cases</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>RSC_AllCaseRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RSC_Check_Retail_recordtype</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RSC_SendCasesToExternalSystem</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Used to invoke the api asynchronously to invoke the API</description>
        <name>RSC_SendCasesToExternalSystem</name>
        <label>Send Cases To External System</label>
        <locationX>176</locationX>
        <locationY>1739</locationY>
        <inputReference>RSC_WebServiceRecords</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RSC_GetAllCases</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Used to store all the case records</description>
        <name>RSC_AllCaseRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>RSC_AssignWebService</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMN_WebserviceCallQueue__c</objectType>
    </variables>
    <variables>
        <description>variable used to store the fieldSet API name</description>
        <name>RSC_FieldSetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>RSC_MustSynchronise</stringValue>
        </value>
    </variables>
    <variables>
        <name>RSC_IntegrationProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Liberty Service Account</stringValue>
        </value>
    </variables>
    <variables>
        <name>RSC_IsChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>RSC_Check_Only_required_fields_are_changed</elementReference>
        </value>
    </variables>
    <variables>
        <description>Variable used to store the object API name</description>
        <name>RSC_ObjectAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </variables>
    <variables>
        <name>RSC_OldRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>RSC_RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>RSC_Retail</stringValue>
        </value>
    </variables>
    <variables>
        <name>RSC_ServiceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>RSC_API_SynchroniseCase</stringValue>
        </value>
    </variables>
    <variables>
        <description>Used to store the web service record for each case in the loop</description>
        <name>RSC_WebServiceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMN_WebserviceCallQueue__c</objectType>
    </variables>
    <variables>
        <name>RSC_WebServiceRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMN_WebserviceCallQueue__c</objectType>
    </variables>
</Flow>
