flows/RSC_FLOW_SetCaseStatusClosed.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>isStoppedTrue</name>
        <label>isStoppedTrue</label>
        <locationX>645</locationX>
        <locationY>96</locationY>
        <assignmentItems>
            <assignToReference>isStopped</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateIsStopped</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decision to check Case RecordType</description>
        <name>checkRecordType</name>
        <label>checkRecordType</label>
        <locationX>241</locationX>
        <locationY>352</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isRetailRecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RSC_Retail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseStatus</targetReference>
            </connector>
            <label>isRetailRecordType</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSubStatus</name>
        <label>CheckSubStatus</label>
        <locationX>483</locationX>
        <locationY>148</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isReopened</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SC_SubStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re-opened</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RSC_Retail</stringValue>
                </rightValue>
            </conditions>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>isReopened</label>
        </rules>
        <rules>
            <name>notReopened</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SC_SubStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Re-opened</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RSC_Retail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isStoppedTrue</targetReference>
            </connector>
            <label>notReopened</label>
        </rules>
    </decisions>
    <description>This flow will set the status of the case to closed after it is resolved</description>
    <environments>Default</environments>
    <interviewLabel>RSC_FLOW_SetCaseStatusClosed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RSC_FLOW_SetCaseStatusClosed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateCaseStatus</name>
        <label>UpdateCaseStatus</label>
        <locationX>487</locationX>
        <locationY>354</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </filters>
        <filters>
            <field>SC_SubStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Re-opened</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateIsStopped</name>
        <label>UpdateIsStopped</label>
        <locationX>785</locationX>
        <locationY>150</locationY>
        <inputAssignments>
            <field>IsStopped</field>
            <value>
                <elementReference>isStopped</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>27</locationY>
        <connector>
            <targetReference>CheckSubStatus</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>AND 
(ISPICKVAL({!$Record.Status},&quot;Resolved&quot;),
{!$Record.RSC_ServiceType__r.SC_LaunchStandardFlow__c} = TRUE)</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Case_Closure_Path</name>
            <connector>
                <targetReference>checkRecordType</targetReference>
            </connector>
            <label>Case Closure Path</label>
            <offsetNumber>48</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>ClosedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>isStopped</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
