flows/RSC_FLOW_AssignmentGroupMemberView.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RSC_Navigate_to_Assignment_Group</name>
        <label>Navigate to Assignment Group</label>
        <locationX>173</locationX>
        <locationY>464</locationY>
        <actionName>c:RSC_CMP_NavigateToAssignmentGroup</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RSC_ViewAssignmentGroupComplete</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>RSC_AssignmentGroupID</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>RSC_SetID</name>
        <label>SetID</label>
        <locationX>175</locationX>
        <locationY>329</locationY>
        <assignmentItems>
            <assignToReference>RSC_AssignmentGroupID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_RetrieveAssignmentGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RSC_Navigate_to_Assignment_Group</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>RSC_RetrieveAssignmentGroup</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>ortoo_qra__Assignment_Group__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>RSC_FLOW_Assignment_Group_Member_View {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RSC_FLOW_AssignmentGroupMemberView</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>RSC_SelectAssignmentGroup</name>
        <label>Select Assignment Group</label>
        <locationX>176</locationX>
        <locationY>185</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RSC_SetID</targetReference>
        </connector>
        <fields>
            <name>RSC_AssignmentGroup</name>
            <choiceReferences>RSC_RetrieveAssignmentGroup</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Assignment Group</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RSC_ViewAssignmentGroupComplete</name>
        <label>View Assignment Group Complete</label>
        <locationX>191</locationX>
        <locationY>604</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RSC_FinalMessage</name>
            <fieldText>&lt;p&gt;The chosen Assignment Group should now be open in your main window.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click &quot;Finish&quot; to go back to the Assignment Group List.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>RSC_SelectAssignmentGroup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RSC_AssignmentGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
