flows/RSC_FLOW_SendClientPolicyPrintEmail.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RSC_SendEmailAction</name>
        <label>Send Email Action</label>
        <locationX>374</locationX>
        <locationY>1358</locationY>
        <actionName>SC_FLOW_SendCommunication</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RSC_IsSuccessfulAPICall</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>RSC_RequestFailedScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>parameterIds</name>
            <value>
                <elementReference>RSC_SendCppEmailComponent.selectedPolicies</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>passwordProtection</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>RSC_GetCase.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyWithDocuments</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipients</name>
            <value>
                <elementReference>RSC_SendCppEmailComponent.recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>RSC_GetCommunicationTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>RSC_AssignRequestor</name>
        <label>Assign Requestor</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>RSC_Requestor.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_GetCase.SC_RequesterName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_Requestor.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_GetCase.SC_RequesterEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_Requestor.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_GetCase.SC_RequesterPhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_Requestor.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_GetCase.SC_RequesterMobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_Requestor.UserType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_GetCase.SC_RequesterType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RSC_DisplayPolicies</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>RSC_IsSuccessfulAPICall</name>
        <label>Is Successful API Call</label>
        <locationX>374</locationX>
        <locationY>1478</locationY>
        <defaultConnector>
            <targetReference>RSC_RequestFailedScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>RSC_IsSuccessfulAPICallYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RSC_SendEmailAction.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RSC_RequestSuccessfulScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RSC_WasCancelPressed</name>
        <label>Was Cancel Pressed?</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>RSC_GetCPPMetadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>RSC_WasCancelPressedYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RSC_SendCppEmailComponent.isCancel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Send Client Policy Print Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Client Policy Print Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>RSC_GetCase</name>
        <label>Get Case</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RSC_GetClient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RSC_GetClient</name>
        <label>Get Client</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RSC_GetFinancialAdvisor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RSC_GetCase.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RSC_GetCommunicationTemplate</name>
        <label>Get Communication Template</label>
        <locationX>374</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RSC_SendEmailAction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CMN_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RSC_GetCPPMetadata.CMN_TemplateCode__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CMN_CommunicationTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RSC_GetCPPMetadata</name>
        <label>Get CPP Metadata</label>
        <locationX>374</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RSC_GetCommunicationTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RSC_ClientPolicyPrint</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CMN_CommunicationTemplateMap__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RSC_GetFinancialAccounts</name>
        <label>Get Financial Accounts</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RSC_AssignRequestor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AW_MasterAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RSC_GetClient.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FinServ__FinancialAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RSC_GetFinancialAdvisor</name>
        <label>Get Financial Advisor</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RSC_GetInsurancePolicies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RSC_GetCase.SC_ConsultantCode__r.SC_ContactId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RSC_GetInsurancePolicies</name>
        <label>Get Insurance Policies</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RSC_GetFinancialAccounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AW_MasterAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RSC_GetClient.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InsurancePolicy</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Display All policies linked to Client that qualify for Client Policy Prints for the past 5 years - default to current year and Select Policy(s) and relevant Year(s) on the page</description>
        <name>RSC_DisplayPolicies</name>
        <label>Display Policies</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>RSC_WasCancelPressed</targetReference>
        </connector>
        <fields>
            <name>RSC_DisplayPolicies_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RSC_DisplayPolicies_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RSC_DisplayPolicies_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RSC_CPPHeading</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Email Client Policy Print&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RSC_DisplayPolicies_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>RSC_SendCppEmailComponent</name>
            <dataTypeMappings>
                <typeName>P</typeName>
                <typeValue>InsurancePolicy</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>FA</typeName>
                <typeValue>FinServ__FinancialAccount__c</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>A</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>C</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>U</typeName>
                <typeValue>User</typeValue>
            </dataTypeMappings>
            <extensionName>c:rscLwcSendCPPEmail</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>client</name>
                <value>
                    <elementReference>RSC_GetClient</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>financialAdvisor</name>
                <value>
                    <elementReference>RSC_GetFinancialAdvisor</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>financialAccounts</name>
                <value>
                    <elementReference>RSC_GetFinancialAccounts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>insurancePolicies</name>
                <value>
                    <elementReference>RSC_GetInsurancePolicies</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thirdParty</name>
                <value>
                    <elementReference>RSC_Requestor</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Send</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RSC_RequestFailedScreen</name>
        <label>Request Failed Screen</label>
        <locationX>506</locationX>
        <locationY>1598</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RSC_RequestFailedText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 15px; font-family: &amp;quot;Segoe UI VSS (Regular)&amp;quot;, &amp;quot;Segoe UI&amp;quot;, -apple-system, BlinkMacSystemFont, Roboto, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Ubuntu, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;; color: rgba(0, 0, 0, 0.9);&quot;&gt;Request failed due to technical error. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RSC_RequestSuccessfulScreen</name>
        <label>Request Successful Screen</label>
        <locationX>242</locationX>
        <locationY>1598</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RSC_RequestSuccessfulText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 15px; font-family: &amp;quot;Segoe UI VSS (Regular)&amp;quot;, &amp;quot;Segoe UI&amp;quot;, -apple-system, BlinkMacSystemFont, Roboto, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Ubuntu, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;; color: rgba(0, 0, 0, 0.9);&quot;&gt;Request successful&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RSC_GetCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RSC_Recipients</name>
        <apexClass>CMN_DTO_CommunicationRecipients</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RSC_Requestor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
