flows/RSC_FLOW_OnHoldReminderWithLog.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RSC_SendEmailAction</name>
        <label>Send Email Action</label>
        <locationX>314</locationX>
        <locationY>3191</locationY>
        <actionName>SC_FLOW_SendCommunication</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>otherComments</name>
            <value>
                <elementReference>RSC_OtherComments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>passwordProtection</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyWithDocuments</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedAttachments</name>
            <value>
                <elementReference>RSC_ListOfAllCommunicationAttacthments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipients</name>
            <value>
                <elementReference>RSC_Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>RSC_GetTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>RSC_AssignAdvisorInformation</name>
        <label>Assign Advisor Information</label>
        <locationX>314</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>RSC_AdvisorInfo.cellphoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_GetAdvisorInformation.CMN_AlternativePhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_AdvisorInfo.emailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_AdviserMail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_AdvisorInfo.recipientType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_AdvisorRecepientType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_AdvisorInfo.emailType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_EmailType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_AdvisorInfo.recipientTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_GetAdvisorInformation.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_AdvisorInfo.recipientFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_GetAdvisorInformation.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_AdvisorInfo.recipientSurname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_GetAdvisorInformation.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RSC_AssignOtherInformation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RSC_AssignCommunicationAttachments</name>
        <label>Assign Communication Attachments</label>
        <locationX>402</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>RSC_AssignCommunicationAttacthments.attachmentDefinitionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_IterateCommunicationAttachments.CMN_CommunicationAttachmentDefinition__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_AssignCommunicationAttacthments.attachmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_GetCommunicationTemplateAttachment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_AssignCommunicationAttacthments.definitionName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_IterateCommunicationAttachments.CMN_CommunicationAttachmentDefinition__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_AssignCommunicationAttacthments.isSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_AssignCommunicationAttacthments.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_IterateCommunicationAttachments.CMN_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RSC_SetAllCommunicationAttachments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RSC_AssignOtherComments</name>
        <label>Assign Other Comments</label>
        <locationX>314</locationX>
        <locationY>2399</locationY>
        <assignmentItems>
            <assignToReference>RSC_OtherComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMN_OtherComments__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RSC_SplitRecipient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RSC_AssignOtherInformation</name>
        <label>Assign Other Information</label>
        <locationX>314</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>RSC_OtherInfo.cellphoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case__r.SC_RequesterMobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_OtherInfo.emailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case__r.SC_RequesterEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_OtherInfo.recipientType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_OtherRecepientType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_OtherInfo.emailType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_EmailType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_OtherInfo.recipientSurname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case__r.SC_RequesterName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RSC_AssignOtherComments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RSC_BusinessClientInformations</name>
        <label>Assign Business Client Information</label>
        <locationX>314</locationX>
        <locationY>1823</locationY>
        <assignmentItems>
            <assignToReference>RSC_ClientInfo.cellphoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_BusinessCellOrPhoneNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_ClientInfo.emailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_GetClientInformation.AW_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_ClientInfo.recipientType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_ClinetRecepientType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_ClientInfo.emailType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_EmailType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_ClientInfo.recipientSurname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_GetClientInformation.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RSC_GetAdvisorInformation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RSC_PersonClientInformations</name>
        <label>Assign Person Client Information</label>
        <locationX>50</locationX>
        <locationY>1823</locationY>
        <assignmentItems>
            <assignToReference>RSC_ClientInfo.cellphoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_PersonCellPhoneNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_ClientInfo.emailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_GetClientInformation.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_ClientInfo.recipientType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_ClinetRecepientType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_ClientInfo.emailType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_EmailType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_ClientInfo.recipientTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_GetClientInformation.Salutation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_ClientInfo.recipientSurname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_GetClientInformation.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_ClientInfo.recipientInitials</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_GetClientInformation.CMN_Initials__pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_ClientInfo.recipientFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSC_GetClientInformation.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RSC_GetAdvisorInformation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RSC_SetAdvisorRecipient</name>
        <label>Set Advisor Recipient</label>
        <locationX>666</locationX>
        <locationY>2879</locationY>
        <assignmentItems>
            <assignToReference>RSC_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RSC_AdvisorInfo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_AdvisorAdded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RSC_RecipientIteratorList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RSC_SetAllCommunicationAttachments</name>
        <label>Set All Communication Attachments</label>
        <locationX>402</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>RSC_ListOfAllCommunicationAttacthments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RSC_AssignCommunicationAttacthments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RSC_IterateCommunicationAttachments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RSC_SetClientRecipient</name>
        <label>Set Client Recipient</label>
        <locationX>402</locationX>
        <locationY>2879</locationY>
        <assignmentItems>
            <assignToReference>RSC_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RSC_ClientInfo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_ClientAdded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RSC_RecipientIteratorList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RSC_SetOtherRecipient</name>
        <label>Set Other Recipient</label>
        <locationX>930</locationX>
        <locationY>2879</locationY>
        <assignmentItems>
            <assignToReference>RSC_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RSC_OtherInfo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSC_OthersAdded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RSC_RecipientIteratorList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>used to store the template name for 2 days reminder</description>
        <name>RSC_TemplateFor2DaysReminder</name>
        <label>Template for 2 days Reminder</label>
        <locationX>578</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>RSC_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CMN_FirstReminderTemplate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RSC_IsRetailAndOnHoldStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>used to store the template for 4 days Remainder</description>
        <name>RSC_TemplateFor4DaysReminder</name>
        <label>Template for 4 days Reminder</label>
        <locationX>842</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>RSC_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CMN_SecondReminderTemplate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RSC_IsRetailAndOnHoldStatus</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>RSC_CheckRecipientType</name>
        <label>Check Recipient Type</label>
        <locationX>798</locationX>
        <locationY>2759</locationY>
        <defaultConnector>
            <targetReference>RSC_RecipientIteratorList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RSC_IsClient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RSC_SplitRecipient.AW_CollectionOfInputString</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>RSC_ClinetRecepientType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RSC_ClientAdded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RSC_SetClientRecipient</targetReference>
            </connector>
            <label>IsClient</label>
        </rules>
        <rules>
            <name>RSC_IsAdvisor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RSC_SplitRecipient.AW_CollectionOfInputString</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>RSC_AdvisorRecepientType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RSC_AdvisorAdded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RSC_SetAdvisorRecipient</targetReference>
            </connector>
            <label>IsAdvisor</label>
        </rules>
        <rules>
            <name>RSC_IsOthers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RSC_SplitRecipient.AW_CollectionOfInputString</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>RSC_OtherRecepientType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RSC_OthersAdded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RSC_SetOtherRecipient</targetReference>
            </connector>
            <label>IsOthers</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the Client is Business or Person Account</description>
        <name>RSC_IsPersonOrBusinessAccount</name>
        <label>Is Person Or Business Account</label>
        <locationX>314</locationX>
        <locationY>1703</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RSC_IsPerson</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RSC_GetClientInformation.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RSC_MasterAccountRecordTypeName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RSC_PersonClientInformations</targetReference>
            </connector>
            <label>IsPerson</label>
        </rules>
        <rules>
            <name>RSC_IsBusiness</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RSC_GetClientInformation.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RSC_BusinessAccountRecordTypeName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RSC_BusinessClientInformations</targetReference>
            </connector>
            <label>IsBusiness</label>
        </rules>
    </decisions>
    <decisions>
        <name>RSC_IsRetailAndOnHoldStatus</name>
        <label>Is Retail and On Hold</label>
        <locationX>578</locationX>
        <locationY>527</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>RSC_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RSC_RetailRecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.SC_SubStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RSC_GetTemplateMap</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow used to initiate email remainder via Communication API when the case status is &quot;On Hold&quot;</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula field to store the adviser email</description>
        <name>RSC_AdviserMail</name>
        <dataType>String</dataType>
        <expression>IF( ({!RSC_GetAdvisorInformation.Email} != null) , {!RSC_GetAdvisorInformation.Email} , {!RSC_GetAdvisorInformation.CMN_BusinessEmail__c})</expression>
    </formulas>
    <formulas>
        <description>Stores the Business Cell or Phone number</description>
        <name>RSC_BusinessCellOrPhoneNumber</name>
        <dataType>String</dataType>
        <expression>IF( ({!RSC_GetClientInformation.AW_Mobile__c} == null) , {!RSC_GetClientInformation.Phone} , {!RSC_GetClientInformation.AW_Mobile__c})</expression>
    </formulas>
    <formulas>
        <description>Stores the Phone or Mobile Number</description>
        <name>RSC_PersonCellPhoneNumber</name>
        <dataType>String</dataType>
        <expression>IF( ({!RSC_GetClientInformation.PersonMobilePhone} == null) , {!RSC_GetClientInformation.Phone} , {!RSC_GetClientInformation.PersonMobilePhone})</expression>
    </formulas>
    <interviewLabel>RSC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RSC_FLOW_OnHoldReminderWithLog</label>
    <loops>
        <name>RSC_IterateCommunicationAttachments</name>
        <label>Iterate Communication Attachments</label>
        <locationX>314</locationX>
        <locationY>1007</locationY>
        <collectionReference>RSC_GetCommunicationAttachments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RSC_GetCommunicationTemplateAttachment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RSC_GetClientInformation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>RSC_RecipientIteratorList</name>
        <label>Recipient Iterator List</label>
        <locationX>314</locationX>
        <locationY>2639</locationY>
        <collectionReference>RSC_SplitRecipient.AW_CollectionOfInputString</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RSC_CheckRecipientType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RSC_SendEmailAction</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>RSC_GetAdvisorInformation</name>
        <label>Get Advisor Information</label>
        <locationX>314</locationX>
        <locationY>2039</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RSC_AssignAdvisorInformation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.SC_ConsultantCode__r.SC_ContactId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RSC_GetClientInformation</name>
        <label>Get Client Information</label>
        <locationX>314</locationX>
        <locationY>1583</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RSC_IsPersonOrBusinessAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RSC_GetCommunicationAttachments</name>
        <label>Get Communication Attachments</label>
        <locationX>314</locationX>
        <locationY>887</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RSC_IterateCommunicationAttachments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CMN_CommunicationLog__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CMN_CommunicationLogForm__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Additional get element to query the template attachment record based on the definition &amp; the communication template.</description>
        <name>RSC_GetCommunicationTemplateAttachment</name>
        <label>Get Communication Template Attachment</label>
        <locationX>402</locationX>
        <locationY>1127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RSC_AssignCommunicationAttachments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SC_Definition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RSC_IterateCommunicationAttachments.CMN_CommunicationAttachmentDefinition__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SC_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CMN_CommunicationTemplate__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CMN_CommunicationTemplateAttachment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RSC_GetTemplate</name>
        <label>GetTemplate</label>
        <locationX>314</locationX>
        <locationY>767</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RSC_GetCommunicationAttachments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CMN_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RSC_GetTemplateMap.CMN_TemplateCode__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CMN_CommunicationTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>used to get the emai template codes, which are required for sending email remainder</description>
        <name>RSC_GetTemplateMap</name>
        <label>Get Template Map</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RSC_GetTemplate</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RSC_EmailTemplateName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CMN_CommunicationTemplateMap__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CMN_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </filters>
        <filters>
            <field>CMN_SendReminder__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RSC_CommunicationTemplate__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outstanding Requirements</stringValue>
            </value>
        </filters>
        <object>CMN_CommunicationLog__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>RSC_Reminder_after_2_days</name>
            <connector>
                <targetReference>RSC_TemplateFor2DaysReminder</targetReference>
            </connector>
            <label>Reminder after 2 days</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>RSC_Reminder_after_4_days</name>
            <connector>
                <targetReference>RSC_TemplateFor4DaysReminder</targetReference>
            </connector>
            <label>Reminder after 4 days</label>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>RSC_SplitRecipient</name>
        <label>Split Recipient</label>
        <locationX>314</locationX>
        <locationY>2519</locationY>
        <connector>
            <targetReference>RSC_RecipientIteratorList</targetReference>
        </connector>
        <flowName>AW_FLOW_StringSplitter</flowName>
        <inputAssignments>
            <name>AW_InputString</name>
            <value>
                <elementReference>$Record.CMN_Recipients__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AW_SeparatorString</name>
            <value>
                <elementReference>RSC_Semicolon</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>RSC_AdvisorAdded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RSC_AdvisorInfo</name>
        <apexClass>CMN_DTO_CommunicationRecipients</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RSC_AdvisorRecepientType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Financial Adviser</stringValue>
        </value>
    </variables>
    <variables>
        <name>RSC_AssignCommunicationAttacthments</name>
        <apexClass>CMN_DTO_CommunicationAttachment</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Store the record type name of the Business Master Account</description>
        <name>RSC_BusinessAccountRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AW_LibertyMasterBusinessClient</stringValue>
        </value>
    </variables>
    <variables>
        <name>RSC_ClientAdded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RSC_ClientInfo</name>
        <apexClass>CMN_DTO_CommunicationRecipients</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RSC_ClinetRecepientType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Client</stringValue>
        </value>
    </variables>
    <variables>
        <name>RSC_DocumentIdsVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>used to store the email template name</description>
        <name>RSC_EmailTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Store the Email Type</description>
        <name>RSC_EmailType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>To</stringValue>
        </value>
    </variables>
    <variables>
        <name>RSC_ListOfAllCommunicationAttacthments</name>
        <apexClass>CMN_DTO_CommunicationAttachment</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Name of the Master Account RecordType</description>
        <name>RSC_MasterAccountRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AW_LibertyMasterIndividualClient</stringValue>
        </value>
    </variables>
    <variables>
        <name>RSC_OtherComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RSC_OtherInfo</name>
        <apexClass>CMN_DTO_CommunicationRecipients</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RSC_OtherRecepientType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </variables>
    <variables>
        <name>RSC_OthersAdded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RSC_OutstandingDocumentCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>RSC_OutstandingRequirements</stringValue>
        </value>
    </variables>
    <variables>
        <name>RSC_Recipients</name>
        <apexClass>CMN_DTO_CommunicationRecipients</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>used to store the remainder number</description>
        <name>RSC_RemainderDetail</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Retail record type name</description>
        <name>RSC_RetailRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>RSC_Retail</stringValue>
        </value>
    </variables>
    <variables>
        <name>RSC_Semicolon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>;</stringValue>
        </value>
    </variables>
</Flow>
