flows/SC_FLOW_GetClientData.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>This flow will fetch Client details from case extension record for the given work order record.</description>
    <environments>Default</environments>
    <interviewLabel>Get Client Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Client Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>SC_GetCaseRecord</name>
        <label>Get Case Record</label>
        <locationX>587</locationX>
        <locationY>417</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_GetClientDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SC_CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>SC_CaseNum</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SC_CaseExtensionID</assignToReference>
            <field>SC_CaseExtension__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SC_GetClientDetails</name>
        <label>Get Client Details</label>
        <locationX>812</locationX>
        <locationY>417</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_ClientDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SC_CaseExtensionID</elementReference>
            </value>
        </filters>
        <object>SC_CaseExtension__c</object>
        <outputAssignments>
            <assignToReference>SC_ClientAdd1</assignToReference>
            <field>RSC_ClientAddressLine1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SC_ClientAdd2</assignToReference>
            <field>RSC_ClientAddressLine2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SC_PostCODE</assignToReference>
            <field>RSC_ClientAddressPostalCode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SC_ClientBusinessNo</assignToReference>
            <field>RSC_ClientBusinessNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SC_MobileNum</assignToReference>
            <field>RSC_ClientCellNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SC_ClientEmail</assignToReference>
            <field>RSC_ClientEmail__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SC_ClientFName</assignToReference>
            <field>RSC_ClientFirstName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SC_IDNo</assignToReference>
            <field>RSC_ClientIdentificationNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SC_ClientSuburb</assignToReference>
            <field>RSC_ClientSuburb__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SC_ClientLastName</assignToReference>
            <field>RSC_ClientSurname__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SC_ClientHomeNum</assignToReference>
            <field>RSC_HomeTelephoneNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SC_MasterContractNum</assignToReference>
            <field>RSC_MasterContractNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SC_NurseRegion</assignToReference>
            <field>SC_NurseRegion__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>To get work order details based on work order ID.</description>
        <name>SC_GetWorkOrderDetails</name>
        <label>Get Work Order Details</label>
        <locationX>587</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_GetCaseRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>SC_CaseID</assignToReference>
            <field>CaseId</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>SC_ClientDetails</name>
        <label>Client Details</label>
        <locationX>812</locationX>
        <locationY>191</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SC_CaseNumber</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;em&gt;General Information&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;em&gt; &lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Client First Name&lt;/u&gt;: &lt;/strong&gt;&lt;span style=&quot;color: rgb(30, 11, 205);&quot;&gt;{!SC_ClientFName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Client Last&amp;nbsp;Name&lt;/u&gt;: &lt;/strong&gt;&lt;span style=&quot;color: rgb(30, 11, 205);&quot;&gt;{!SC_ClientLastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;Client Identification Number&lt;/u&gt;: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(30, 11, 205);&quot;&gt;{!SC_IDNo}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;u&gt;Master Contract Number&lt;/u&gt;: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(30, 11, 205);&quot;&gt;{!SC_MasterContractNum}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;em&gt;Contact Information&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Client Email&lt;/u&gt;:&lt;/strong&gt; &lt;span style=&quot;color: rgb(30, 11, 205);&quot;&gt;{!SC_ClientEmail}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Client Mobile Number&lt;/u&gt;: &lt;/strong&gt;&lt;span style=&quot;color: rgb(30, 11, 205);&quot;&gt;{!SC_MobileNum}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Business Number&lt;/u&gt;:&lt;/strong&gt;&lt;span style=&quot;color: rgb(30, 11, 205);&quot;&gt; {!SC_ClientBusinessNo}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Home Number&lt;/u&gt;:&lt;/strong&gt;&lt;em&gt; &lt;/em&gt;&lt;span style=&quot;color: rgb(30, 11, 205);&quot;&gt;{!SC_ClientHomeNum}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;em&gt;Address Information&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Address Line1&lt;/u&gt;: &lt;/strong&gt;&lt;span style=&quot;color: rgb(30, 11, 205);&quot;&gt;{!SC_ClientAdd1}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Address Line 2&lt;/u&gt;: &lt;/strong&gt;&lt;span style=&quot;color: rgb(30, 11, 205);&quot;&gt;{!SC_ClientAdd2}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;u&gt;Postal Code&lt;/u&gt;:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(30, 11, 205);&quot;&gt;{!SC_PostCODE}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Client Suburb&lt;/u&gt;:&lt;/strong&gt; &lt;span style=&quot;color: rgb(30, 11, 205);&quot;&gt;{!SC_ClientSuburb}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Nurse Region&lt;/u&gt;&lt;/strong&gt;: &lt;span style=&quot;color: rgb(30, 11, 205);&quot;&gt;{!SC_NurseRegion}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>461</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>SC_GetWorkOrderDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_CaseExtensionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_CaseExtensionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SC_CaseExtension__c</objectType>
    </variables>
    <variables>
        <name>SC_CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SC_CaseNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SC_ClientAdd1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_ClientAdd2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_ClientBusinessNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_ClientEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_ClientFName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_ClientHomeNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_ClientLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_ClientSuburb</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_IDNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_MasterContractNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_MobileNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_MobNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_NurseRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_PostCODE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
