flows/SC_FLOW_SMSToFAonServiceAppointment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>SC_EmailTemplateAssignmentForAppointmentRescheduled</name>
        <label>Email Template Assignment for Appointment Rescheduled</label>
        <locationX>1370</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>SC_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Appointment RescheduledFA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_GetEmailTemplateMetadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SC_EmailtemplateAssignmentforAppointmenttoBe</name>
        <label>Email template Assignment for Appointment to Be Rescheduled</label>
        <locationX>1634</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>SC_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Appointment To Be Rescheduled FA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_GetEmailTemplateMetadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SC_EmailtemplateAssignmentforBloodMedicalTestsReceived</name>
        <label>Email template Assignment for Blood Medical Tests Received</label>
        <locationX>314</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>SC_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BloodRequirementReceived</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_GetEmailTemplateMetadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SC_EmailtemplateAssignmentforMedicalAppointmentcancelled</name>
        <label>Email template Assignment for Medical Appointment cancelled</label>
        <locationX>842</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>SC_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medical Appointment Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_GetEmailTemplateMetadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SC_EmailTemplateAssignmentforMedicalAppointmentCompleted</name>
        <label>Email Template Assignment for Medical Appointment Completed</label>
        <locationX>578</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>SC_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medical Appointment Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_GetEmailTemplateMetadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SC_EmailTemplateAssignmentforMedicalsWaivedFA</name>
        <label>Email Template Assignment for Medicals Waived FA</label>
        <locationX>1898</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>SC_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medicals WaivedFA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_GetEmailTemplateMetadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SC_EmailtemplateAssignmentforNewStatus</name>
        <label>Email template Assignment for New Status</label>
        <locationX>50</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>SC_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unscheduled Appointment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_GetEmailTemplateMetadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SC_EmailTemplateAssignmentforScheduled</name>
        <label>Email Template Assignment for Scheduled</label>
        <locationX>1106</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>SC_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduled Appointment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_GetEmailTemplateMetadata</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>SC_CheckEmailTemplateMetadata</name>
        <label>Check Email Template Metadata</label>
        <locationX>1106</locationX>
        <locationY>1104</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SC_CheckMetadata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SC_GetEmailTemplateMetadata.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_GetEmailTemplateName</targetReference>
            </connector>
            <label>Check Metadata</label>
        </rules>
    </decisions>
    <decisions>
        <name>SC_CheckEmailTemplates</name>
        <label>Check Email Templates</label>
        <locationX>908</locationX>
        <locationY>1344</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SC_CheckEmailTemplateName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SC_GetEmailTemplateName.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_SendSMStoFA</targetReference>
            </connector>
            <label>Check Email Template Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>SC_CheckFAMobile</name>
        <label>Check FA Mobile Number</label>
        <locationX>1766</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SC_CheckFAMobileNumber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SC_GetFinancialAdvisor.RSC_AdviserCellphoneNumber__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_CheckServiceAppointmentStatus</targetReference>
            </connector>
            <label>Check FA Mobile Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>SC_CheckServiceAppointmentStatus</name>
        <label>Check Service Appointment Status</label>
        <locationX>1106</locationX>
        <locationY>648</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SC_CheckStatusNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_EmailtemplateAssignmentforNewStatus</targetReference>
            </connector>
            <label>Check Status New</label>
        </rules>
        <rules>
            <name>SC_CheckBloodMedicaltestsReceived</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SC_StatusReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical requirement received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_EmailtemplateAssignmentforBloodMedicalTestsReceived</targetReference>
            </connector>
            <label>Check Blood/ Medical tests Received</label>
        </rules>
        <rules>
            <name>SC_CheckStatusAppointmentCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SC_StatusReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appointment completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_EmailTemplateAssignmentforMedicalAppointmentCompleted</targetReference>
            </connector>
            <label>Check Status Appointment Completed</label>
        </rules>
        <rules>
            <name>SC_CheckStatusMedicalAppointmentCancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SC_StatusReason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Medicals Waived</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_EmailtemplateAssignmentforMedicalAppointmentcancelled</targetReference>
            </connector>
            <label>Check Status Medical Appointment Cancelled</label>
        </rules>
        <rules>
            <name>SC_CheckStatusScheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SC_COMMS_PriorScheduledStartTimeAsText__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_EmailTemplateAssignmentforScheduled</targetReference>
            </connector>
            <label>Check Status Scheduled</label>
        </rules>
        <rules>
            <name>SC_CheckRescheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_EmailTemplateAssignmentForAppointmentRescheduled</targetReference>
            </connector>
            <label>Check Rescheduled</label>
        </rules>
        <rules>
            <name>SC_CheckStatusToBeRescheduledFA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>To be Rescheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SC_StatusReason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_EmailtemplateAssignmentforAppointmenttoBe</targetReference>
            </connector>
            <label>Check Status ToBeRescheduled FA</label>
        </rules>
        <rules>
            <name>SC_CheckStatusMedicalsWaived</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SC_StatusReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medicals Waived</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_EmailTemplateAssignmentforMedicalsWaivedFA</targetReference>
            </connector>
            <label>Check Status Medicals Waived</label>
        </rules>
    </decisions>
    <description>This flow sends SMS to Financial Advisor based on multiple updates/creation of Service Appointment records.</description>
    <environments>Default</environments>
    <interviewLabel>Send SMS To FA On Service Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMS To FA on Service Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>SC_GetEmailTemplateMetadata</name>
        <label>Get Email Template Metadata</label>
        <locationX>1106</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_CheckEmailTemplateMetadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SC_EmailTemplateName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SC_SMSTemplateName__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SC_GetEmailTemplateName</name>
        <label>Get Email TemplateName</label>
        <locationX>908</locationX>
        <locationY>1224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_CheckEmailTemplates</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SC_GetEmailTemplateMetadata.DeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SC_GetFinancialAdvisor</name>
        <label>Get Financial Advisor</label>
        <locationX>1766</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_CheckFAMobile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RSC_PolicyNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SC_GetWorkOrderRecord.Case.SC_CaseExtension__r.RSC_MasterContractNumber__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SC_CaseExtension__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SC_GetWorkOrderRecord.Case.SC_CaseExtension__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SC_AssociatedContractExtension__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SC_GetWorkOrderRecord</name>
        <label>Get Work Order Record</label>
        <locationX>1766</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_GetFinancialAdvisor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <filterLogic>1 OR 2 OR 3</filterLogic>
        <filters>
            <field>SchedStartTime</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>SC_GetWorkOrderRecord</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>SC_SendSMStoFA</name>
        <label>Send SMS to FA</label>
        <locationX>776</locationX>
        <locationY>1464</locationY>
        <flowName>CMN_FLOW_SendSMS</flowName>
        <inputAssignments>
            <name>recipientNumber</name>
            <value>
                <elementReference>SC_GetFinancialAdvisor.RSC_AdviserCellphoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>templateName</name>
            <value>
                <elementReference>SC_GetEmailTemplateName.DeveloperName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>SC_CompleteACBool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SC_CompleteBRRBool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SC_CompletedMedicalWaived</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SC_EmailTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SC_IsDateChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SC_IsStatusChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
