flows/SC_FLOW_MedicalAppointmentCaseUpdate.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <constants>
        <description>Storing Queue Developer Name for Cases Available For Assignment</description>
        <name>SC_CasesAvailableForAssignment</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SC_CasesAvailableForAssignment</stringValue>
        </value>
    </constants>
    <decisions>
        <name>SC_CriteriaForCases</name>
        <label>Criteria for cases</label>
        <locationX>1171</locationX>
        <locationY>95</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SC_ServiceTypeAndRecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RSC_Retail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RSC_ServiceType__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical Appointment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Owner:User.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SC_GetQueue.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RSC_ReassignCase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_ChangeCaseOwner</targetReference>
            </connector>
            <label>Service type and Record type</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Medical Appointment Case Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Medical Appointment Case Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get</description>
        <name>SC_GetQueue</name>
        <label>Get Queue</label>
        <locationX>885</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_CriteriaForCases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SC_CasesAvailableForAssignment</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SC_ChangeCaseOwner</name>
        <label>Change Case Owner</label>
        <locationX>1066</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>RSC_ReassignCase__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>394</locationX>
        <locationY>26</locationY>
        <connector>
            <targetReference>SC_GetQueue</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
