flows/SC_FLOW_StatusTransitionAssignmentsForServiceAppointment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>SC_CheckRecordTypes</name>
        <label>Check Record Types</label>
        <locationX>620</locationX>
        <locationY>452</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SC_CheckRecordAndServiceTypes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SC_ServiceAppointment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CMN_COMMS_WorkOrder__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SC_WorkOrder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CMN_COMMS_WorkOrder__r.Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RSC_Retail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CMN_COMMS_WorkOrder__r.Case.RSC_ServiceType__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical Appointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_CheckServiceAppointmentStatusAndStatusReason</targetReference>
            </connector>
            <label>Check Record And Service Types</label>
        </rules>
    </decisions>
    <decisions>
        <name>SC_CheckServiceAppointmentStatusAndStatusReason</name>
        <label>Check Service Appointment Status And Status Reason</label>
        <locationX>1067</locationX>
        <locationY>286</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SC_CheckStatusForInProgressResolvedNone</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SC_StatusReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appointment completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_UpdateInProgressAssociatedWorkOrderDetails</targetReference>
            </connector>
            <label>Check Status For In Progress Resolved None</label>
        </rules>
        <rules>
            <name>SC_CheckStatusToBeRescheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>To be Rescheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_UpdateOnHoldAssociatedWorkOrderDetails</targetReference>
            </connector>
            <label>Check Status To be Rescheduled</label>
        </rules>
        <rules>
            <name>SC_CheckStatusForCanceledClosedTerminated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SC_StatusReason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Appointment Cancelled - No Notification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_UpdateCancelledWorkOrderDetails</targetReference>
            </connector>
            <label>Check Status For Canceled Closed Terminated</label>
        </rules>
        <rules>
            <name>SC_CheckStatusAppointmentCancelledNoNotification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SC_StatusReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appointment Cancelled - No Notification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_UpdateOnHoldAssociatedWorkOrderDetails</targetReference>
            </connector>
            <label>Check Status Appointment Cancelled No Notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>SC_CheckStatusCaseDetailsBeforeUpdate</name>
        <label>Check Status Case Details Before Update</label>
        <locationX>1535</locationX>
        <locationY>292</locationY>
        <defaultConnector>
            <targetReference>SC_UpdateInProgressOnHoldAssociatedCaseDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SC_CheckCancelledCaseDetails</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SC_CheckStatusAppointmentCancelledNoNotification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_UpdateResolvedNoneAssociatedCaseDetails</targetReference>
            </connector>
            <label>Check Cancelled Case Details</label>
        </rules>
    </decisions>
    <description>To automatically update Case status and Work Order status when Service appointment status is updated.</description>
    <environments>Default</environments>
    <interviewLabel>SC_FLOW_StatusTransitionAssignmentsForServiceAppointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Status Transition on Service Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>SC_UpdateCancelledWorkOrderDetails</name>
        <label>Update Cancelled Work Order Details</label>
        <locationX>1075</locationX>
        <locationY>525</locationY>
        <connector>
            <targetReference>SC_UpdateClosedTerminatedCaseDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>SC_UpdateClosedTerminatedCaseDetails</name>
        <label>Update Closed Terminated Case Details</label>
        <locationX>1268</locationX>
        <locationY>525</locationY>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CMN_COMMS_WorkOrder__r.Case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>SC_SubStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SC_OnHoldStatus__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SC_SubStatus__c</field>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>SC_UpdateInProgressAssociatedWorkOrderDetails</name>
        <label>Update In Progress Associated Work Order Details</label>
        <locationX>1076</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SC_UpdateResolvedNoneAssociatedCaseDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>SC_UpdateInProgressOnHoldAssociatedCaseDetails</name>
        <label>Update In Progress On Hold Associated Case Details</label>
        <locationX>1791</locationX>
        <locationY>287</locationY>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CMN_COMMS_WorkOrder__r.Case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>SC_SubStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <filters>
            <field>SC_OnHoldStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Reschedule</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SC_OnHoldStatus__c</field>
            <value>
                <stringValue>Reschedule</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SC_SubStatus__c</field>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>SC_UpdateOnHoldAssociatedWorkOrderDetails</name>
        <label>Update On Hold Associated Work Order Details</label>
        <locationX>1367</locationX>
        <locationY>290</locationY>
        <connector>
            <targetReference>SC_CheckStatusCaseDetailsBeforeUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>SC_UpdateResolvedNoneAssociatedCaseDetails</name>
        <label>Update Resolved None Associated Case Details</label>
        <locationX>1542</locationX>
        <locationY>50</locationY>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CMN_COMMS_WorkOrder__r.Case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </filters>
        <filters>
            <field>SC_SubStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SC_OnHoldStatus__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SC_SubStatus__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>502</locationX>
        <locationY>21</locationY>
        <connector>
            <targetReference>SC_CheckRecordTypes</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SC_StatusReason__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
