flows/SC_FLOW_SendSMSToClientServiceAppointmentReminder.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>SC_CheckEmailTemplate</name>
        <label>Check Email Template</label>
        <locationX>182</locationX>
        <locationY>888</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SC_EmailTemplateName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SC_GetEmailTemplate.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_SendSMStoClient</targetReference>
            </connector>
            <label>Email Template Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>SC_CheckSMS</name>
        <label>Check SMS</label>
        <locationX>380</locationX>
        <locationY>648</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SC_CheckSMSDetails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SC_GetReminderSMS.DeveloperName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SC_ScheduleStartDateHourMin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SC_flowCurrentDateHourMin</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_GetEmailTemplate</targetReference>
            </connector>
            <label>Check SMS Details</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Client Mobile number exists</description>
        <name>SC_CheckWorkOrderRecord</name>
        <label>Check Work Order Record)</label>
        <locationX>611</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SC_IfMobileNumberExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SC_GetWorkOrderRecord.Case.SC_CaseExtension__r.RSC_ClientCellNumber__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SC_GetWorkOrderRecord.Case.RSC_ServiceType__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical Appointment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SC_GetWorkOrderRecord.Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RSC_Retail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SC_ServiceAppointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_GetReminderSMS</targetReference>
            </connector>
            <label>If Mobile Number Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SC_flowCurrentDateHourMin</name>
        <dataType>String</dataType>
        <expression>LEFT(TEXT({!$Flow.CurrentDateTime} +1), 16)</expression>
    </formulas>
    <formulas>
        <name>SC_FlowCurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} +1</expression>
    </formulas>
    <formulas>
        <name>SC_ScheduleStartDateHourMin</name>
        <dataType>String</dataType>
        <expression>LEFT(TEXT({!$Record.SchedStartTime}), 16)</expression>
    </formulas>
    <formulas>
        <description>Setting a variable for tomorrow&apos;s date</description>
        <name>SC_Tomorrow</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.SchedStartTime}</expression>
    </formulas>
    <interviewLabel>SC_FLOW_SendSMSToClientServiceAppointmentReminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SC_FLOW_SendSMSToClientServiceAppointmentReminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>SC_GetEmailTemplate</name>
        <label>Get Email Template</label>
        <locationX>182</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_CheckEmailTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SC_GetReminderSMS.DeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the template name from the metadata record</description>
        <name>SC_GetReminderSMS</name>
        <label>Get Reminder SMS</label>
        <locationX>380</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_CheckSMS</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reminder Appointment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SC_SMSTemplateName__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SC_GetWorkOrderRecord</name>
        <label>Get Work Order Record</label>
        <locationX>611</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_CheckWorkOrderRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>72</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </filters>
        <filters>
            <field>SchedStartTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>SC_SetReminderOneDayBeforeScheduledStartDate</name>
            <connector>
                <targetReference>SC_GetWorkOrderRecord</targetReference>
            </connector>
            <label>Set Reminder One Day Before Scheduled Start Date</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>SchedStartTime</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>SC_SendSMStoClient</name>
        <label>Send SMS to Client</label>
        <locationX>50</locationX>
        <locationY>1008</locationY>
        <flowName>CMN_FLOW_SendSMS</flowName>
        <inputAssignments>
            <name>recipientNumber</name>
            <value>
                <elementReference>SC_GetWorkOrderRecord.Case.SC_CaseExtension__r.RSC_ClientCellNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>templateName</name>
            <value>
                <elementReference>SC_GetEmailTemplate.DeveloperName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>SC_EmailTemplate</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SC_SelectedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>SC_GetWorkOrderRecord.Case.SC_CaseExtension__r.LastModifiedDate</elementReference>
        </value>
    </variables>
</Flow>
