flows/SC_FLOW_SendSMSToNurseOnServiceAppointment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>SC_EmailTemplateAssignmentForMedicalAppointmentCancelled</name>
        <label>Email Template Assignment for Medical Appointment Cancelled</label>
        <locationX>842</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>SC_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medical Appointment Cancelled Nurses</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_GetEmailTemplateMetadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SC_EmailTemplateAssignmentforMedicalsAppointmentRescheduledNurses</name>
        <label>Email Template Assignment for Medicals Appointment Rescheduled Nurses</label>
        <locationX>314</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>SC_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medical Appointment Rescheduled Nurses</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_GetEmailTemplateMetadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SC_EmailTemplateAssignmentforMedicalsReceived</name>
        <label>Email Template Assignment for Medicals Received</label>
        <locationX>50</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>SC_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medicals Received Nurses</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_GetEmailTemplateMetadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SC_EmailTemplateAssignmentForMedicalsWaived</name>
        <label>Email Template Assignment for Medicals Waived</label>
        <locationX>578</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>SC_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medicals Waived Nurses</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_GetEmailTemplateMetadata</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>SC_Check_ServiceResourcesStatus_Reason</name>
        <label>Check Service Resources Status Reason</label>
        <locationX>578</locationX>
        <locationY>648</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SC_CheckStatusMedicalsReceived</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SC_StatusReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical requirement received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_EmailTemplateAssignmentforMedicalsReceived</targetReference>
            </connector>
            <label>Check Status Medicals Received</label>
        </rules>
        <rules>
            <name>SC_CheckStatusMedicalAppointmentRescheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SC_COMMS_PriorScheduledStartTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SC_COMMS_PriorScheduledStartTime__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SchedStartTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_EmailTemplateAssignmentforMedicalsAppointmentRescheduledNurses</targetReference>
            </connector>
            <label>Check Status Medical Appointment Rescheduled</label>
        </rules>
        <rules>
            <name>SC_CheckStatusMedicalsWaived</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SC_StatusReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medicals Waived</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_EmailTemplateAssignmentForMedicalsWaived</targetReference>
            </connector>
            <label>Check Status Medicals Waived</label>
        </rules>
        <rules>
            <name>SC_CheckStatusMedicalAppointmentCancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SC_StatusReason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Medicals Waived</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_EmailTemplateAssignmentForMedicalAppointmentCancelled</targetReference>
            </connector>
            <label>Check Status Medical Appointment Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>SC_CheckEmailTemplateMetadata</name>
        <label>Check Email Template Metadata</label>
        <locationX>578</locationX>
        <locationY>1104</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SC_CheckMetadata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SC_GetEmailTemplateMetadata.Label</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_GetEmailTemplateName</targetReference>
            </connector>
            <label>Check Metadata</label>
        </rules>
    </decisions>
    <decisions>
        <name>SC_CheckEmailTemplates</name>
        <label>Check Email Templates</label>
        <locationX>380</locationX>
        <locationY>1344</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SC_CheckEmailTemplateName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SC_GetEmailTemplateName.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_SendSMStoNurses</targetReference>
            </connector>
            <label>Check Email Template Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>SC_NurseMobileNumber</name>
        <label>Nurse Mobile Number</label>
        <locationX>974</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SC_CheckNurseMobileNumber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SC_Get_ServiceResourceNurseRecord.SC_NursesMobileNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SC_GetWorkOrderRecord.Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RSC_Retail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SC_GetWorkOrderRecord.Case.RSC_ServiceType__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical Appointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_Check_ServiceResourcesStatus_Reason</targetReference>
            </connector>
            <label>Check Nurse Mobile Number</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SC_FLOW_SendSMSToFAOnServiceAppointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SC_FLOW_SendSMSToNurseOnServiceAppointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>SC_Get_ServiceResourceNurseRecord</name>
        <label>Get Service Resource Nurse Record</label>
        <locationX>974</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_NurseMobileNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SC_ServiceResource__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SC_GetEmailTemplateMetadata</name>
        <label>Get Email Template Metadata</label>
        <locationX>578</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_CheckEmailTemplateMetadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SC_EmailTemplateName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SC_SMSTemplateName__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SC_GetEmailTemplateName</name>
        <label>Get Email Template Name</label>
        <locationX>380</locationX>
        <locationY>1224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_CheckEmailTemplates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SC_GetEmailTemplateMetadata.Label</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SC_GetWorkOrderRecord</name>
        <label>Get Work Order Record</label>
        <locationX>974</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_Get_ServiceResourceNurseRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SchedStartTime</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>SC_GetWorkOrderRecord</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>SC_SendSMStoNurses</name>
        <label>Send SMS to Nurses</label>
        <locationX>248</locationX>
        <locationY>1464</locationY>
        <flowName>CMN_FLOW_SendSMS</flowName>
        <inputAssignments>
            <name>recipientNumber</name>
            <value>
                <elementReference>SC_Get_ServiceResourceNurseRecord.SC_NursesMobileNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>templateName</name>
            <value>
                <elementReference>SC_GetEmailTemplateName.DeveloperName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>SC_EmailTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to Store Assigned Resource Id</description>
        <name>SC_Get_AssignedResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
</Flow>
