flows/SC_FLOW_ShowFinancialAdvisorDetails.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>This flow will fetch Financial Advisor details from Associated Contract Extension record for the given work order record.</description>
    <environments>Default</environments>
    <interviewLabel>Show Financial Advisor Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Show Financial Advisor Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <description>To retrieve FA details</description>
        <name>SC_GetAdvisorDetails</name>
        <label>Get Advisor Details</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_Adviser_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SC_CaseExtension__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SC_CaseExtensionID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RSC_PolicyNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SC_PolicyNumber</elementReference>
            </value>
        </filters>
        <object>SC_AssociatedContractExtension__c</object>
        <outputAssignments>
            <assignToReference>SC_AdvisorCellNo</assignToReference>
            <field>RSC_AdviserCellphoneNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SC_Email</assignToReference>
            <field>RSC_AdviserEmail__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SC_AdvisorName</assignToReference>
            <field>RSC_AdviserName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SC_AdviserSurname</assignToReference>
            <field>RSC_AdviserSurname__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SC_ConsultCode</assignToReference>
            <field>RSC_ConsultantCode__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>To get Case Extension record fields</description>
        <name>SC_GetCaseExtension</name>
        <label>Get Case Extension</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_GetAdvisorDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SC_CaseExtensionID</elementReference>
            </value>
        </filters>
        <object>SC_CaseExtension__c</object>
        <outputAssignments>
            <assignToReference>SC_PolicyNumber</assignToReference>
            <field>RSC_MasterContractNumber__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SC_GetCaseRecord</name>
        <label>Get Case Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_GetCaseExtension</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SC_CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>SC_CaseExtensionID</assignToReference>
            <field>SC_CaseExtension__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SC_GetWorkOrderDetails</name>
        <label>Get Work Order Details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_GetCaseRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>SC_CaseID</assignToReference>
            <field>CaseId</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>SC_Adviser_Details</name>
        <label>Adviser Details</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SC_CaseNumber</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Financial Advisor Information&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Advisor First Name&lt;/u&gt;: {!SC_AdvisorName}&lt;/p&gt;&lt;p&gt;&lt;u&gt;Advisor Surname&lt;/u&gt;: {!SC_AdviserSurname}&lt;/p&gt;&lt;p&gt;&lt;u&gt;Consultant Code&lt;/u&gt;: {!SC_ConsultCode}&lt;/p&gt;&lt;p&gt;&lt;u&gt;Mobile Number&lt;/u&gt;: {!SC_AdvisorCellNo}&lt;/p&gt;&lt;p&gt;&lt;u&gt;Advisor Email&lt;/u&gt;: {!SC_Email}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SC_GetWorkOrderDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_AdviserSurname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_AdvisorCellNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_AdvisorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_CaseExtensionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_ConsultCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_PolicyNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
