flows/SC_FLOW_SendSMSToClientWhenServiceAppointmentScheduled.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Rescheduled_SMS</name>
        <label>Rescheduled SMS</label>
        <locationX>314</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>SC_EmailTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rescheduled Appointment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Sheduled_SMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SC_ScheduledSMS</name>
        <label>Scheduled SMS</label>
        <locationX>50</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>SC_EmailTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Appointment Confirmation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Sheduled_SMS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>SC_CheckEmailTemplate</name>
        <label>Check Email Template</label>
        <locationX>314</locationX>
        <locationY>1104</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SC_EmailTemplateName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SC_GetEmailTemplate.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_SendSMStoClient</targetReference>
            </connector>
            <label>Email Template Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>SC_CheckOutcomebasedonStatus</name>
        <label>Check Outcome based on Status</label>
        <locationX>314</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SC_AppointmentScheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedEndTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SC_COMMS_PriorScheduledStartTimeAsText__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_ScheduledSMS</targetReference>
            </connector>
            <label>Appointment Scheduled</label>
        </rules>
        <rules>
            <name>SC_AppointmentRescheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SC_COMMS_PriorScheduledStartTimeAsText__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedEndTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SC_COMMS_PriorScheduledStartTimeAsText__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SchedStartTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rescheduled_SMS</targetReference>
            </connector>
            <label>Appointment Rescheduled</label>
        </rules>
    </decisions>
    <decisions>
        <name>SC_CheckWorkOrderIfMobileNumberExists</name>
        <label>Check Work Order If Mobile Number Exists</label>
        <locationX>578</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SC_IfMobileNumberExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SC_GetWorkOrderRecord.Case.SC_CaseExtension__r.RSC_ClientCellNumber__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SC_GetWorkOrderRecord.Case.RSC_ServiceType__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical Appointment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SC_GetWorkOrderRecord.Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RSC_Retail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SC_ServiceAppointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_CheckOutcomebasedonStatus</targetReference>
            </connector>
            <label>If Mobile Number Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SC_FlowSendSMSToClientWhenServiceAppointmentScheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SC_FLOW_SendSMSToClientWhenServiceAppointmentScheduled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Sheduled_SMS</name>
        <label>Get Sheduled SMS</label>
        <locationX>314</locationX>
        <locationY>864</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_GetEmailTemplate</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SC_EmailTemplate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SC_SMSTemplateName__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SC_GetEmailTemplate</name>
        <label>Get Email Template</label>
        <locationX>314</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_CheckEmailTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sheduled_SMS.DeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtain all work order records</description>
        <name>SC_GetWorkOrderRecord</name>
        <label>Get Work Order Record</label>
        <locationX>578</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_CheckWorkOrderIfMobileNumberExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SchedStartTime</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>SC_GetWorkOrderRecord</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>SC_SendSMStoClient</name>
        <label>Send SMS to Client</label>
        <locationX>182</locationX>
        <locationY>1224</locationY>
        <flowName>CMN_FLOW_SendSMS</flowName>
        <inputAssignments>
            <name>recipientNumber</name>
            <value>
                <elementReference>SC_GetWorkOrderRecord.Case.SC_CaseExtension__r.RSC_ClientCellNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>templateName</name>
            <value>
                <elementReference>SC_GetEmailTemplate.DeveloperName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>SC_EmailTemplate</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SC_PriorScheduledDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SC_PriorScheduledDates</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
