flows/SC_FLOW_SyncConsultantStatusOnContractRole.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>GetInsurancePolicyRecordToUpdate</name>
        <label>Get Insurance Policy Record To Update</label>
        <locationX>138</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>InsurancePolicyParticipant</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SC_IntermediateInsurancePolicyParticipant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_IntermediateInsurancePolicyParticipant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SC_ActiveConsultant</name>
        <label>Active Consultant</label>
        <locationX>138</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>SC_IntermediateInsurancePolicyParticipant.SC_ConsultantStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActiveConsultantValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetInsurancePolicyRecordToUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SC_ActiveConsultantFinancialAccountRole</name>
        <label>Active Consultant Financial Account Role</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>SC_IntermediateFinancialAccountRole.SC_ConsultantStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActiveConsultantValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_GetFinancialRecordsToUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Store the Financial Records which contain value to update</description>
        <name>SC_GetFinancialRecordsToUpdate</name>
        <label>Get Financial Records To Update</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>FinancialAccountRole</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SC_IntermediateFinancialAccountRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_IntermediateFinancialAccountRole</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SC_GetOrphanFinancialRecordToUpdate</name>
        <label>Get Orphan Financial Record To Update</label>
        <locationX>490</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>FinancialAccountRole</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SC_OrphanFinancialAccountRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_OrphanFinancialAccountRole</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SC_GetOrphanPolicyRecordToUpdate</name>
        <label>Get Orphan Policy Record to Update</label>
        <locationX>490</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>InsurancePolicyParticipant</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SC_OrphanInsurancePolicyParticipant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_OrphanInsurancePolicyParticipant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SC_InactiveConsultant</name>
        <label>Inactive Consultant</label>
        <locationX>490</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>SC_OrphanInsurancePolicyParticipant.SC_ConsultantStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InactiveConsultantValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_GetOrphanPolicyRecordToUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SC_InactiveConsultantFinancialAccountRole</name>
        <label>Inactive Consultant Financial Account Role</label>
        <locationX>490</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>SC_OrphanFinancialAccountRole.SC_ConsultantStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InactiveConsultantValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_GetOrphanFinancialRecordToUpdate</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Stores the value of Active Consultant</description>
        <name>ActiveConsultantValue</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>Stores the value of the Inactive Consultant</description>
        <name>InactiveConsultantValue</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>SC_CheckAgreementStatus</name>
        <label>Check Agreement Status</label>
        <locationX>226</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>SC_OrphanFinancialAccountRole</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Agreement Status False</defaultConnectorLabel>
        <rules>
            <name>SC_AgreementStatusTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SC_AgreementStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_IntermediateFinancialAccountRole</targetReference>
            </connector>
            <label>Agreement Status True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SC_FLOW_SyncConsultantStatusOnContractRole {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SC_FLOW_SyncConsultantStatusOnContractRole</label>
    <loops>
        <name>SC_IntermediateFinancialAccountRole</name>
        <label>Intermediate Financial Account Role</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>SC_GetFinancialAccountRole</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SC_ActiveConsultantFinancialAccountRole</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SC_UpdateIntermediateFinancialAccountRole</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SC_IntermediateInsurancePolicyParticipant</name>
        <label>Intermediate Insurance Policy Participant</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <collectionReference>SC_Get_InsurancePolicyParticipantRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SC_ActiveConsultant</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SC_UpdateIntermediateRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SC_OrphanFinancialAccountRole</name>
        <label>Orphan Financial Account Role</label>
        <locationX>402</locationX>
        <locationY>695</locationY>
        <collectionReference>SC_GetFinancialAccountRole</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SC_InactiveConsultantFinancialAccountRole</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SC_UpdateOrphanFinancialAccountRole</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SC_OrphanInsurancePolicyParticipant</name>
        <label>Orphan Insurance Policy Participant</label>
        <locationX>402</locationX>
        <locationY>1271</locationY>
        <collectionReference>SC_Get_InsurancePolicyParticipantRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SC_InactiveConsultant</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SC_UpdateOrphanRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>SC_Get_InsurancePolicyParticipantRecords</name>
        <label>Get Insurance Policy Participant Records</label>
        <locationX>226</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_GetFinancialAccountRole</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consultant</stringValue>
            </value>
        </filters>
        <filters>
            <field>SC_ConsultantCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InsurancePolicyParticipant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SC_GetFinancialAccountRole</name>
        <label>Get Financial Account Role</label>
        <locationX>226</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_CheckAgreementStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SC_ConsultantCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consultant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FinServ__FinancialAccountRole__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SC_UpdateIntermediateFinancialAccountRole</name>
        <label>Update Intermediate Financial Account Role</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>SC_IntermediateInsurancePolicyParticipant</targetReference>
        </connector>
        <inputReference>FinancialAccountRole</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SC_UpdateIntermediateRecords</name>
        <label>Update Intermediate Records</label>
        <locationX>50</locationX>
        <locationY>1727</locationY>
        <inputReference>InsurancePolicyParticipant</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SC_UpdateOrphanFinancialAccountRole</name>
        <label>Update Orphan Financial Account Role</label>
        <locationX>402</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>SC_OrphanInsurancePolicyParticipant</targetReference>
        </connector>
        <inputReference>FinancialAccountRole</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SC_UpdateOrphanRecords</name>
        <label>Update Orphan Records</label>
        <locationX>402</locationX>
        <locationY>1727</locationY>
        <inputReference>InsurancePolicyParticipant</inputReference>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SC_Get_InsurancePolicyParticipantRecords</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>SC_AgreementStatus__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SC_ConsultantCodes__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FinancialAccountRole</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccountRole__c</objectType>
    </variables>
    <variables>
        <name>InsurancePolicyParticipant</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InsurancePolicyParticipant</objectType>
    </variables>
</Flow>
