flows/SC_FLOW_SendDailyAppointmentsCountSMSToNurses.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>SC_EmailTemplateAssignmentNoOfAppointment</name>
        <label>Email Template Assignment No of Appointment</label>
        <locationX>859</locationX>
        <locationY>36</locationY>
        <assignmentItems>
            <assignToReference>SC_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SC_SMSToNursesNoOfAppointments</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_GetEmailTemplateMetadata</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>SC_CheckEmailTemplate</name>
        <label>Check Email Template</label>
        <locationX>1379</locationX>
        <locationY>275</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SC_CheckEmailTemplateName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SC_GetEmailTemplateName.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_SendSMSToFAPendingCase</targetReference>
            </connector>
            <label>Check Email Template Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>SC_CheckEmailTemplateMetadata</name>
        <label>Check Email Template Metadata</label>
        <locationX>1171</locationX>
        <locationY>38</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SC_CheckMetadata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SC_GetEmailTemplateMetadata.Label</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_GetEmailTemplateName</targetReference>
            </connector>
            <label>Check Metadata</label>
        </rules>
    </decisions>
    <decisions>
        <name>SC_CheckServiceResourceIsActive</name>
        <label>SC_CheckServiceResourceIsActive</label>
        <locationX>621</locationX>
        <locationY>41</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SC_CheckServiceResourceCriteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SC_NursesMobileNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SC_NursesMobileNumber__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SC_NumberOfAppointments__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_EmailTemplateAssignmentNoOfAppointment</targetReference>
            </connector>
            <label>Check Service Resource Criteria</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SC_FLOW_SendDailyAppointmentsCountSMSToNurses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SC_FLOW_SendDailyAppointmentsCountSMSToNurses</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>SC_GetEmailTemplateMetadata</name>
        <label>Get Email Template Metadata</label>
        <locationX>1010</locationX>
        <locationY>36</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_CheckEmailTemplateMetadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SC_EmailTemplateName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SC_SMSTemplateName__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SC_GetEmailTemplateName</name>
        <label>Get Email Template Name</label>
        <locationX>1387</locationX>
        <locationY>40</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_CheckEmailTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SC_GetEmailTemplateMetadata.DeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SC_ResetNoOfAppointments</name>
        <label>Reset No of Appointments</label>
        <locationX>783</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>SC_NumberOfAppointments__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>155</locationX>
        <locationY>46</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SC_NumberOfAppointments__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SC_NumberOfAppointments__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>ServiceResource</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>SC_CheckServiceResourceIsActive</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>SC_SendSMSToFAPendingCase</name>
        <label>Send SMS to FA Pending Case</label>
        <locationX>978</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>SC_ResetNoOfAppointments</targetReference>
        </connector>
        <flowName>CMN_FLOW_SendSMS</flowName>
        <inputAssignments>
            <name>recipientNumber</name>
            <value>
                <elementReference>$Record.SC_NursesMobileNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>templateName</name>
            <value>
                <elementReference>SC_GetEmailTemplateName.DeveloperName</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>SC_EmailTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
