flows/SC_FLOW_SendSMS.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Call the Apex Action with the Parameters.</description>
        <name>SC_Send_MS</name>
        <label>Send SMS</label>
        <locationX>198</locationX>
        <locationY>408</locationY>
        <actionName>CMN_FACTORY_WebserviceManager</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>parameters</name>
            <value>
                <elementReference>EmailTemplateName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>triggerObjectId</name>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>webServiceClassName</name>
            <value>
                <stringValue>SC_API_SendSMS</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>SC_GetTaskRecordCount</name>
        <label>Get Task Record Count</label>
        <locationX>750</locationX>
        <locationY>520</locationY>
        <assignmentItems>
            <assignToReference>TaskRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SC_GetAllTaskRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_IterateTask</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Engaged</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Engaged</stringValue>
        </value>
    </constants>
    <constants>
        <name>NoAnswer</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No Answer</stringValue>
        </value>
    </constants>
    <constants>
        <name>NotContactableServiceNotAvailable</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Contactable - Service Not Available</stringValue>
        </value>
    </constants>
    <constants>
        <name>Voicemail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Voicemail</stringValue>
        </value>
    </constants>
    <decisions>
        <name>SC_CheckCaseRecord</name>
        <label>Check Case Record</label>
        <locationX>1039</locationX>
        <locationY>140</locationY>
        <defaultConnectorLabel>Check not available</defaultConnectorLabel>
        <rules>
            <name>SC_CheckCaseId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SC_GetCaseRecord.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_GetEmailTemplateName</targetReference>
            </connector>
            <label>Check Case Id</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validating condition before Sending SMS</description>
        <name>SC_CheckConditionforSMS</name>
        <label>Check Condition for SMS</label>
        <locationX>543</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>SMS Condition did not match</defaultConnectorLabel>
        <rules>
            <name>SC_CheckSMSCondition</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND (5 AND 6 AND 7) AND 8</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Engaged</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoAnswer</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Voicemail</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NotContactableServiceNotAvailable</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SC_GetCaseRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SC_GetCaseRecord.SC_SubStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SC_GetCaseRecord.RSC_ServiceType__r.SC_UnreachableSMSTemplate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SC_GetEmailTemplateName.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskRecordCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_Send_MS</targetReference>
            </connector>
            <label>Check SMS Condition</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Email Template is not null</description>
        <name>SC_CheckEmailTemplate</name>
        <label>Check Email Template</label>
        <locationX>1290</locationX>
        <locationY>362</locationY>
        <defaultConnectorLabel>Email Template Not Available</defaultConnectorLabel>
        <rules>
            <name>SC_CheckEmailTemplateName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SC_GetEmailTemplateName.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_GetAllTaskRecords</targetReference>
            </connector>
            <label>Check Email Template Name</label>
        </rules>
    </decisions>
    <description>Flow to send SMS based on Task Subject</description>
    <environments>Default</environments>
    <interviewLabel>SC_FLOW_SendSMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SC_FLOW_SendSMS</label>
    <loops>
        <name>SC_IterateTask</name>
        <label>Iterate Task</label>
        <locationX>778</locationX>
        <locationY>298</locationY>
        <collectionReference>SC_GetAllTaskRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SC_GetTaskRecordCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SC_CheckConditionforSMS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>SC_GetAllTaskRecords</name>
        <label>Get All Task Records</label>
        <locationX>1037</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_IterateTask</targetReference>
        </connector>
        <filterLogic>((1 OR 2 OR 3 OR 4) AND 5 ) AND 6</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NoAnswer</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Engaged</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Voicemail</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NotContactableServiceNotAvailable</elementReference>
            </value>
        </filters>
        <filters>
            <field>TaskSubtype</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Case Record of Task</description>
        <name>SC_GetCaseRecord</name>
        <label>Get Case Record</label>
        <locationX>848</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_CheckCaseRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting Email template for SMS</description>
        <name>SC_GetEmailTemplateName</name>
        <label>Get Email Template Name</label>
        <locationX>1250</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_CheckEmailTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SC_ClientUnreachable</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>242</locationX>
        <locationY>42</locationY>
        <filterFormula>AND({!$Record.RecordType.DeveloperName} = &apos;RSC_OutboundTask&apos;,
TEXT({!$Record.TaskSubtype}) = &apos;Call&apos;
)</filterFormula>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>SC_RunFlowAfter0Minute</name>
            <connector>
                <targetReference>SC_GetCaseRecord</targetReference>
            </connector>
            <label>Run Flow After 0 Minute</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailTemplateName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>templateName={!SC_GetEmailTemplateName.DeveloperName}</text>
    </textTemplates>
    <variables>
        <name>TaskRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
