flows/SC_FLOW_MedicalAppointmentCaseCreation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>SC_AssignSelectedValueToSelectVariable</name>
        <label>AssignSelectedValueToSelectVariable</label>
        <locationX>1194</locationX>
        <locationY>203</locationY>
        <assignmentItems>
            <assignToReference>SC_SelectedRequirementsValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SC_SelectMedicalRequirements</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SC_SelectedRequirementsValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_IfSelectedRequirementValueIsBlank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SC_CreateWOILrecordCollection</name>
        <label>CreateWOILrecordCollection</label>
        <locationX>1494</locationX>
        <locationY>979</locationY>
        <assignmentItems>
            <assignToReference>SC_WOLI_Record.SC_MedicalRequirement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SC_IterateOverRequirementCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SC_WOLI_Record.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SC_CreateWorkOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SC_WOLI_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SC_WOLI_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_IterateOverRequirementCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SC_RequirementCollectionAssignment</name>
        <label>RequirementCollectionAssignment</label>
        <locationX>1350</locationX>
        <locationY>490</locationY>
        <assignmentItems>
            <assignToReference>SC_SingleRequirementValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SC_SingleRequirementFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SC_RequirementCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SC_SingleRequirementValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_ResetSelectedRequirementValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SC_ResetSelectedRequirementValues</name>
        <label>Reset SelectedRequirementValues</label>
        <locationX>1350</locationX>
        <locationY>310</locationY>
        <assignmentItems>
            <assignToReference>SC_SelectedRequirementsValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SC_UpdateSelectedRequirementValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_IfSelectedRequirementValueIsBlank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ScCaseIdAssignment</name>
        <label>Case Id Assignment</label>
        <locationX>1547</locationX>
        <locationY>825</locationY>
        <assignmentItems>
            <assignToReference>SC_caseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SC_CaseCreation</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Test</name>
        <choiceText>Test</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Test</stringValue>
        </value>
    </choices>
    <decisions>
        <name>SC_IfSelectedRequirementValueIsBlank</name>
        <label>If Selected Requirement Value is Blank</label>
        <locationX>1097</locationX>
        <locationY>388</locationY>
        <defaultConnector>
            <targetReference>SC_RequirementCollectionAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SC_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SC_SelectedRequirementsValues</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_GetCaseExtensionRecordType</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <description>This flow will be launched from Lightning web component to get user inputs on medical requirements and create medical appointment Case.</description>
    <dynamicChoiceSets>
        <name>SC_MedicalRequirementPicklistSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SC_MedicalRequirement__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>SC_MedicalReqLineBreak</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!SC_SelectMedicalRequirements}, &quot;;&quot;, BR())</expression>
    </formulas>
    <formulas>
        <name>SC_SingleRequirementFormula</name>
        <dataType>String</dataType>
        <expression>TRIM(                                                                                                         
SUBSTITUTE(
LEFT( {!SC_SelectedRequirementsValues} , FIND(&quot;;&quot;,  {!SC_SelectedRequirementsValues} )),
&quot;;&quot;,                                                                                          
&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>SC_UpdateSelectedRequirementValues</name>
        <dataType>String</dataType>
        <expression>TRIM(
SUBSTITUTE({!SC_SelectedRequirementsValues} ,  {!SC_SingleRequirementValue}+&quot;;&quot; ,  &quot;&quot;  )
)</expression>
    </formulas>
    <interviewLabel>Medical Appointment Case Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Medical Appointment Case Creation</label>
    <loops>
        <name>SC_IterateOverRequirementCollection</name>
        <label>Iterate Over RequirementCollection</label>
        <locationX>1169</locationX>
        <locationY>980</locationY>
        <collectionReference>SC_RequirementCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SC_CreateWOILrecordCollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SC_CreateWOIL</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Case_Extension_Creation</name>
        <label>Case Extension Creation</label>
        <locationX>887</locationX>
        <locationY>456</locationY>
        <connector>
            <targetReference>SC_GetCaseRecordType</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SC_RollBackAllTransactions</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>RSC_ClientAddressLine1__c</field>
            <value>
                <elementReference>SC_CaseExtension.RSC_ClientAddressLine1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSC_ClientAddressLine2__c</field>
            <value>
                <elementReference>SC_CaseExtension.RSC_ClientAddressLine2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSC_ClientBusinessNumber__c</field>
            <value>
                <elementReference>SC_CaseExtension.RSC_ClientBusinessNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSC_ClientCellNumber__c</field>
            <value>
                <elementReference>SC_CaseExtension.RSC_ClientCellNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSC_ClientEmail__c</field>
            <value>
                <elementReference>SC_CaseExtension.RSC_ClientEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSC_ClientFirstName__c</field>
            <value>
                <elementReference>SC_CaseExtension.RSC_ClientFirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSC_ClientIdentificationNumber__c</field>
            <value>
                <elementReference>SC_CaseExtension.RSC_ClientIdentificationNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSC_ClientSuburb__c</field>
            <value>
                <elementReference>SC_CaseExtension.RSC_ClientSuburb__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSC_ClientSurname__c</field>
            <value>
                <elementReference>SC_CaseExtension.RSC_ClientSurname__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSC_HomeTelephoneNumber__c</field>
            <value>
                <elementReference>SC_CaseExtension.RSC_HomeTelephoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSC_MasterContractNumber__c</field>
            <value>
                <elementReference>SC_CaseExtension.RSC_MasterContractNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSC_PostalAddressCode__c</field>
            <value>
                <elementReference>SC_CaseExtension.RSC_PostalAddressCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SC_GetCaseExtensionRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SC_NurseRegion__c</field>
            <value>
                <elementReference>SC_CaseExtension.SC_NurseRegion__c</elementReference>
            </value>
        </inputAssignments>
        <object>SC_CaseExtension__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SC_CaseCreation</name>
        <label>Case Creation</label>
        <locationX>885</locationX>
        <locationY>584</locationY>
        <connector>
            <targetReference>SC_GetAssociatedContractExtRecordType</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SC_RollBackAllTransactions</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>SC_CaseRecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <elementReference>SC_CaseRecord.Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SC_CaseRecord.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>SC_CaseRecord.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSC_Department__c</field>
            <value>
                <elementReference>SC_CaseRecord.RSC_Department__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSC_ServiceType__c</field>
            <value>
                <elementReference>SC_CaseRecord.RSC_ServiceType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SC_GetCaseRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SC_CaseExtension__c</field>
            <value>
                <elementReference>Case_Extension_Creation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SC_RequesterEmail__c</field>
            <value>
                <elementReference>SC_CaseRecord.SC_RequesterEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SC_RequesterMobile__c</field>
            <value>
                <elementReference>SC_CaseRecord.SC_RequesterMobile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SC_RequesterName__c</field>
            <value>
                <elementReference>SC_CaseRecord.SC_RequesterName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SC_RequesterPhone__c</field>
            <value>
                <elementReference>SC_CaseRecord.SC_RequesterPhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SC_RequesterType__c</field>
            <value>
                <elementReference>SC_CaseRecord.SC_RequesterType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SC_CaseRecord.Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SC_CreateAssociatedContract</name>
        <label>CreateAssociatedContract</label>
        <locationX>875</locationX>
        <locationY>848</locationY>
        <connector>
            <targetReference>SC_GetServiceType</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SC_RollBackAllTransactions</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>SC_AssociatedContractExtension__c</field>
            <value>
                <elementReference>SC_CreateContractExtension</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SC_Case__c</field>
            <value>
                <elementReference>SC_CaseCreation</elementReference>
            </value>
        </inputAssignments>
        <object>SC_AssociatedContract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SC_CreateContractExtension</name>
        <label>CreateContractExtension</label>
        <locationX>878</locationX>
        <locationY>716</locationY>
        <connector>
            <targetReference>SC_CreateAssociatedContract</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SC_RollBackAllTransactions</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>RSC_AdviserCellphoneNumber__c</field>
            <value>
                <elementReference>SC_AssociatedContractExtension.RSC_AdviserCellphoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSC_AdviserEmail__c</field>
            <value>
                <elementReference>SC_AssociatedContractExtension.RSC_AdviserEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSC_AdviserName__c</field>
            <value>
                <elementReference>SC_AssociatedContractExtension.RSC_AdviserName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSC_AdviserSurname__c</field>
            <value>
                <elementReference>SC_AssociatedContractExtension.RSC_AdviserSurname__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSC_ConsultantCode__c</field>
            <value>
                <elementReference>SC_AssociatedContractExtension.RSC_ConsultantCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSC_PolicyNumber__c</field>
            <value>
                <elementReference>SC_CaseExtension.RSC_MasterContractNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SC_GetAssociatedContractExtRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SC_CaseExtension__c</field>
            <value>
                <elementReference>Case_Extension_Creation</elementReference>
            </value>
        </inputAssignments>
        <object>SC_AssociatedContractExtension__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SC_CreateWOIL</name>
        <label>CreateWOIL</label>
        <locationX>1394</locationX>
        <locationY>825</locationY>
        <connector>
            <targetReference>ScCaseIdAssignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SC_RollBackAllTransactions</targetReference>
        </faultConnector>
        <inputReference>SC_WOLI_Collection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>SC_CreateWorkOrder</name>
        <label>CreateWorkOrder</label>
        <locationX>1017</locationX>
        <locationY>981</locationY>
        <connector>
            <targetReference>SC_IterateOverRequirementCollection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SC_RollBackAllTransactions</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>SC_CaseCreation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SC_CaseRecord.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>SC_GetServiceType.SC_WorkType__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>SC_GetAssociatedContractExtRecordType</name>
        <label>Get Associated Contract Ext Record Type</label>
        <locationX>680</locationX>
        <locationY>670</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_CreateContractExtension</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SC_MedicalAppointment</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SC_AssociatedContractExtension__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SC_GetCaseExtensionRecordType</name>
        <label>Get Case Extension  Record Type</label>
        <locationX>700</locationX>
        <locationY>401</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Extension_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SC_MedicalAppointment</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SC_CaseExtension__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SC_GetCaseRecordType</name>
        <label>Get Case Record Type</label>
        <locationX>687</locationX>
        <locationY>529</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_CaseCreation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RSC_Retail</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SC_GetServiceType</name>
        <label>GetServiceType</label>
        <locationX>674</locationX>
        <locationY>874</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_CreateWorkOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SC_CaseRecord.RSC_ServiceType__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SC_ServiceType__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <description>To roll back all committed and pending transactions in case of fault.</description>
        <name>SC_RollBackAllTransactions</name>
        <label>Roll Back All Transactions</label>
        <locationX>1107</locationX>
        <locationY>691</locationY>
        <connector>
            <targetReference>SC_ErrorScreen</targetReference>
        </connector>
    </recordRollbacks>
    <screens>
        <name>SC_ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>1403</locationX>
        <locationY>665</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SC_ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12.25px; font-family: &amp;quot;open sans&amp;quot;, Helvetica, Arial, sans-serif; color: rgb(51, 63, 73);&quot;&gt;We have encountered an error while processing the data. Please try again.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12.25px; font-family: &amp;quot;open sans&amp;quot;, Helvetica, Arial, sans-serif; color: rgb(228, 31, 13);&quot;&gt;Error Message: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12.25px; font-family: &amp;quot;open sans&amp;quot;, Helvetica, Arial, sans-serif; color: rgb(51, 63, 73);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Medical Requirement Form</description>
        <name>SC_MedicalAppointmentCaseCreation</name>
        <label>Medical Appointment Case Creation</label>
        <locationX>848</locationX>
        <locationY>203</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SC_SelectedMedicalReqScreen</targetReference>
        </connector>
        <fields>
            <name>SC_SelectMedicalRequirements</name>
            <choiceReferences>SC_MedicalRequirementPicklistSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Medical Requirements</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <helpText>&lt;ol&gt;&lt;li&gt;You can select multiple medical requirement to press control key.&lt;/li&gt;&lt;li&gt;You can directly search particular  medical requirement type with English Alphabet  &lt;/li&gt;&lt;/ol&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_SelectedMedicalReqScreen</name>
        <label>Selected Medical Requirements</label>
        <locationX>1018</locationX>
        <locationY>202</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SC_AssignSelectedValueToSelectVariable</targetReference>
        </connector>
        <fields>
            <name>SC_SelectedMedicalReqDisplayBox</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: serif; font-size: 16px;&quot;&gt;Selected Medical Requirements&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!SC_MedicalReqLineBreak}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>898</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SC_MedicalAppointmentCaseCreation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SC_AssociatedContractExtension</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SC_AssociatedContractExtension__c</objectType>
    </variables>
    <variables>
        <name>SC_CaseExtension</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SC_CaseExtension__c</objectType>
    </variables>
    <variables>
        <name>SC_caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SC_RequirementCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SC_SelectedRequirementsValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_SingleRequirementValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SC_WOLI_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>SC_WOLI_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
