flows/SC_FLOW_SMSToNursesNoOfAppointments.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>SC_AssignTemporaryAppointmentCounter</name>
        <label>Assign Temporary Appointment Counter</label>
        <locationX>651</locationX>
        <locationY>66</locationY>
        <assignmentItems>
            <assignToReference>SC_TemporaryAppointmentCounter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SC_GetAssignedResourcesRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_CheckNoOfAppointmentGreaterThanZero</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>SC_CheckNoOfAppointmentGreaterThanZero</name>
        <label>Check No Of Appointment Greater Than Zero</label>
        <locationX>815</locationX>
        <locationY>68</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SC_AppointmentCountGreaterThanZeroCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SC_TemporaryAppointmentCounter</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SC_NumberOfAppointments__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_UpdateNoOfAppointmentsForToday</targetReference>
            </connector>
            <label>Appointment Count Greater Than Zero Check</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SMS To Nurses No Of Appointments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SC_FLOW_SMSToNursesNoOfAppointments</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>SC_GetAssignedResourcesRecords</name>
        <label>Get Assigned Resources Records</label>
        <locationX>488</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_AssignTemporaryAppointmentCounter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SC_TodaysAppointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SC_UpdateNoOfAppointmentsForToday</name>
        <label>Update No Of Appointments For Today</label>
        <locationX>1108</locationX>
        <locationY>64</locationY>
        <inputAssignments>
            <field>SC_NumberOfAppointments__c</field>
            <value>
                <elementReference>SC_TemporaryAppointmentCounter</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>78</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SC_GetAssignedResourcesRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SC_NursesMobileNumber__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceResource</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-03-13</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SC_TemporaryAppointmentCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
