flows/SD_FLOW_NewCustomerLibertyHealth.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Update Member Type, Product Type and Type of Enquiry for new Customers.</description>
    <interviewLabel>SD_FLOW_LogACase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Customer Liberty Health</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Chat_Transcript</name>
        <label>Chat Transcript</label>
        <locationX>52</locationX>
        <locationY>366</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChatKey</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChatKey</elementReference>
            </value>
        </filters>
        <object>LiveChatTranscript</object>
        <outputAssignments>
            <assignToReference>MemberType</assignToReference>
            <field>SD_MemberType__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductType</assignToReference>
            <field>SD_ProductType__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TypeOfEnquiry</assignToReference>
            <field>SD_TypeOfEnquiry__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateChatTranscriptForNewCustomer</name>
        <label>Update Chat Transcript For New Customer</label>
        <locationX>51</locationX>
        <locationY>180</locationY>
        <connector>
            <targetReference>Chat_Transcript</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChatKey</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChatKey</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SD_MemberType__c</field>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SD_ProductType__c</field>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SD_TypeOfEnquiry__c</field>
            <value>
                <stringValue>General Enquiry</stringValue>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>UpdateChatTranscriptForNewCustomer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ChatKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MemberType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TypeOfEnquiry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
