flows/SLC_experienceCloudLoginFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_contact_to_record</name>
        <label>Assign contact to record</label>
        <locationX>138</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_person_account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_subscription_preferences</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_contact_to_record_1</name>
        <label>Assign contact to record</label>
        <locationX>666</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_person_account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_subscription_preferences_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_preferences</name>
        <label>Assign preferences</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_ME_Balanced__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultJPMorganAssetManagement_me</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_ME_Columbia_Threadneedle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultColumbiaThreadneedle_me</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_ME_Credit_Alternatives__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultCreditAlternatives</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_ME_Economic_Insights__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultEconomicInsights_me</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_ME_Fixed_Income__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultsFixedIncome_me</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_ME_Index_Investments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultIndexInvestment_me</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_ME_Infrastructure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultInfrastructure_me</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_ME_Listed_Property__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultListedProperty_me</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_ME_Multi_strategy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultMultiStrategy_me</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_PC_Balanced__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultJPMorganAssetManagement_pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_PC_Columbia_Threadneedle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultColumbiaThreadneedle_pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_PC_Credit_Alternatives__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultCreditAlternatives_pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_PC_Economic_Insights__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultEconomicInsights_pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_PC_Fixed_Income__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultFixedIncome_pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_PC_Index_Investments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultIndexInvestments_pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_PC_Infrastructure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultInfrastructure_pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_PC_Listed_Property__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultListedProperty_pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_PC_Multi_strategy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultMultiStrategy_pc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_contact_to_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_preferences_1</name>
        <label>Assign preferences</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_ME_Balanced__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultJPMorganAssetManagement_me</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_ME_Columbia_Threadneedle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultColumbiaThreadneedle_me</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_ME_Credit_Alternatives__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultCreditAlternatives</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_ME_Economic_Insights__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultEconomicInsights_me</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_ME_Fixed_Income__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultsFixedIncome_me</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_ME_Index_Investments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultIndexInvestment_me</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_ME_Infrastructure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultInfrastructure_me</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_ME_Listed_Property__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultListedProperty_me</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_ME_Multi_strategy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultMultiStrategy_me</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_PC_Balanced__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultJPMorganAssetManagement_pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_PC_Columbia_Threadneedle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultColumbiaThreadneedle_pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_PC_Credit_Alternatives__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultCreditAlternatives_pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_PC_Economic_Insights__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultEconomicInsights_pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_PC_Fixed_Income__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultFixedIncome_pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_PC_Index_Investments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultIndexInvestments_pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_PC_Infrastructure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultInfrastructure_pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_PC_Listed_Property__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultListedProperty_pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPreferences.SLC_PC_Multi_strategy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultMultiStrategy_pc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_contact_to_record_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_subscription_preferences_exist</name>
        <label>Does subscription preferences exist?</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Content_Preferences</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_person_account.SLC_Subscription_Preferences__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_subscription_preferences_exist_1</name>
        <label>Does subscription preferences exist?</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Content_Preferences_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_person_account.SLC_Subscription_Preferences__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Copy 1 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>TCs_accepted</name>
        <label>TCs accepted?</label>
        <locationX>292</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Does_subscription_preferences_exist_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_person_account.SLC_termsAndConditions__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Portal_Base_URL</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>baseURL</name>
        <dataType>String</dataType>
        <expression>{!Get_Portal_Base_URL.Base_URL__c}</expression>
    </formulas>
    <formulas>
        <name>resultColumbiaThreadneedle_me</name>
        <dataType>String</dataType>
        <expression>IF({!booleanColumbiaThreadneedle_me} = true, &apos;Yes&apos;, &apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>resultColumbiaThreadneedle_pc</name>
        <dataType>String</dataType>
        <expression>IF({!booleanColumbiaThreadneedle_pc} = true, &apos;Yes&apos;, &apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>resultCreditAlternatives</name>
        <dataType>String</dataType>
        <expression>IF({!booleanCreditAlternatives_me} = true, &apos;Yes&apos;, &apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>resultCreditAlternatives_pc</name>
        <dataType>String</dataType>
        <expression>IF({!booleanCreditAlternatives_pc} = true, &apos;Yes&apos;, &apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>resultEconomicInsights_me</name>
        <dataType>String</dataType>
        <expression>IF({!booleanEconomicInsights_me} = true, &apos;Yes&apos;, &apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>resultEconomicInsights_pc</name>
        <dataType>String</dataType>
        <expression>IF({!booleanEconomicInsights_pc} = true, &apos;Yes&apos;, &apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>resultEquity_pc</name>
        <dataType>String</dataType>
        <expression>IF({!booleanEquity_pc} = true, &apos;Yes&apos;, &apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>resultFixedIncome_pc</name>
        <dataType>String</dataType>
        <expression>IF({!booleanFixedIncome_pc} = true, &apos;Yes&apos;, &apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>resultIndexInvestment_me</name>
        <dataType>String</dataType>
        <expression>IF({!booleanIndexInvestments_me} = true, &apos;Yes&apos;, &apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>resultIndexInvestments_pc</name>
        <dataType>String</dataType>
        <expression>IF({!booleanIndexInvestments_pc} = true, &apos;Yes&apos;, &apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>resultInfrastructure_me</name>
        <dataType>String</dataType>
        <expression>IF({!booleanInfrastructure_me} = true, &apos;Yes&apos;, &apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>resultInfrastructure_pc</name>
        <dataType>String</dataType>
        <expression>IF({!booleanInfrastructure_pc} = true, &apos;Yes&apos;, &apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>resultJPMorganAssetManagement_me</name>
        <dataType>String</dataType>
        <expression>IF({!booleanJPMorganAssetManagement_me} = true, &apos;Yes&apos;, &apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>resultJPMorganAssetManagement_pc</name>
        <dataType>String</dataType>
        <expression>IF({!booleanJPMorganAssetManagement_pc} = true, &apos;Yes&apos;, &apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>resultListedProperty_me</name>
        <dataType>String</dataType>
        <expression>IF({!booleanListedProperty_me} = true, &apos;Yes&apos;, &apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>resultListedProperty_pc</name>
        <dataType>String</dataType>
        <expression>IF({!booleanListedProperty_pc} = true, &apos;Yes&apos;, &apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>resultMultiManager_me</name>
        <dataType>String</dataType>
        <expression>IF({!booleanMultiManager_me} = true, &apos;Yes&apos;, &apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>resultMultiManager_pc</name>
        <dataType>String</dataType>
        <expression>IF({!booleanMultiManager_pc} = true, &apos;Yes&apos;, &apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>resultMultiStrategy_me</name>
        <dataType>String</dataType>
        <expression>IF({!booleanMultiStrategy_me} = true, &apos;Yes&apos;, &apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>resultMultiStrategy_pc</name>
        <dataType>String</dataType>
        <expression>IF({!booleanMultiStrategy_pc} = true, &apos;Yes&apos;, &apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>resultPublications_me</name>
        <dataType>String</dataType>
        <expression>IF({!booleanPublications_me} = true, &apos;Yes&apos;, &apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>resultPublications_pc</name>
        <dataType>String</dataType>
        <expression>IF({!booleanPublications_pc} = true, &apos;Yes&apos;, &apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>resultsEquity_me</name>
        <dataType>String</dataType>
        <expression>IF({!booleanEquity_me} = true, &apos;Yes&apos;, &apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>resultsFixedIncome_me</name>
        <dataType>String</dataType>
        <expression>IF({!booleanFixedIncome_me} = true, &apos;Yes&apos;, &apos;No&apos;)</expression>
    </formulas>
    <interviewLabel>STANLIB Login Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>STANLIB Experience Cloud Login Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_subscription_preferences</name>
        <label>Create subscription preferences</label>
        <locationX>138</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Update_account</targetReference>
        </connector>
        <inputReference>subscriptionPreferences</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_subscription_preferences_1</name>
        <label>Create subscription preferences</label>
        <locationX>666</locationX>
        <locationY>998</locationY>
        <inputReference>subscriptionPreferences</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_person_account</name>
        <label>Get person account</label>
        <locationX>292</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TCs_accepted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_user.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Portal_Base_URL</name>
        <label>Get Portal Base URL</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>T_Cs_Screen</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>STANLIB_Portal_Base_URL__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_user</name>
        <label>Get user</label>
        <locationX>292</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_person_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_account</name>
        <label>Update account</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_person_account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SLC_termsAndConditions__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Content_Preferences</name>
        <label>Content Preferences</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Marketing_Preferences_1</targetReference>
        </connector>
        <fields>
            <name>contentPreferences</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Content Preferences&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Content_Preferences_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Content_Preferences_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>balanced_pc</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>J.P. Morgan Asset Management</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanJPMorganAssetManagement_pc</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanJPMorganAssetManagement_pc</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>columbiaThreadneedle_pc</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Columbia Threadneedle</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanColumbiaThreadneedle_pc</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanColumbiaThreadneedle_pc</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>creditAlternatives_pc</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Credit Alternatives</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanCreditAlternatives_pc</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanCreditAlternatives_pc</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>economicInsights_pc</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Economic Insights</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanEconomicInsights_pc</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanEconomicInsights_pc</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>fixedIncome_pc</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Fixed Income</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanFixedIncome_pc</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanFixedIncome_pc</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Content_Preferences_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>indexInvestments_pc</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Systematic Solutions</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanIndexInvestments_pc</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanIndexInvestments_pc</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Infrastructure_pc</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Infrastructure</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanInfrastructure_pc</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanInfrastructure_pc</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>listedProperty_pc</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Listed Property</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanListedProperty_pc</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanListedProperty_pc</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>multiStrategy_pc</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Multi-Strategy</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanMultiStrategy_pc</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanMultiStrategy_pc</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Content_Preferences_1</name>
        <label>Content Preferences</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Marketings_Preferences_1</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_contentPreferences</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Content Preferences&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Content_Preferences_1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Content_Preferences_1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_balanced_pc</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>J.P. Morgan Asset Management</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanJPMorganAssetManagement_pc</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanJPMorganAssetManagement_pc</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Copy_1_of_columbiaThreadneedle_pc</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Columbia Threadneedle</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanColumbiaThreadneedle_pc</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanColumbiaThreadneedle_pc</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Copy_1_of_creditAlternatives_pc</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Credit Alternatives</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanCreditAlternatives_pc</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanCreditAlternatives_pc</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Copy_1_of_economicInsights_pc</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Economic Insights</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanEconomicInsights_pc</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanEconomicInsights_pc</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Copy_1_of_fixedIncome_pc</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Fixed Income</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanFixedIncome_pc</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanFixedIncome_pc</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Content_Preferences_1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_indexInvestments_pc</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Systematic Solutions</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanIndexInvestments_pc</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanIndexInvestments_pc</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Copy_1_of_Infrastructure_pc</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Infrastructure</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanInfrastructure_pc</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanInfrastructure_pc</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Copy_1_of_listedProperty_pc</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Listed Property</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanListedProperty_pc</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanListedProperty_pc</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Copy_1_of_multiStrategy_pc</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Multi-Strategy</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanMultiStrategy_pc</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanMultiStrategy_pc</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Marketing_Preferences_1</name>
        <label>Marketing Preferences</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_preferences</targetReference>
        </connector>
        <fields>
            <name>Marketing_preferences</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Marketing Preferences&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Marketing_Preferences_1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Marketing_Preferences_1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>balanced_me</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>J.P. Morgan Asset Management</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanJPMorganAssetManagement_me</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanJPMorganAssetManagement_me</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>olumbiaThreadneedle_me</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Columbia Threadneedle</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanColumbiaThreadneedle_me</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanColumbiaThreadneedle_me</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>creditAlternatives_me</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Credit Alternatives</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanCreditAlternatives_me</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanCreditAlternatives_me</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>economicInsights_me</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Economic Insights</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanEconomicInsights_me</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanEconomicInsights_me</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>fixedIncome_me</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Fixed Income</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanFixedIncome_me</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanFixedIncome_me</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Marketing_Preferences_1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>indexInvestments_me</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Systematic Solutions</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanIndexInvestments_me</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanIndexInvestments_me</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Infrastructure_me</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Infrastructure</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanInfrastructure_me</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanInfrastructure_me</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>listedProperty_me</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Listed Property</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanListedProperty_me</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanListedProperty_me</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>multiStrategy_me</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Multi-Strategy</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanMultiStrategy_me</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanMultiStrategy_me</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Marketings_Preferences_1</name>
        <label>Marketings Preferences</label>
        <locationX>666</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_preferences_1</targetReference>
        </connector>
        <fields>
            <name>Marketing_Preferences_2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Marketing Preferences&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Marketings_Preferences_1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Marketings_Preferences_1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_balanced_me</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>J.P. Morgan Asset Management</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanJPMorganAssetManagement_me</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanJPMorganAssetManagement_me</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Copy_1_of_olumbiaThreadneedle_me</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Columbia Threadneedle</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanColumbiaThreadneedle_me</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanColumbiaThreadneedle_me</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Copy_1_of_creditAlternatives_me</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Credit Alternatives</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanCreditAlternatives_me</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanCreditAlternatives_me</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Copy_1_of_economicInsights_me</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Economic Insights</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanEconomicInsights_me</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanEconomicInsights_me</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Copy_1_of_fixedIncome_me</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Fixed Income</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanFixedIncome_me</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanFixedIncome_me</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Marketings_Preferences_1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_indexInvestments_me</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Systematic Solutions</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanIndexInvestments_me</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanIndexInvestments_me</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Copy_1_of_Infrastructure_me</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Infrastructure</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanInfrastructure_me</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanInfrastructure_me</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Copy_1_of_listedProperty_me</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Listed Property</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanListedProperty_me</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanListedProperty_me</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Copy_1_of_multiStrategy_me</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Multi-Strategy</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>booleanMultiStrategy_me</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>booleanMultiStrategy_me</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>T_Cs_Screen</name>
        <label>T&amp;Cs Screen</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Does_subscription_preferences_exist</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;Please read and accept the &lt;a href=&quot;{!baseURL}stanlib-terms-and-conditions&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;terms and conditions&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>I_accept</name>
            <dataType>Boolean</dataType>
            <fieldText>I accept the terms and conditions</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please accept the Terms and Conditions to proceed.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!I_accept} = true</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>166</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_user</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>booleanColumbiaThreadneedle_me</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>booleanColumbiaThreadneedle_pc</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>booleanCreditAlternatives_me</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>booleanCreditAlternatives_pc</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>booleanEconomicInsights_me</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>booleanEconomicInsights_pc</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>booleanEquity_me</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>booleanEquity_pc</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>booleanFixedIncome_me</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>booleanFixedIncome_pc</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>booleanIndexInvestments_me</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>booleanIndexInvestments_pc</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>booleanInfrastructure_me</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>booleanInfrastructure_pc</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>booleanJPMorganAssetManagement_me</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>booleanJPMorganAssetManagement_pc</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>booleanListedProperty_me</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>booleanListedProperty_pc</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>booleanMultiManager_me</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>booleanMultiManager_pc</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>booleanMultiStrategy_me</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>booleanMultiStrategy_pc</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>booleanPublications_me</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>booleanPublications_pc</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subscriptionPreferences</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SLC_Subscription_Preferences__c</objectType>
    </variables>
</Flow>
