flows/SLC_FLOW_ActionPlanDisplay.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_columns_to_tables</name>
        <label>Add columns to tables</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>taskColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Subject</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Status</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>OwnerId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>documentColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>documentColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Status</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Internal_Doc_Type_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_record_to_selected_docs</name>
        <label>Add record to selected docs</label>
        <locationX>264</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>selectedDocs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_selected_docs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_selected_docs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_task_to_list</name>
        <label>Add task to list</label>
        <locationX>264</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>selectedTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_selected_tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Id_to_text_list</name>
        <label>Assign Id to text list</label>
        <locationX>528</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>documentChecklistIds_external</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_document_checklist_items.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_document_checklist_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Id_to_text_list_internal</name>
        <label>Assign Id to text list</label>
        <locationX>264</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>documentChecklistIds_internal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_document_checklist_items.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_document_checklist_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_task_id_to_text_list</name>
        <label>Assign task id to text list</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>taskID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_task_records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_task_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_number_of_records_in_filtered_collection</name>
        <label>Count number of records in filtered collection</label>
        <locationX>528</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>numFilteredRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Check_if_Internal_External</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Internal_or_External</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_status_as_accepted</name>
        <label>Set status as accepted</label>
        <locationX>264</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>Get_selected_docs.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_record_to_selected_docs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_task_as_completed</name>
        <label>Set task as completed</label>
        <locationX>264</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>Get_selected_tasks.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_task_to_list</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Check_if_Internal_External</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Check if Internal/External</label>
        <locationX>528</locationX>
        <locationY>1082</locationY>
        <assignNextValueToReference>currentItem_Check_if_Internal_External</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Internal_Doc_Type_Filter</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Check_if_Internal_External.Document_Code__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_through_document_checklist_items.DocumentType.Description</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_number_of_records_in_filtered_collection</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Internal_Doc_Type_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Internal Doc Type Filter</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNextValueToReference>currentItem_Internal_Doc_Type_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_metadata</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Internal_Doc_Type_Filter.Onboarding_Accessibility__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Internal</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_through_task_records</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Internal_or_External</name>
        <label>Internal or External?</label>
        <locationX>528</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Loop_through_document_checklist_items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numFilteredRecords</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_document_checklist_items.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Id_to_text_list_internal</targetReference>
            </connector>
            <label>Internal</label>
        </rules>
        <rules>
            <name>External</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numFilteredRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_document_checklist_items.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Id_to_text_list</targetReference>
            </connector>
            <label>External</label>
        </rules>
    </decisions>
    <description>Displays action plan and document checklist items against an opportunity record for Stanlib Institutional new business</description>
    <environments>Default</environments>
    <interviewLabel>STANLIB Action Plan Display {!$Flow.CurrentDateTime}</interviewLabel>
    <label>STANLIB Action Plan Display</label>
    <loops>
        <name>Loop_through_document_checklist_items</name>
        <label>Loop through document checklist items</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <collectionReference>Get_Document_Checklist_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Internal_External</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Action_Plan_Document_Checklist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_selected_docs</name>
        <label>Loop through selected docs</label>
        <locationX>176</locationX>
        <locationY>2306</locationY>
        <collectionReference>selectedDocTextIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_selected_docs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_tasks_to_completed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_task_records</name>
        <label>Loop through task records</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_task_id_to_text_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_document_checklist_items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Selected_Tasks</name>
        <label>Selected Tasks</label>
        <locationX>176</locationX>
        <locationY>1790</locationY>
        <collectionReference>selectedTaskTextIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_selected_tasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_selected_docs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Document_Checklist_Items</name>
        <label>Get Document Checklist Items</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_metadata</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DocumentChecklistItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_metadata</name>
        <label>Get metadata</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_columns_to_tables</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SLC_Document_Type_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_selected_docs</name>
        <label>Get selected docs</label>
        <locationX>264</locationX>
        <locationY>2414</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_status_as_accepted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_selected_docs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DocumentChecklistItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_selected_tasks</name>
        <label>Get selected tasks</label>
        <locationX>264</locationX>
        <locationY>1898</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_task_as_completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Tasks</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tasks</name>
        <label>Get Tasks</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Document_Checklist_Items</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_docs_to_accepted</name>
        <label>Update docs to accepted</label>
        <locationX>176</locationX>
        <locationY>2930</locationY>
        <inputReference>selectedDocs</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_tasks_to_completed</name>
        <label>Update tasks to completed</label>
        <locationX>176</locationX>
        <locationY>2822</locationY>
        <connector>
            <targetReference>Update_docs_to_accepted</targetReference>
        </connector>
        <inputReference>selectedTasks</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Action_Plan_Document_Checklist</name>
        <label>Action Plan + Document Checklist</label>
        <locationX>176</locationX>
        <locationY>1682</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selected_Tasks</targetReference>
        </connector>
        <fields>
            <name>Open_Tasks</name>
            <fieldText>Open Tasks</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Open_Tasks_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OpenActionPlanTasks</name>
                    <fieldText>&lt;p&gt;&lt;em&gt;Displayed tasks indicate outstanding actions to be taken before moving to the next stage&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>taskTableDisplay</name>
                    <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldsToQuery</name>
                        <value>
                            <elementReference>taskColumns</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputRecordIds</name>
                        <value>
                            <elementReference>taskID</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRowSelectable</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordIds</name>
                        <value>
                            <elementReference>selectedTaskTextIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>selectedTaskTextIds</assignToReference>
                        <name>selectedRecordIds</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Documents_for_you_to_upload</name>
            <fieldText>Documents for you to upload</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Documents_for_you_to_upload_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>helptext</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Displayed documents in the list below indicate documents required for you to upload at the current stage of the opportunity. You can upload the required documents using the Document Checklist Items component at the bottom of the page&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>documentChecklistItems</name>
                    <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldsToQuery</name>
                        <value>
                            <elementReference>documentColumns</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputRecordIds</name>
                        <value>
                            <elementReference>documentChecklistIds_internal</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRowSelectable</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordIds</name>
                        <value>
                            <elementReference>selectedDocTextIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>selectedDocTextIds</assignToReference>
                        <name>selectedRecordIds</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Documents_for_you_to_approve</name>
            <fieldText>Documents for you to approve</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Documents_for_you_to_approve_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>helptext1</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Displayed documents in the list below indicate documents that require your approval. You can download these documents from the Document Checklist Items component at the bottom of the page&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>docsToApprove</name>
                    <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldsToQuery</name>
                        <value>
                            <elementReference>documentColumns</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputRecordIds</name>
                        <value>
                            <elementReference>documentChecklistIds_external</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRowSelectable</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordIds</name>
                        <value>
                            <elementReference>selectedDocTextIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>selectedDocTextIds</assignToReference>
                        <name>selectedRecordIds</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>helpMsg</name>
            <fieldText>&lt;p&gt;&lt;em&gt;Select the tasks and document check list items you want to mark as complete, then press &lt;/em&gt;&lt;strong&gt;&lt;em&gt;Update&lt;/em&gt;&lt;/strong&gt;&lt;em&gt;.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Tasks</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Check_if_Internal_External</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SLC_Document_Type_Mapping__mdt</objectType>
    </variables>
    <variables>
        <name>currentItem_DocTypeInternal_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SLC_InstoOnboardingCodes__mdt</objectType>
    </variables>
    <variables>
        <name>currentItem_External_Doc_Types</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SLC_InstoOnboardingCodes__mdt</objectType>
    </variables>
    <variables>
        <name>currentItem_Internal_Doc_Type_Filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SLC_Document_Type_Mapping__mdt</objectType>
    </variables>
    <variables>
        <name>currentItem_Internal_Doc_Types_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SLC_InstoOnboardingCodes__mdt</objectType>
    </variables>
    <variables>
        <name>documentChecklistIds_external</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>documentChecklistIds_internal</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>documentColumns</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>numFilteredRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedDocs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DocumentChecklistItem</objectType>
    </variables>
    <variables>
        <name>selectedDocTextIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>selectedTaskTextIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskColumns</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
