flows/SLC_FLOW_RegsitrationAPIWebserviceCalloutUpdate.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>decision_Check_Profile_is_STANLIB_Portal_User</name>
        <label>Check Profile is STANLIB Portal User</label>
        <locationX>768</locationX>
        <locationY>775</locationY>
        <defaultConnectorLabel>Not STANLIB Portal User</defaultConnectorLabel>
        <rules>
            <name>outcome_STANLIB_Portal_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STANLIB Portal User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cr_Update_User_In_External_System</targetReference>
            </connector>
            <label>STANLIB Portal User</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Registration API WebService Callout (Update) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registration API WebService Callout (Update)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>cr_Update_User_In_External_System</name>
        <label>Update User In External System</label>
        <locationX>776</locationX>
        <locationY>991</locationY>
        <inputAssignments>
            <field>CMN_Service__c</field>
            <value>
                <elementReference>SLC_ServiceName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMN_TriggeringObjectId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMN_Type__c</field>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </inputAssignments>
        <object>CMN_WebserviceCallQueue__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>ur_Update_Person_Account</name>
        <label>Update Person Account</label>
        <locationX>776</locationX>
        <locationY>483</locationY>
        <connector>
            <targetReference>decision_Check_Profile_is_STANLIB_Portal_User</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLC_IDNumber__c</field>
            <value>
                <elementReference>$Record.FederationIdentifier</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>652</locationX>
        <locationY>50</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FederationIdentifier</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>ur_Update_Person_Account</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>SLC_ServiceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SLC_API_RestOutboundUpdateUser</stringValue>
        </value>
    </variables>
</Flow>
