flows/SLC_FLOW_AddUserToGroupOnACRUpdate.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assignment_AccRead_Group_Member</name>
        <label>AccRead Group Member</label>
        <locationX>296</locationX>
        <locationY>1464</locationY>
        <assignmentItems>
            <assignToReference>record_AccReadGroupMember.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.CMN_PublicGroupAccountRead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_AccReadGroupMember.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record_PortalUser.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignment_Assign_Group_Members_To_Insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_AccRead_Group_Member_0</name>
        <label>AccRead Group Member</label>
        <locationX>983</locationX>
        <locationY>1689</locationY>
        <assignmentItems>
            <assignToReference>record_AccReadGroupMember.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.CMN_PublicGroupAccountRead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_AccReadGroupMember.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record_PortalUser.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cr_Create_Group_Member_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Assign_Group_Members_To_Insert</name>
        <label>Assign Group Members To Insert</label>
        <locationX>1135</locationX>
        <locationY>2121</locationY>
        <assignmentItems>
            <assignToReference>collection_GroupMembersToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>record_AccReadGroupMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collection_GroupMembersToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>record_CaseReadGroupMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cr_Create_Group_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Both_Group_Members</name>
        <label>Add Both Group Members</label>
        <locationX>1190</locationX>
        <locationY>1452</locationY>
        <assignmentItems>
            <assignToReference>record_AccReadGroupMember.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.CMN_PublicGroupAccountRead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_AccReadGroupMember.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record_PortalUser.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_CaseReadGroupMember.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.CMN_PublicGroupCaseRead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_CaseReadGroupMember.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record_PortalUser.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignment_Assign_Group_Members_To_Insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_CaseRead_Group_Member</name>
        <label>CaseRead Group Member</label>
        <locationX>1396</locationX>
        <locationY>1687</locationY>
        <assignmentItems>
            <assignToReference>record_CaseReadGroupMember.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.CMN_PublicGroupCaseRead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_CaseReadGroupMember.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record_PortalUser.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignment_Assign_Group_Members_To_Insert</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_Check_Groups_Exists</name>
        <label>Check Groups Exists</label>
        <locationX>879</locationX>
        <locationY>1281</locationY>
        <defaultConnectorLabel>No Groups Exist</defaultConnectorLabel>
        <rules>
            <name>outcome_Account_Read_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.CMN_PublicGroupAccountRead__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.CMN_PublicGroupCaseRead__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>decision_Role_Change_AccRead</targetReference>
            </connector>
            <label>Only Account Read Exists</label>
        </rules>
        <rules>
            <name>outcome_Only_Case_Read_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.CMN_PublicGroupCaseRead__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.CMN_PublicGroupAccountRead__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>decision_Role_Change_CaseRead</targetReference>
            </connector>
            <label>Only Case Read Exists</label>
        </rules>
        <rules>
            <name>outcome_Both_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.CMN_PublicGroupAccountRead__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.CMN_PublicGroupCaseRead__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>decision_Role_Change_Both</targetReference>
            </connector>
            <label>Both Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Check_if_StanlibPortalUser_PersonAccount</name>
        <label>Check if Stanlib Portal User &amp; Person Account</label>
        <locationX>880</locationX>
        <locationY>1062</locationY>
        <defaultConnectorLabel>Not Stanlib Portal User and Person Account</defaultConnectorLabel>
        <rules>
            <name>outcome_Stanlib_Portal_User_Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>record_PortalUser.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STANLIB Portal User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>record_PortalUser.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SLI_PersonAccount</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>record_PortalUser.IsPortalEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_Check_Groups_Exists</targetReference>
            </connector>
            <label>Stanlib Portal User &amp; Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Check_User_Exists</name>
        <label>Check User Exists</label>
        <locationX>879</locationX>
        <locationY>862</locationY>
        <defaultConnectorLabel>Doesn&apos;t Exist</defaultConnectorLabel>
        <rules>
            <name>outcome_User_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>record_PortalUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_Check_if_StanlibPortalUser_PersonAccount</targetReference>
            </connector>
            <label>User Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Group_Member_Found</name>
        <label>Group Member Found</label>
        <locationX>2092</locationX>
        <locationY>1288</locationY>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>outcome_Group_Member_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_Group_Member_CaseRead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dr_Delete_Group_Member_CaseRead</targetReference>
            </connector>
            <label>Group Member Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Role_Change_AccRead</name>
        <label>Role Change - AccRead</label>
        <locationX>541</locationX>
        <locationY>1286</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_Role_Is_Now_Null_AccRead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Roles</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>gr_Get_Group_Member_NullRole_AccRead</targetReference>
            </connector>
            <label>Role Is Now Null</label>
        </rules>
        <rules>
            <name>outcome_Role_Is_Now_Not_Null_AccRead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Roles</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>assignment_AccRead_Group_Member</targetReference>
            </connector>
            <label>Role Is Now Not Null</label>
        </rules>
        <rules>
            <name>outcome_Role_Is_Now_Consultant_AccRead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Roles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asset consultant</stringValue>
                </rightValue>
            </conditions>
            <label>Role Is Now Consultant</label>
        </rules>
        <rules>
            <name>outcome_Role_Is_Now_Not_Consultant_AccRead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Roles</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Asset consultant</stringValue>
                </rightValue>
            </conditions>
            <label>Role Is Now Not Consultant</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Role_Change_Both</name>
        <label>Role Change - Both</label>
        <locationX>886</locationX>
        <locationY>1456</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_Role_Is_Now_Null_Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Roles</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>gr_Get_Group_Member_NullRole_Both</targetReference>
            </connector>
            <label>Role Is Now Null - Both</label>
        </rules>
        <rules>
            <name>outcome_Role_Is_Now_Consultant_Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Roles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asset consultant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_AccRead_Group_Member_0</targetReference>
            </connector>
            <label>Role Is Now Consultant - Both</label>
        </rules>
        <rules>
            <name>outcome_Role_Is_Now_Not_Consultant_Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Roles</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Asset consultant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_Both_Group_Members</targetReference>
            </connector>
            <label>Role Is Now Not Consultant - Both</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Role_Change_CaseRead</name>
        <label>Role Change - CaseRead</label>
        <locationX>1382</locationX>
        <locationY>1284</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_Role_Is_Now_Null_CaseRead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Roles</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>gr_Get_Group_Member_CaseRead</targetReference>
            </connector>
            <label>Role Is Now Null - CaseRead</label>
        </rules>
        <rules>
            <name>outcome_Role_Is_Now_Consultant_CaseRead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Roles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asset consultant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_Get_Group_Member_CaseRead</targetReference>
            </connector>
            <label>Role Is Now Consultant - CaseRead</label>
        </rules>
        <rules>
            <name>outcome_Role_Is_Now_Not_Consultant_CaseRead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Roles</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Asset consultant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_CaseRead_Group_Member</targetReference>
            </connector>
            <label>Role Is Now Not Consultant - CaseRead</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Add User To Group On ACR Create Flow (Update) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add User To Group On ACR Create Flow (Update)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>cr_Create_Group_Member</name>
        <label>Create Group Member</label>
        <locationX>1114</locationX>
        <locationY>2425</locationY>
        <inputReference>collection_GroupMembersToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_Group_Member_0</name>
        <label>Create Group Member</label>
        <locationX>983</locationX>
        <locationY>1874</locationY>
        <connector>
            <targetReference>gr_Get_Group_Member_CaseRead</targetReference>
        </connector>
        <inputReference>record_AccReadGroupMember</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>dr_Delete_Group_Member_CaseRead</name>
        <label>Delete Group Member</label>
        <locationX>2293</locationX>
        <locationY>1285</locationY>
        <inputReference>gr_Get_Group_Member_CaseRead</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>dr_Delete_Group_Member_NullRole</name>
        <label>Delete Group Member - Null Role</label>
        <locationX>50</locationX>
        <locationY>1279</locationY>
        <inputReference>gr_Get_Group_Member_NullRole_AccRead</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>dr_Delete_Group_Member_NullRole_Both</name>
        <label>Delete Group Member - Null Role</label>
        <locationX>786</locationX>
        <locationY>1726</locationY>
        <inputReference>gr_Get_Group_Member_NullRole_Both</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>gr_Get_Group_Member_CaseRead</name>
        <label>Get Group Member</label>
        <locationX>1909</locationX>
        <locationY>1285</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Group_Member_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record_PortalUser.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.CMN_PublicGroupCaseRead__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_Group_Member_NullRole_AccRead</name>
        <label>Get Group Member - Null Role</label>
        <locationX>297</locationX>
        <locationY>1279</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dr_Delete_Group_Member_NullRole</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record_PortalUser.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.CMN_PublicGroupAccountRead__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_Group_Member_NullRole_Both</name>
        <label>Get Group Member - Null Role</label>
        <locationX>785</locationX>
        <locationY>1582</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dr_Delete_Group_Member_NullRole_Both</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (1 AND 3)</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record_PortalUser.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.CMN_PublicGroupCaseRead__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.CMN_PublicGroupAccountRead__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_User_Enabled_Contact</name>
        <label>Get User Enabled Contact</label>
        <locationX>887</locationX>
        <locationY>658</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Check_User_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact.AccountId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>record_PortalUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>ProfileId</queriedFields>
        <queriedFields>IsPortalEnabled</queriedFields>
    </recordLookups>
    <start>
        <locationX>761</locationX>
        <locationY>42</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Roles</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>gr_Get_User_Enabled_Contact</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>collection_ACR_AccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collection_GroupMembersToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>record_AccReadGroupMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>record_CaseReadGroupMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>record_PortalUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
