flows/SLC_FLOW_ScheduledFinancialAccountTransactionShare.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>apxc_Get_Field_Value</name>
        <label>Get Field Value</label>
        <locationX>631</locationX>
        <locationY>1246</locationY>
        <actionName>CMN_FLOW_GetDynamicFieldValue</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decision_Record_Type_Criteria</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldApiName</name>
            <value>
                <elementReference>gr_Get_Apex_Sharing_Setting.CMN_AccountPublicGroupFieldName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>gr_Get_FA_Account</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>decision_Check_if_FA_Null</name>
        <label>Check if FA Null</label>
        <locationX>632</locationX>
        <locationY>303</locationY>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>outcome_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FinServ__FinancialAccount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FinServ__FinancialAccount__r.FinServ__PrimaryOwner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FinServ__FinancialAccount__r.FinServ__PrimaryOwner__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SLI_StanlibInstitutionalAccount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_Get_Share_Records</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_If_Share_Not_Null</name>
        <label>If Share Not Null</label>
        <locationX>631</locationX>
        <locationY>633</locationY>
        <defaultConnector>
            <targetReference>gr_Get_Apex_Sharing_Setting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>outcome_Share_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_Share_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Share Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Record_Type_Criteria</name>
        <label>Record Type Criteria</label>
        <locationX>622</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>outcome_RT_IfGroupFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RT Criteria Exists</defaultConnectorLabel>
        <rules>
            <name>outcome_RT_Criteria_Doesnt_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_Apex_Sharing_Setting.CMN_ObjectRecordTypeName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>outcome_NoRT_IfGroupFound</targetReference>
            </connector>
            <label>RT Criteria Doesn&apos;t Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>outcome_NoRT_IfGroupFound</name>
        <label>If Group Found</label>
        <locationX>769</locationX>
        <locationY>1706</locationY>
        <defaultConnectorLabel>Group Not Found</defaultConnectorLabel>
        <rules>
            <name>outcome_NoRT_Group_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apxc_Get_Field_Value.stringOutput</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>cr_Create_Platform_Event</targetReference>
            </connector>
            <label>Group Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>outcome_RT_IfGroupFound</name>
        <label>If Group Found</label>
        <locationX>494</locationX>
        <locationY>1708</locationY>
        <defaultConnectorLabel>Group Not Found</defaultConnectorLabel>
        <rules>
            <name>outcome_RT_Group_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apxc_Get_Field_Value.stringOutput</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>gr_Get_Apex_Sharing_Setting.CMN_ObjectRecordTypeName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.RecordType.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cr_Create_Platform_Event</targetReference>
            </connector>
            <label>Group Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Scheduled Flow For Financial Account Transaction Share {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled Flow For Financial Account Transaction Share</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>cr_Create_Platform_Event</name>
        <label>Create Platform Event</label>
        <locationX>631</locationX>
        <locationY>1942</locationY>
        <inputAssignments>
            <field>CMN_IsCreate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMN_ObjectName__c</field>
            <value>
                <elementReference>gr_Get_Apex_Sharing_Setting.CMN_ObjectAPIName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMN_PublicGroupId__c</field>
            <value>
                <elementReference>apxc_Get_Field_Value.stringOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMN_Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CMN_SharingEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>gr_Get_Apex_Sharing_Setting</name>
        <label>Get Apex Sharing Setting</label>
        <locationX>637</locationX>
        <locationY>806</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>gr_Get_FA_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Financial Account Transaction</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CMN_ApexSharingSetting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_FA_Account</name>
        <label>Get FA Account</label>
        <locationX>631</locationX>
        <locationY>1020</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>apxc_Get_Field_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FinServ__FinancialAccount__r.FinServ__PrimaryOwner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_Share_Records</name>
        <label>Get Share Records</label>
        <locationX>639</locationX>
        <locationY>478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_If_Share_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FinServ__FinancialAccount__r.FinServ__PrimaryOwner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinServ__FinancialAccountTransaction__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>514</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>decision_Check_if_FA_Null</targetReference>
        </connector>
        <object>FinServ__FinancialAccountTransaction__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-03-14</startDate>
            <startTime>12:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
