flows/SLC_HoldingCreateOrUpdate.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>dec_DoesHoldingDateExist</name>
        <label>Does Holding Date Exist?</label>
        <locationX>741</locationX>
        <locationY>241</locationY>
        <defaultConnector>
            <targetReference>Get_Orphan_BDM_Target</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SLC_EffectiveDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_GetTargetOwner</targetReference>
            </connector>
            <label>Date Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_DoesTargetExist</name>
        <label>Does Target Exist</label>
        <locationX>1119</locationX>
        <locationY>241</locationY>
        <defaultConnector>
            <targetReference>Get_Orphan_BDM_Target</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Target_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_GetTargetOwner.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ur_UpdateHolding</targetReference>
            </connector>
            <label>Target Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_DoesTargetStrategyExist</name>
        <label>Does Target Strategy Exist</label>
        <locationX>1627</locationX>
        <locationY>239</locationY>
        <defaultConnector>
            <targetReference>Get_Orphan_Strategy_Target</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_it_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_GetTargetStrategy.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ur_UpdateHoldingStrategy</targetReference>
            </connector>
            <label>Yes it Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Holding - U {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Holding - Create or Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Orphan_BDM_Target</name>
        <label>Get Orphan BDM Target</label>
        <locationX>952</locationX>
        <locationY>318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ur_InsertBDMOrphanTarget</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Orphan BDM Target</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLC_Target__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Orphan_Strategy_Target</name>
        <label>Get Orphan Strategy Target</label>
        <locationX>1639</locationX>
        <locationY>440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ur_InsertStrategyOrphanTarget</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Orphan Strategy Target</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLC_Target__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_GetTargetOwner</name>
        <label>Get Target Owner</label>
        <locationX>950</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_DoesTargetExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SLC_StartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.SLC_EffectiveDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SLC_EndDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.SLC_EffectiveDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SLR_Agent__r.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLC_Target__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Finds relevant Target record set against the Parent Fund&apos;s Strategy</description>
        <name>gr_GetTargetStrategy</name>
        <label>Get Target Strategy</label>
        <locationX>1473</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_DoesTargetStrategyExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SLC_StartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.SLC_EffectiveDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SLC_EndDate__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.SLC_EffectiveDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SLR_Strategy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SLC_Fund__r.SLC_Strategy__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SLR_Strategy__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLC_Target__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Inserts the &apos;Orphan BDM Target&apos; record when match is not found</description>
        <name>ur_InsertBDMOrphanTarget</name>
        <label>Insert BDM Orphan Target</label>
        <locationX>1338</locationX>
        <locationY>460</locationY>
        <connector>
            <targetReference>gr_GetTargetStrategy</targetReference>
        </connector>
        <inputAssignments>
            <field>SLC_BdmTarget__c</field>
            <value>
                <elementReference>Get_Orphan_BDM_Target.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Inserts the &apos;Orphan Strategy Target&apos; record when match is not found</description>
        <name>ur_InsertStrategyOrphanTarget</name>
        <label>Insert BDM Strategy Target</label>
        <locationX>1881</locationX>
        <locationY>440</locationY>
        <inputAssignments>
            <field>SLR_StrategyTarget__c</field>
            <value>
                <elementReference>gr_GetTargetStrategy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ur_UpdateHolding</name>
        <label>Update Holding</label>
        <locationX>1280</locationX>
        <locationY>237</locationY>
        <connector>
            <targetReference>gr_GetTargetStrategy</targetReference>
        </connector>
        <inputAssignments>
            <field>SLC_BdmTarget__c</field>
            <value>
                <elementReference>gr_GetTargetOwner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ur_UpdateHoldingStrategy</name>
        <label>Update Holding Strategy</label>
        <locationX>1837</locationX>
        <locationY>237</locationY>
        <inputAssignments>
            <field>SLR_StrategyTarget__c</field>
            <value>
                <elementReference>gr_GetTargetStrategy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>169</locationY>
        <connector>
            <targetReference>dec_DoesHoldingDateExist</targetReference>
        </connector>
        <object>SLR_Holding__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
