flows/SLC_FLOW_AddUserToGroupOnACRCreate.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assignment_AccountRead_Group_Member</name>
        <label>AccountRead Group Member</label>
        <locationX>531</locationX>
        <locationY>1427</locationY>
        <assignmentItems>
            <assignToReference>record_AccountReadGroupMember.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.CMN_PublicGroupAccountRead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_AccountReadGroupMember.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record_PortalUser.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignment_Add_Group_Members_to_Insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_AccountRead_Group_Member_0</name>
        <label>AccountRead Group Member</label>
        <locationX>880</locationX>
        <locationY>1634</locationY>
        <assignmentItems>
            <assignToReference>record_AccountReadGroupMember.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.CMN_PublicGroupAccountRead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_AccountReadGroupMember.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record_PortalUser.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignment_Add_Group_Members_to_Insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Add_Group_Members_to_Insert</name>
        <label>Add Group Members to Insert</label>
        <locationX>763</locationX>
        <locationY>2038</locationY>
        <assignmentItems>
            <assignToReference>collection_GroupMembersToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>record_AccountReadGroupMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collection_GroupMembersToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>record_CaseReadGroupMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cr_Create_Group_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Both_Group_Members</name>
        <label>Both Group Members</label>
        <locationX>656</locationX>
        <locationY>1638</locationY>
        <assignmentItems>
            <assignToReference>record_AccountReadGroupMember.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.CMN_PublicGroupAccountRead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_AccountReadGroupMember.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record_PortalUser.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_CaseReadGroupMember.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.CMN_PublicGroupCaseRead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_CaseReadGroupMember.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record_PortalUser.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignment_Add_Group_Members_to_Insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_CaseRead_Group_Member</name>
        <label>CaseRead Group Member</label>
        <locationX>1036</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>record_CaseReadGroupMember.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.CMN_PublicGroupCaseRead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_CaseReadGroupMember.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record_PortalUser.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignment_Add_Group_Members_to_Insert</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_Check_Groups_Exists</name>
        <label>Check Groups Exists</label>
        <locationX>767</locationX>
        <locationY>1281</locationY>
        <defaultConnectorLabel>No Groups Exist</defaultConnectorLabel>
        <rules>
            <name>outcome_Account_Read_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.CMN_PublicGroupAccountRead__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.CMN_PublicGroupCaseRead__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>assignment_AccountRead_Group_Member</targetReference>
            </connector>
            <label>Only Account Read Exists</label>
        </rules>
        <rules>
            <name>outcome_Only_Case_Read_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.CMN_PublicGroupCaseRead__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.CMN_PublicGroupAccountRead__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Roles</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Asset consultant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_CaseRead_Group_Member</targetReference>
            </connector>
            <label>Only Case Read Exists &amp; Non-Consultant</label>
        </rules>
        <rules>
            <name>outcome_Both_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.CMN_PublicGroupAccountRead__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.CMN_PublicGroupCaseRead__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>decision_Role_is_Non_Consultant</targetReference>
            </connector>
            <label>Both Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Check_if_StanlibPortalUser_PersonAccount</name>
        <label>Check if Stanlib Portal User &amp; Person Account</label>
        <locationX>768</locationX>
        <locationY>1061</locationY>
        <defaultConnectorLabel>Not Stanlib Portal User and Person Account</defaultConnectorLabel>
        <rules>
            <name>outcome_Stanlib_Portal_User_Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>record_PortalUser.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STANLIB Portal User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>record_PortalUser.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SLI_PersonAccount</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>record_PortalUser.IsPortalEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_Check_Groups_Exists</targetReference>
            </connector>
            <label>Stanlib Portal User &amp; Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Check_User_Exists</name>
        <label>Check User Exists</label>
        <locationX>767</locationX>
        <locationY>862</locationY>
        <defaultConnectorLabel>Doesn&apos;t Exist</defaultConnectorLabel>
        <rules>
            <name>outcome_User_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>record_PortalUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_Check_if_StanlibPortalUser_PersonAccount</targetReference>
            </connector>
            <label>User Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Role_is_Non_Consultant</name>
        <label>Role is Non-Consultant</label>
        <locationX>767</locationX>
        <locationY>1476</locationY>
        <defaultConnector>
            <targetReference>assignment_Both_Group_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non-Consultant</defaultConnectorLabel>
        <rules>
            <name>outcome_Consultant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Roles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asset consultant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_AccountRead_Group_Member_0</targetReference>
            </connector>
            <label>Consultant</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Add User To Group On ACR Create Flow (Create) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add User To Group On ACR Create Flow (Create)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>cr_Create_Group_Members</name>
        <label>Create Group Members</label>
        <locationX>762</locationX>
        <locationY>2391</locationY>
        <inputReference>collection_GroupMembersToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>gr_Get_User_Enabled_Contact</name>
        <label>Get User Enabled Contact</label>
        <locationX>775</locationX>
        <locationY>658</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Check_User_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact.AccountId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>record_PortalUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>ProfileId</queriedFields>
        <queriedFields>IsPortalEnabled</queriedFields>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>43</locationY>
        <object>AccountContactRelation</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>gr_Get_User_Enabled_Contact</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>collection_ACR_AccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collection_GroupMembersToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>record_AccountReadGroupMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>record_CaseReadGroupMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>record_PortalUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
