flows/SLC_PortalNew_BusinessForm.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_account_to_list</name>
        <label>Assign account to list</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>accountRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_account_contact_records.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_account_contact_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Columns</name>
        <label>Set Columns</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>columns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_account_contact_records</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_existingClient</name>
        <choiceText>Existing Client</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>choice_newClient</name>
        <choiceText>New Client</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>choice_SM</name>
        <choiceText>Segregated Mandate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choiceSM</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_UT</name>
        <choiceText>Unit Trust</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choiceUT</stringValue>
        </value>
    </choices>
    <choices>
        <name>SLI_ForeignCompany</name>
        <choiceText>&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; style=&quot;width: 110pt;&quot; width=&quot;147&quot;&gt;&lt;tbody&gt;&lt;tr style=&quot;height: 14.4pt; white-space: pre;&quot; height=&quot;19&quot;&gt;  &lt;td style=&quot;height:14.4pt;width:110pt&quot; width=&quot;147&quot; height=&quot;19&quot;&gt;Foreign Company&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Foreign Company</stringValue>
        </value>
    </choices>
    <choices>
        <name>SLI_MedicalScheme</name>
        <choiceText>&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; style=&quot;width: 110pt;&quot; width=&quot;147&quot;&gt;&lt;tbody&gt;&lt;tr height=&quot;19&quot; style=&quot;height: 14.4pt; white-space: pre;&quot;&gt;  &lt;td height=&quot;19&quot; width=&quot;147&quot; style=&quot;height:14.4pt;width:110pt&quot;&gt;Medical Scheme&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue> Medical Scheme</stringValue>
        </value>
    </choices>
    <choices>
        <name>SLI_OtherLegalPerson</name>
        <choiceText>Other Legal Person</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Legal Person</stringValue>
        </value>
    </choices>
    <choices>
        <name>SLI_Partnership</name>
        <choiceText>&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; style=&quot;width: 110pt;&quot; width=&quot;147&quot;&gt;&lt;tbody&gt;&lt;tr style=&quot;height: 14.4pt; white-space: pre;&quot; height=&quot;19&quot;&gt;  &lt;td style=&quot;height:14.4pt;width:110pt&quot; width=&quot;147&quot; height=&quot;19&quot;&gt;Partnership&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partnership</stringValue>
        </value>
    </choices>
    <choices>
        <name>SLI_RetirementFund</name>
        <choiceText>&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; style=&quot;width: 110pt;&quot; width=&quot;147&quot;&gt;&lt;tbody&gt;&lt;tr style=&quot;height: 14.4pt; white-space: pre;&quot; height=&quot;19&quot;&gt;  &lt;td style=&quot;height:14.4pt;width:110pt&quot; width=&quot;147&quot; height=&quot;19&quot;&gt;Retirement Fund&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Retirement Fund</stringValue>
        </value>
    </choices>
    <choices>
        <name>SLI_RSACloseCorporation</name>
        <choiceText>RSA Close Corporation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RSA Close Corporation</stringValue>
        </value>
    </choices>
    <choices>
        <name>SLI_RSACompany</name>
        <choiceText>&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; style=&quot;width: 110pt;&quot; width=&quot;147&quot;&gt;&lt;tbody&gt;&lt;tr style=&quot;height: 14.4pt; white-space: pre;&quot; height=&quot;19&quot;&gt;  &lt;td style=&quot;height:14.4pt;width:110pt&quot; width=&quot;147&quot; height=&quot;19&quot;&gt;RSA Company&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RSA Company</stringValue>
        </value>
    </choices>
    <choices>
        <name>SLI_Trust</name>
        <choiceText>&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; style=&quot;width: 110pt;&quot; width=&quot;147&quot;&gt;&lt;tbody&gt;&lt;tr style=&quot;height: 14.4pt; white-space: pre;&quot; height=&quot;19&quot;&gt;  &lt;td style=&quot;height:14.4pt;width:110pt&quot; width=&quot;147&quot; height=&quot;19&quot;&gt;Trust&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Trust</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Institutional_or_Consultant</name>
        <label>Institutional or Consultant?</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Institutional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.SLC_PortalInstitutionalConsultant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Mandate_Screen</targetReference>
            </connector>
            <label>Institutional</label>
        </rules>
        <rules>
            <name>Consultant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.SLC_PortalInstitutionalConsultant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_or_Existing_Client</targetReference>
            </connector>
            <label>Consultant</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_existing_client_dec</name>
        <label>New or existing client?</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newButtonClicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mandate_Screen</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingButtonClicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Columns</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
    </decisions>
    <description>Flow used to register interest in New Business for STANLIB portal users</description>
    <dynamicChoiceSets>
        <name>KYCCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SLI_KnowYourCustomerCategory__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>finalChoice</name>
        <dataType>String</dataType>
        <expression>IF({!Legal_Vehicle} = {!choice_SM}, &apos;Segregated&apos;, &apos;Unit Trust&apos;)</expression>
    </formulas>
    <formulas>
        <name>finalChoice_insto</name>
        <dataType>String</dataType>
        <expression>IF({!Legal_Vehicle_insto} = {!choice_SM}, &apos;Segregated&apos;, &apos;Unit Trust&apos;)</expression>
    </formulas>
    <interviewLabel>STANLIB Portal New Business Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>STANLIB Portal New Business Form</label>
    <loops>
        <name>Loop_through_account_contact_records</name>
        <label>Loop through account contact records</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <collectionReference>accountContactRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_account_to_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Choose_Client_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_case</name>
        <label>Copy 1 of Create case</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Thank_you_screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Any_additional_details_insto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Copy_1_of_Get_record_type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLI_FundName__c</field>
            <value>
                <elementReference>Fund_name_insto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLI_InvestmentValue__c</field>
            <value>
                <elementReference>Investment_value_ZAR_insto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLI_KYCCategory__c</field>
            <value>
                <elementReference>Copy_1_of_KYC_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLI_MandateType__c</field>
            <value>
                <elementReference>finalChoice_insto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>STANLIB Institutional Onboarding Case</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_case</name>
        <label>Create case</label>
        <locationX>578</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Thank_you_screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_selected_account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Any_additional_details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>STANLIB_Portal_Institution</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_record_type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLI_FundName__c</field>
            <value>
                <elementReference>Fund_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLI_InvestmentValue__c</field>
            <value>
                <elementReference>Investment_value_ZAR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLI_KYCCategory__c</field>
            <value>
                <elementReference>KYC_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLI_MandateType__c</field>
            <value>
                <elementReference>finalChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>STANLIB Institutional Onboarding Case</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_record_type</name>
        <label>Copy 1 of Get record type</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Create_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLI_InstitutionalOnboardingCase</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_account_contact_records</name>
        <label>Get account contact records</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_account_contact_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset consultant</stringValue>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>accountContactRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_record_type</name>
        <label>Get record type</label>
        <locationX>578</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLI_InstitutionalOnboardingCase</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_selected_account</name>
        <label>Get selected account</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mandate_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>chooseClientTable.selectedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Choose_Client_Screen</name>
        <label>Choose Client Screen</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_selected_account</targetReference>
        </connector>
        <fields>
            <name>chooseClientTable</name>
            <extensionName>builder_industries_insurance:fscSinglTbl</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToQuery</name>
                <value>
                    <elementReference>columns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputRecordIds</name>
                <value>
                    <elementReference>accountRecordList</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Mandate_Screen</name>
        <label>Copy 1 of Mandate Screen</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Get_record_type</targetReference>
        </connector>
        <fields>
            <name>header_insto</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Please complete the new fund investment details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fund_name_insto</name>
            <dataType>String</dataType>
            <fieldText>Fund name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_KYC_Category</name>
            <choiceReferences>SLI_RSACloseCorporation</choiceReferences>
            <choiceReferences>SLI_ForeignCompany</choiceReferences>
            <choiceReferences>SLI_MedicalScheme</choiceReferences>
            <choiceReferences>SLI_OtherLegalPerson</choiceReferences>
            <choiceReferences>SLI_Partnership</choiceReferences>
            <choiceReferences>SLI_RetirementFund</choiceReferences>
            <choiceReferences>SLI_RSACompany</choiceReferences>
            <choiceReferences>SLI_Trust</choiceReferences>
            <dataType>String</dataType>
            <fieldText>KYC Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Investment_value_ZAR_insto</name>
            <dataType>Currency</dataType>
            <fieldText>Investment value (ZAR)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Legal_Vehicle_insto</name>
            <choiceReferences>choice_SM</choiceReferences>
            <choiceReferences>choice_UT</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Legal Vehicle</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Any_additional_details_insto</name>
            <fieldText>Any additional details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Mandate_Screen</name>
        <label>Mandate Screen</label>
        <locationX>578</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_record_type</targetReference>
        </connector>
        <fields>
            <name>header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Please complete the new fund investment details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Client_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_selected_account.Name</elementReference>
            </defaultValue>
            <fieldText>Client name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Fund_name</name>
            <dataType>String</dataType>
            <fieldText>Fund name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>KYC_Category</name>
            <choiceReferences>SLI_RSACloseCorporation</choiceReferences>
            <choiceReferences>SLI_ForeignCompany</choiceReferences>
            <choiceReferences>SLI_MedicalScheme</choiceReferences>
            <choiceReferences>SLI_OtherLegalPerson</choiceReferences>
            <choiceReferences>SLI_Partnership</choiceReferences>
            <choiceReferences>SLI_RetirementFund</choiceReferences>
            <choiceReferences>SLI_RSACompany</choiceReferences>
            <choiceReferences>SLI_Trust</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_selected_account.SLI_KnowYourCustomerCategory__c</elementReference>
            </defaultValue>
            <fieldText>KYC category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Investment_value_ZAR</name>
            <dataType>Currency</dataType>
            <fieldText>Investment value (ZAR)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Legal_Vehicle</name>
            <choiceReferences>choice_SM</choiceReferences>
            <choiceReferences>choice_UT</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Legal Vehicle</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Any_additional_details</name>
            <fieldText>Any additional details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_or_Existing_Client</name>
        <label>New or Existing Client</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_or_existing_client_dec</targetReference>
        </connector>
        <fields>
            <name>New_or_Existing_Client_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_or_Existing_Client_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newClient</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>New Client</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>newButtonClicked</assignToReference>
                        <name>renderNext</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_or_Existing_Client_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>existingClient</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Existing Client</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>existingButtonClicked</assignToReference>
                        <name>renderNext</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_you_screen</name>
        <label>Thank you screen</label>
        <locationX>578</locationX>
        <locationY>1682</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>thankYouMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 26px;&quot;&gt;Thank you for entrusting us with your new investment&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(86, 86, 86); font-size: 16px;&quot;&gt;We have begun to prepare all the documents that we need from you which will shortly be available on the following screen under &quot;Documents required&quot;.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;color: rgb(86, 86, 86); font-size: 14px;&quot;&gt;You may now navigate off this page.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Institutional_or_Consultant</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountContactRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>accountRecordList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>columns</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>existingButtonClicked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newButtonClicked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SM_Button</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>UT_Button</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
