flows/SLC_FLOW_SelfRegistrationFormPortal.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>apxc_Create_Portal_User</name>
        <label>Create Portal User</label>
        <locationX>535</locationX>
        <locationY>2259</locationY>
        <actionName>SLC_FLOW_CreatePortalUser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decision_Records_Created_vs_Failed</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>companyName</name>
            <value>
                <elementReference>txt_What_is_your_company_s_name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddress</name>
            <value>
                <elementReference>txt_EmailAddress.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>txt_FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>identificationNumber</name>
            <value>
                <elementReference>txt_IdentificationNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>identificationType</name>
            <value>
                <elementReference>radiobuttons_Identification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>txt_LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mobileNumber</name>
            <value>
                <elementReference>text_PhoneNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userRole</name>
            <value>
                <elementReference>txt_Role</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userType</name>
            <value>
                <elementReference>picklist_BestDescribesYou</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SLC_FLOW_CreatePortalUser</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assignment_Assign_Login_URL</name>
        <label>Assign Login URL</label>
        <locationX>536</locationX>
        <locationY>449</locationY>
        <assignmentItems>
            <assignToReference>txt_LoginURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Self_Reg_Custom_Metadata.SLC_LogInInsteadURL__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scr1_Online_Registration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Identification_Foreign_Passport</name>
        <label>Identification = Foreign Passport</label>
        <locationX>681</locationX>
        <locationY>1241</locationY>
        <assignmentItems>
            <assignToReference>txt_IdentificationNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_Foreign_Passport_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scr3_ContactDtails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Identification_RSA_ID</name>
        <label>Identification = RSA ID</label>
        <locationX>391</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>txt_IdentificationNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_South_African_ID_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scr3_ContactDtails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Type_DFM</name>
        <label>Type = DFM</label>
        <locationX>620</locationX>
        <locationY>2039</locationY>
        <assignmentItems>
            <assignToReference>txt_Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>picklist_RoleDFM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>apxc_Create_Portal_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Type_Institutional</name>
        <label>Type = Insitutional</label>
        <locationX>193</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>txt_Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>picklist_RoleInstitutional</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>apxc_Create_Portal_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Type_LISP</name>
        <label>Type = LISP</label>
        <locationX>854</locationX>
        <locationY>2034</locationY>
        <assignmentItems>
            <assignToReference>txt_Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>picklist_RoleLISP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>apxc_Create_Portal_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Type_Retail</name>
        <label>Type = Retail</label>
        <locationX>444</locationX>
        <locationY>2037</locationY>
        <assignmentItems>
            <assignToReference>txt_Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>picklist_RoleRetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>apxc_Create_Portal_User</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>pickchoice_AdminAssistant</name>
        <choiceText>Admin Assistant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Admin Assistant</stringValue>
        </value>
    </choices>
    <choices>
        <name>pickchoice_Administrator</name>
        <choiceText>Administrator</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Administrator</stringValue>
        </value>
    </choices>
    <choices>
        <name>pickchoice_Consultant</name>
        <choiceText>Consultant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consultant</stringValue>
        </value>
    </choices>
    <choices>
        <name>pickchoice_DFM</name>
        <choiceText>Discretionary Fund Manager (DFM)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DFM</stringValue>
        </value>
    </choices>
    <choices>
        <name>pickchoice_DFMOperations</name>
        <choiceText>Operations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DFM Operations</stringValue>
        </value>
    </choices>
    <choices>
        <name>pickchoice_Executive</name>
        <choiceText>Executive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Executive</stringValue>
        </value>
    </choices>
    <choices>
        <name>pickchoice_FinancialAdviser</name>
        <choiceText>Financial Adviser</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Financial Adviser</stringValue>
        </value>
    </choices>
    <choices>
        <name>pickchoice_Institutional</name>
        <choiceText>Institutional Client</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Institutional</stringValue>
        </value>
    </choices>
    <choices>
        <name>pickchoice_LISP</name>
        <choiceText>Investment Platform (LISP)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LISP</stringValue>
        </value>
    </choices>
    <choices>
        <name>pickchoice_LISPOperations</name>
        <choiceText>Operations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LISP Operations</stringValue>
        </value>
    </choices>
    <choices>
        <name>pickchoice_PortfolioManager</name>
        <choiceText>Portfolio Manager</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Portfolio Manager</stringValue>
        </value>
    </choices>
    <choices>
        <name>pickchoice_Retail</name>
        <choiceText>Retail Client</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Retail</stringValue>
        </value>
    </choices>
    <choices>
        <name>pickchoice_Sales</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Sales&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales</stringValue>
        </value>
    </choices>
    <choices>
        <name>pickchoice_Trustee</name>
        <choiceText>Trustee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Trustee</stringValue>
        </value>
    </choices>
    <choices>
        <name>radiochoice_ForeignPassport</name>
        <choiceText>Foreign passport (Only select if you do not have an RSA ID)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Foreign Passport</stringValue>
        </value>
    </choices>
    <choices>
        <name>radiochoice_RSAID</name>
        <choiceText>RSA ID</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RSA ID</stringValue>
        </value>
    </choices>
    <decisions>
        <name>decision_Institutional_vs_Retail_vs_DFM_vs_LISP</name>
        <label>Institutional vs Retail vs DFM vs LISP</label>
        <locationX>528</locationX>
        <locationY>1820</locationY>
        <defaultConnector>
            <targetReference>apxc_Create_Portal_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nothing</defaultConnectorLabel>
        <rules>
            <name>outcome_Institutional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklist_BestDescribesYou</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>pickchoice_Institutional</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_Type_Institutional</targetReference>
            </connector>
            <label>Institutional</label>
        </rules>
        <rules>
            <name>outcome_Retail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklist_BestDescribesYou</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>pickchoice_Retail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_Type_Retail</targetReference>
            </connector>
            <label>Retail</label>
        </rules>
        <rules>
            <name>outcome_DFM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklist_BestDescribesYou</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>pickchoice_DFM</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_Type_DFM</targetReference>
            </connector>
            <label>DFM</label>
        </rules>
        <rules>
            <name>outcome_LISP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklist_BestDescribesYou</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>pickchoice_LISP</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_Type_LISP</targetReference>
            </connector>
            <label>LISP</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Records_Created_vs_Failed</name>
        <label>Records Created vs Failed</label>
        <locationX>527</locationX>
        <locationY>2448</locationY>
        <defaultConnector>
            <targetReference>scr_Registration_Not_Successful</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>outcome_Record_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apxc_Create_Portal_User.booleanOutput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scr_Registration_Successful</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_RSA_ID_vs_Foreign_Passport</name>
        <label>RSA ID vs Foreign Passport</label>
        <locationX>528</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>assignment_Identification_Foreign_Passport</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Foreign Passport</defaultConnectorLabel>
        <rules>
            <name>outcome_RSA_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radiobuttons_Identification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>radiochoice_RSAID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_Identification_RSA_ID</targetReference>
            </connector>
            <label>RSA ID</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_IdentityNumberValidationForeignPassport</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!txt_Foreign_Passport_Number}, &quot;[A-Z0-9]{6,}$&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_IdentityNumberValidationSANumber</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!txt_South_African_ID_Number}, &quot;[A-Z0-9]{13,}$&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_MobilePhoneValidation</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!text_PhoneNumber}, &quot;^\\+\\d{8,}$&quot;)</expression>
    </formulas>
    <interviewLabel>Self-Registration Form Portal {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Self-Registration Form Portal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>gr_Get_Self_Reg_Custom_Metadata</name>
        <label>Get Self-Reg Custom Metadata</label>
        <locationX>537</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignment_Assign_Login_URL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stanlib_Self_Registration_Setting</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLC_SelfRegistrationSetting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>scr1_Online_Registration</name>
        <label>Online Registration</label>
        <locationX>536</locationX>
        <locationY>644</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>scr2_PersonalDetails</targetReference>
        </connector>
        <fields>
            <name>displaytxt_OnlineRegistration</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(43, 51, 65);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(43, 51, 65);&quot;&gt;Online registration&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 8px; color: rgb(43, 51, 65);&quot;&gt; &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; color: rgb(119, 127, 136);&quot;&gt;Enjoy the following value adding features and more.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr1_Online_Registration_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr1_Online_Registration_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>scr1_Online_Registration_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr1_Online_Registration_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayicon_ValueAddingFeatures1</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>24px </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageWidth</name>
                        <value>
                            <stringValue>24px</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>SLC_InvestmentIcon</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scr1_Online_Registration_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displaytxt_ValueAddingFeatures1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(43, 51, 65);&quot;&gt;Easy access to all your investments in one place.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>scr1_Online_Registration_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr1_Online_Registration_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayicon_ValueAddingFeatures2</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>24px</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageWidth</name>
                        <value>
                            <stringValue>24px</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>SLC_EventsIcon</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scr1_Online_Registration_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displaytxt_ValueAddingFeatures2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(43, 51, 65);&quot;&gt;View insights and events tailored for you﻿.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>scr1_Online_Registration_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr1_Online_Registration_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayicon_ValueAddingFeatures3</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>24px</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageWidth</name>
                        <value>
                            <stringValue>24px</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>SLC_SupportIcon</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scr1_Online_Registration_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displaytxt_ValueAddingFeatures3</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(43, 51, 65);&quot;&gt;Get in touch with your servicing and sales teams.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>scr1_Online_Registration_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr1_Online_Registration_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>custombutton_Registration</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Continue to registration</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scr1_Online_Registration_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr1_Online_Registration_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>displaytxt_AlreadyStanlibUser</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(43, 51, 65); font-size: 16px;&quot;&gt;Already a STANLIB Client? &lt;/span&gt;&lt;a href=&quot;{!txt_LoginURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(43, 51, 65); font-size: 16px;&quot;&gt;&lt;strong&gt;Log in ins﻿tead&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr2_PersonalDetails</name>
        <label>Personal Details</label>
        <locationX>536</locationX>
        <locationY>900</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>decision_RSA_ID_vs_Foreign_Passport</targetReference>
        </connector>
        <fields>
            <name>displaytxt_EnterPersonalDetails</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Enter your personal details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txt_FirstName</name>
            <dataType>String</dataType>
            <fieldText>First name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txt_LastName</name>
            <dataType>String</dataType>
            <fieldText>Last name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>radiobuttons_Identification</name>
            <choiceReferences>radiochoice_RSAID</choiceReferences>
            <choiceReferences>radiochoice_ForeignPassport</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Identification</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txt_South_African_ID_Number</name>
            <dataType>String</dataType>
            <fieldText>Enter your South African ID number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please enter a valid RSA ID. Minimum 13 characters long, only digits and upper case letters accepted.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!formula_IdentityNumberValidationSANumber}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>radiobuttons_Identification</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>radiochoice_RSAID</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_Foreign_Passport_Number</name>
            <dataType>String</dataType>
            <fieldText>Enter your foreign passport number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter a valid passport number. Minimum 6 characters long, only digits and upper case letters accepted.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!formula_IdentityNumberValidationForeignPassport}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>radiobuttons_Identification</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>radiochoice_ForeignPassport</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr3_ContactDtails</name>
        <label>Contact Details</label>
        <locationX>536</locationX>
        <locationY>1456</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>scr_MoreAboutYourself</targetReference>
        </connector>
        <fields>
            <name>displaytxt_EnterContactDetails</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Enter your contact details&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(121, 121, 121); font-size: 14px;&quot;&gt;These details are required for two factor authentication security purposes.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr3_ContactDtails_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr3_ContactDtails_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>txt_EmailAddress</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text_PhoneNumber</name>
            <dataType>String</dataType>
            <fieldText>Mobile Number</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Must provide country code, for example &apos;+27&apos; for a South African number&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter a valid phone number, including &apos;+&apos; and country code, for example &apos;+27&apos; for a South African number&lt;/p&gt;</errorMessage>
                <formulaExpression>{!formula_MobilePhoneValidation}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_MoreAboutYourself</name>
        <label>Tell us more about yourself</label>
        <locationX>536</locationX>
        <locationY>1642</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>decision_Institutional_vs_Retail_vs_DFM_vs_LISP</targetReference>
        </connector>
        <fields>
            <name>displaytxt_AboutYourself</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Tell us more about yourself&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(115, 115, 115);&quot;&gt;This is so we can deliver a tailored experience to you.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr_MoreAboutYourself_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr_MoreAboutYourself_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>picklist_BestDescribesYou</name>
            <choiceReferences>pickchoice_Institutional</choiceReferences>
            <choiceReferences>pickchoice_Retail</choiceReferences>
            <choiceReferences>pickchoice_DFM</choiceReferences>
            <choiceReferences>pickchoice_LISP</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which best describes you?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;strong&gt;Institutional Client - &lt;/strong&gt;explanation&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Retail Client -&lt;/strong&gt; explanation&lt;/p&gt;&lt;p&gt;&lt;strong&gt;DFM - &lt;/strong&gt;explanation&lt;/p&gt;&lt;p&gt;&lt;strong&gt;LISP - &lt;/strong&gt;explanation&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>picklist_RoleInstitutional</name>
            <choiceReferences>pickchoice_Trustee</choiceReferences>
            <choiceReferences>pickchoice_Consultant</choiceReferences>
            <choiceReferences>pickchoice_Administrator</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select your role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>picklist_BestDescribesYou</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>pickchoice_Institutional</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>picklist_RoleRetail</name>
            <choiceReferences>pickchoice_FinancialAdviser</choiceReferences>
            <choiceReferences>pickchoice_AdminAssistant</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select your role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>picklist_BestDescribesYou</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>pickchoice_Retail</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>picklist_RoleDFM</name>
            <choiceReferences>pickchoice_PortfolioManager</choiceReferences>
            <choiceReferences>pickchoice_DFMOperations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select your role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>picklist_BestDescribesYou</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>pickchoice_DFM</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>picklist_RoleLISP</name>
            <choiceReferences>pickchoice_Executive</choiceReferences>
            <choiceReferences>pickchoice_Sales</choiceReferences>
            <choiceReferences>pickchoice_LISPOperations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select your role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>picklist_BestDescribesYou</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>pickchoice_LISP</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_What_is_your_company_s_name</name>
            <dataType>String</dataType>
            <fieldText>What is your company&apos;s name?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_Registration_Not_Successful</name>
        <label>Registration Not Successful</label>
        <locationX>626</locationX>
        <locationY>2640</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displaytxt_RegistrationNotSuccessful</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Registration failed&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>displaytxt_NoEmailReceived_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Please contact our support team at &lt;strong&gt;contact@stanlib.com.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_Registration_Successful</name>
        <label>Registration Successful</label>
        <locationX>435</locationX>
        <locationY>2638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displaytxt_RegistrationSuccessful</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Registration successful, please check your mail&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(118, 118, 118);&quot;&gt;We have sent you a welcome email and step-by-step guide to set up your password. Please follow these instructions to access your portal and personalised features.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>displaytxt_LogInButton</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;{!txt_LoginURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;&lt;strong&gt;&lt;u&gt;Log in&lt;/u&gt;&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>displaytxt_NoEmailReceived</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;If you did not receive an email, please contact our support team at &lt;strong&gt;contact@stanlib.com.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>411</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>gr_Get_Self_Reg_Custom_Metadata</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>txt_IdentificationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>txt_LoginURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txt_Role</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
