flows/SLC_ExpenseForm.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>ass_AssignSplitOfExpenseToClient</name>
        <label>Assign split of Expense to Client</label>
        <locationX>1399</locationX>
        <locationY>838</locationY>
        <assignmentItems>
            <assignToReference>var_ClientExpense.SLC_ClientAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ClientExpense.SLC_Expense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ClientExpense.SLC_ExpenseSplit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MonetaryValuePerPerson</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ClientExpense.SLC_DateOfExpense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Expense</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ClientExpense.SLC_NatureOfExpense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nature_of_Expense</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ClientExpense.SLC_StanlibEmployee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>STANLIB_Employee.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cre_InsertTheClientExpense</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_ClientExpensesCount</name>
        <label>Client Expenses Count</label>
        <locationX>934</locationX>
        <locationY>475</locationY>
        <assignmentItems>
            <assignToReference>var_ClientExpensesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_Get_Existing_Client</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Is_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_Create_a_new_Expense</name>
        <label>Create a new Expense</label>
        <locationX>961</locationX>
        <locationY>272</locationY>
        <assignmentItems>
            <assignToReference>var_Expense.SLC_StanlibEmployee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>STANLIB_Employee.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Expense.SLC_TotalExpenseAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expense_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Expense.SLC_DateOfExpense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Expense</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Expense.SLC_NatureOfExpense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nature_of_Expense</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Expense.SLC_NumberOfPeople__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_People</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Expense.SLC_NumberOfClients__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Clients</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Expense.SLC_MonetaryValuePerIndividual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MonetaryValuePerPerson</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Expense.SLC_DetailsOfNonClientsReceivingGift__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>xNon_Clients</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Expense.SLC_DeclarationRequired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeclarationRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Expense.SLC_ExpenseName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expense_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_IsUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cre_Create_New_Expense</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_Set_Expense_Id</name>
        <label>Set Expense Id</label>
        <locationX>806</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Expense.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Get_Existing_Client</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_Use_existing_Expense</name>
        <label>Use existing Expense</label>
        <locationX>1212</locationX>
        <locationY>216</locationY>
        <assignmentItems>
            <assignToReference>var_Expense.SLC_StanlibEmployee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>STANLIB_Employee.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Expense.SLC_TotalExpenseAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expense_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Expense.SLC_DateOfExpense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Expense</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Expense.SLC_NatureOfExpense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nature_of_Expense</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Expense.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Expense.SLC_NumberOfPeople__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_People</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Expense.SLC_NumberOfClients__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Clients</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Expense.SLC_MonetaryValuePerIndividual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MonetaryValuePerPerson</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Expense.SLC_DetailsOfNonClientsReceivingGift__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>xNon_Clients</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Expense.SLC_ExpenseName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expense_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_IsExpenseUpdateVisited</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_values_to_existing_records</name>
        <label>Assign new values to existing records</label>
        <locationX>1123</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>My_Client_Expense_Loop.SLC_Expense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_Client_Expense_Loop.SLC_ExpenseSplit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MonetaryValuePerPerson</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_Client_Expense_Loop.SLC_DateOfExpense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Expense</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_Client_Expense_Loop.SLC_NatureOfExpense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nature_of_Expense</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_Client_Expense_Loop.SLC_StanlibEmployee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>STANLIB_Employee.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_IsExpenseUpdateVisited</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ClientExpense.SLC_ClientAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_existing_Client_Expenses</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_Have_all_clients_been_entered</name>
        <label>Have all clients been entered?</label>
        <locationX>917</locationX>
        <locationY>820</locationY>
        <defaultConnector>
            <targetReference>scr_ClientRegister</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, more clients need to be entered</defaultConnectorLabel>
        <rules>
            <name>outcome_Yes_all_have_been_entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ClientExpensesCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_Expense.SLC_NumberOfClients__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_List</targetReference>
            </connector>
            <label>Yes, all have been entered</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Is_Update</name>
        <label>Is Update?</label>
        <locationX>667</locationX>
        <locationY>658</locationY>
        <defaultConnector>
            <targetReference>dec_Have_all_clients_been_entered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_Yes_it_is_an_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_IsExpenseUpdateVisited</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>My_Client_Expense_Loop</targetReference>
            </connector>
            <label>Yes, it is an Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_IsThisANewExpense</name>
        <label>Is this a new expense</label>
        <locationX>1076</locationX>
        <locationY>69</locationY>
        <defaultConnector>
            <targetReference>ass_Use_existing_Expense</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, it exists</defaultConnectorLabel>
        <rules>
            <name>dec_Out_YesItIsNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_Create_a_new_Expense</targetReference>
            </connector>
            <label>Yes, it is new</label>
        </rules>
    </decisions>
    <description>Screen flow to capture an Expense and its related Clients.</description>
    <dynamicChoiceSets>
        <name>Nature_of_Expense_Picklist_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SLC_NatureOfExpense__c</picklistField>
        <picklistObject>SLC_Expense__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DeclarationRequired</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Expense_Amount}/{!Number_of_People}&gt;=500,TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <description>Updates if Expense Amount and number of people related change.</description>
        <name>var_MonetaryValuePerPerson</name>
        <dataType>Currency</dataType>
        <expression>{!Expense_Amount}/{!Number_of_People}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>var_NumberOfNonClients</name>
        <dataType>Number</dataType>
        <expression>{!Number_of_People}-{!Number_of_Clients}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>SLC_ExpenseForm {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SLC_ExpenseForm</label>
    <loops>
        <name>My_Client_Expense_Loop</name>
        <label>My Client Expense Loop</label>
        <locationX>1195</locationX>
        <locationY>723</locationY>
        <collectionReference>get_Get_Existing_Client</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_new_values_to_existing_records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Get_Existing_Client</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>cre_Create_New_Expense</name>
        <label>Create new Expense</label>
        <locationX>806</locationX>
        <locationY>273</locationY>
        <connector>
            <targetReference>ass_Set_Expense_Id</targetReference>
        </connector>
        <inputReference>var_Expense</inputReference>
    </recordCreates>
    <recordCreates>
        <name>cre_InsertTheClientExpense</name>
        <label>Insert the Client Expense</label>
        <locationX>1398</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>get_Get_Existing_Client</targetReference>
        </connector>
        <inputReference>var_ClientExpense</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Expense_Record_If_It_Exists</name>
        <label>Get Expense Record if it exists</label>
        <locationX>783</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scr_Expense_Register_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLC_Expense__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Get_Existing_Client</name>
        <label>Get existing Client</label>
        <locationX>1203</locationX>
        <locationY>415</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ass_ClientExpensesCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SLC_Expense__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Expense.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SLC_ClientExpense__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_existing_Client_Expenses</name>
        <label>Update existing Client Expenses</label>
        <locationX>1001</locationX>
        <locationY>614</locationY>
        <connector>
            <targetReference>My_Client_Expense_Loop</targetReference>
        </connector>
        <inputReference>My_Client_Expense_Loop</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Record</name>
        <label>Update Existing Record</label>
        <locationX>1371</locationX>
        <locationY>316</locationY>
        <connector>
            <targetReference>get_Get_Existing_Client</targetReference>
        </connector>
        <inputReference>var_Expense</inputReference>
    </recordUpdates>
    <screens>
        <name>Final_List</name>
        <label>Final List</label>
        <locationX>927</locationX>
        <locationY>936</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Final_List_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Final_List_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FAISGiftRegisterTextScreen3</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(43, 51, 65); font-size: 24px;&quot;&gt;Expense register&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Final_List_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Final_List_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Expense_Details_Screen3</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(43, 51, 65); background-color: rgb(255, 255, 255);&quot;&gt;Expense Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(43, 51, 65); background-color: rgb(255, 255, 255);&quot;&gt;{!var_Expense.SLC_ExpenseName__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(43, 51, 65);&quot;&gt;Stanlib Employee: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(43, 51, 65);&quot;&gt;{!STANLIB_Employee.recordName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(43, 51, 65);&quot;&gt;Date: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(43, 51, 65);&quot;&gt;{!var_Expense.SLC_DateOfExpense__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(43, 51, 65);&quot;&gt;Amount: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(43, 51, 65); background-color: rgb(255, 255, 255);&quot;&gt;{!var_Expense.SLC_TotalExpenseAmount__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(43, 51, 65);&quot;&gt;Nature: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(43, 51, 65);&quot;&gt;{!var_Expense.SLC_NatureOfExpense__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(43, 51, 65);&quot;&gt;People:&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(43, 51, 65);&quot;&gt; {!Number_of_People}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(43, 51, 65);&quot;&gt;Clients:&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(43, 51, 65);&quot;&gt;{!Number_of_Clients}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>NonClients_Screen3</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(43, 51, 65); font-size: 16px;&quot;&gt;Non-Clients:&lt;/strong&gt;&lt;span style=&quot;color: rgb(43, 51, 65); font-size: 16px;&quot;&gt; {!xNon_Clients}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Final_List_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DeclarationNotificationScreen3</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(179, 29, 65); font-size: 14px;&quot;&gt;﻿A declaration is required for this Expense because the value per person amounts to more than R500.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(179, 29, 65); font-size: 14px;&quot;&gt;Please complete and upload the following declaration form to the Expense record. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/resource/SLC_STANLIBDeclarationOfGifts&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(179, 29, 65); font-size: 14px;&quot;&gt;&lt;strong&gt;Declaration Form&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_Expense.SLC_DeclarationRequired__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Final_List_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Final_List_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FinalTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>SLC_ClientExpense__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Clients on this expense</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>get_Get_Existing_Client</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;SLC_ClientName__c&quot;,&quot;guid&quot;:&quot;column-9a6c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Client&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Client Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SLC_ExpenseSplit__c&quot;,&quot;guid&quot;:&quot;column-9621&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Expense Split&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Expense Split&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;SLC_YTDClientExpensesRollup__c&quot;,&quot;guid&quot;:&quot;column-dd82&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;YTD Expense Rollup&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;YTD Client Expenses Rollup&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;SLC_YTDExpenseStatus__c&quot;,&quot;guid&quot;:&quot;column-ed5d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;YTD Expense Status&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;YTD Expense Status&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_ClientRegister</name>
        <label>Client Register</label>
        <locationX>1148</locationX>
        <locationY>838</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ass_AssignSplitOfExpenseToClient</targetReference>
        </connector>
        <fields>
            <name>scr_ClientRegister_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr_ClientRegister_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FAISGiftRegisterTextScreen2</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(43, 51, 65); font-size: 24px;&quot;&gt;Expense register&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>scr_ClientRegister_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr_ClientRegister_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Expense_Details</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(43, 51, 65); background-color: rgb(255, 255, 255);&quot;&gt;Expense Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(43, 51, 65); background-color: rgb(255, 255, 255);&quot;&gt;{!var_Expense.SLC_ExpenseName__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(43, 51, 65);&quot;&gt;Stanlib Employee: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(43, 51, 65);&quot;&gt;{!STANLIB_Employee.recordName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(43, 51, 65);&quot;&gt;Date: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(43, 51, 65);&quot;&gt;{!var_Expense.SLC_DateOfExpense__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(43, 51, 65);&quot;&gt;Amount: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(43, 51, 65); background-color: rgb(255, 255, 255);&quot;&gt;{!var_Expense.SLC_TotalExpenseAmount__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(43, 51, 65);&quot;&gt;Nature: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(43, 51, 65);&quot;&gt;{!var_Expense.SLC_NatureOfExpense__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(43, 51, 65);&quot;&gt;People:&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(43, 51, 65);&quot;&gt; {!Number_of_People}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(43, 51, 65);&quot;&gt;Clients:&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(43, 51, 65);&quot;&gt;{!Number_of_Clients}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>NonClients_Screen2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(43, 51, 65); font-size: 16px;&quot;&gt;﻿Non-Clients:&lt;/strong&gt;&lt;span style=&quot;color: rgb(43, 51, 65); font-size: 16px;&quot;&gt; {!xNon_Clients}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Number_of_People</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <elementReference>Number_of_Clients</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scr_ClientRegister_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DeclarationNotificationScreen2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(179, 29, 65); font-size: 14px;&quot;&gt;A declaration is required for this Expense because the value per person amounts to more than R500.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(179, 29, 65); font-size: 14px;&quot;&gt;Please complete and upload the following declaration form to the Expense record. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/resource/SLC_STANLIBDeclarationOfGifts&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(179, 29, 65); font-size: 14px;&quot;&gt;&lt;strong&gt;Declaration Form&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_Expense.SLC_DeclarationRequired__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>scr_ClientRegister_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr_ClientRegister_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InstructionToEnterClients</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(43, 51, 65);&quot;&gt;Search for a Client by populating the field below:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Client</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SLC_ClientAccount__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Enter Clients</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SLC_ClientExpense__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scr_ClientRegister_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Clients</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>SLC_ClientExpense__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Clients on this expense</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>get_Get_Existing_Client</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;SLC_ClientName__c&quot;,&quot;guid&quot;:&quot;column-ac2f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Client&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Client Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SLC_ExpenseSplit__c&quot;,&quot;guid&quot;:&quot;column-08ac&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Expense Split&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Expense Split&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;SLC_YTDClientExpensesRollup__c&quot;,&quot;guid&quot;:&quot;column-a922&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;YTD Expense Rollup&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;YTD Client Expenses Rollup&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;SLC_YTDExpenseStatus__c&quot;,&quot;guid&quot;:&quot;column-1715&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;YTD Expense Status&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;YTD Expense Status&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit Client</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Used to raise an Expense and record a split against STANLIB Clients.</description>
        <name>scr_Expense_Register_Form</name>
        <label>Expense Register Form</label>
        <locationX>927</locationX>
        <locationY>68</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>dec_IsThisANewExpense</targetReference>
        </connector>
        <fields>
            <name>scr_Expense_Register_Form_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr_Expense_Register_Form_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FAISGiftRegisterTextScreen1</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px; background-color: rgb(255, 255, 255); color: rgb(43, 51, 65);&quot;&gt;Expense register&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>scr_Expense_Register_Form_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr_Expense_Register_Form_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InstructionEnterExpenseDetails</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(43, 51, 65); font-size: 16px;&quot;&gt;Please enter the details for this expense.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(43, 51, 65); font-size: 16px;&quot;&gt;Enter the Expense details&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(43, 51, 65); font-size: 16px;&quot;&gt;Enter the Clients&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(43, 51, 65); font-size: 16px;&quot;&gt;You might need to fill in a declaration - if the amount per person is R500 or more.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scr_Expense_Register_Form_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Expense_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_Expense_Record_If_It_Exists.SLC_ExpenseName__c</elementReference>
                    </defaultValue>
                    <fieldText>Expense Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Nature_of_Expense</name>
                    <choiceReferences>Nature_of_Expense_Picklist_Values</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_Expense_Record_If_It_Exists.SLC_NatureOfExpense__c</elementReference>
                    </defaultValue>
                    <fieldText>Nature of Expense</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>STANLIB_Employee</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SLC_StanlibEmployee__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Stanlib Employee</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SLC_Expense__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>get_Expense_Record_If_It_Exists.SLC_StanlibEmployee__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Date_of_Expense</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>get_Expense_Record_If_It_Exists.SLC_DateOfExpense__c</elementReference>
                    </defaultValue>
                    <fieldText>Date of Expense</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Expense_Amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>get_Expense_Record_If_It_Exists.SLC_TotalExpenseAmount__c</elementReference>
                    </defaultValue>
                    <fieldText>Expense Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Enter full expense amount before split&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Number_of_People</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>get_Expense_Record_If_It_Exists.SLC_NumberOfPeople__c</elementReference>
                    </defaultValue>
                    <fieldText>Number of People</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Number_of_Clients</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>get_Expense_Record_If_It_Exists.SLC_NumberOfClients__c</elementReference>
                    </defaultValue>
                    <fieldText>Number of Clients</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Number of Clients cannot be greater than Number of People&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Number_of_People}&gt;={!Number_of_Clients}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>xNon_Clients</name>
                    <defaultValue>
                        <stringValue>{!get_Expense_Record_If_It_Exists.SLC_DetailsOfNonClientsReceivingGift__c}</stringValue>
                    </defaultValue>
                    <fieldText>Please enter the details of non-clients below:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Enter Non-Clients&lt;/p&gt;</errorMessage>
                        <formulaExpression>({!Number_of_People}-{!Number_of_Clients})&gt;0</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Number_of_People</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <elementReference>Number_of_Clients</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit Expense Details</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>433</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_Expense_Record_If_It_Exists</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_ClientExpense</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SLC_ClientExpense__c</objectType>
    </variables>
    <variables>
        <name>var_ClientExpensesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Expense</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SLC_Expense__c</objectType>
    </variables>
    <variables>
        <name>var_ExpenseSplit</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_IsExpenseUpdateVisited</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_IsUpdate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
