flows/SLC_DisplayOpenOpportunities.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_line_to_list</name>
        <label>Add line to list</label>
        <locationX>138</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>tableRowOppty</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tableRowCSS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_opptyRecords</name>
        <label>Add to opptyRecords</label>
        <locationX>446</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>opptyRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_current_item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_current_item</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_opportunities_found</name>
        <label>Any opportunities found?</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>No_Opp_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opptyRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_opps</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Consultant</name>
        <label>Is Consultant?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_account_contact_records_without_role_filter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_consultant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.SLC_PortalInstitutionalConsultant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_account_contact_records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>stepsComplete</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Loop_through_opps.StageName}) = &quot;Qualification&quot;, &quot;1/6&quot;, 
IF(TEXT({!Loop_through_opps.StageName}) = &quot;Document Preparation&quot;, &quot;2/6&quot;,
IF(TEXT({!Loop_through_opps.StageName}) = &quot;FICA Approval&quot;, &quot;3/6&quot;,
IF(TEXT({!Loop_through_opps.StageName}) = &quot;Account Opening&quot;, &quot;4/6&quot;,
IF(TEXT({!Loop_through_opps.StageName}) = &quot;Funds Received&quot;, &quot;5/6&quot;,
IF(TEXT({!Loop_through_opps.StageName}) = &quot;Completed&quot;, &quot;6/6&quot;, &quot;0/5&quot;))))))</expression>
    </formulas>
    <interviewLabel>STANLIB Display open opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>STANLIB Display open opportunities</label>
    <loops>
        <name>Loop_through_account_contact</name>
        <label>Loop through account contact</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <collectionReference>ACRs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Copy_1_of_Get_opportunities</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_opportunities_found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_current_item</name>
        <label>Loop through current item</label>
        <locationX>358</locationX>
        <locationY>974</locationY>
        <collectionReference>consultantOppts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_opptyRecords</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_account_contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_opps</name>
        <label>Loop through opps</label>
        <locationX>50</locationX>
        <locationY>1526</locationY>
        <collectionReference>opptyRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_line_to_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Display_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Copy_1_of_Copy_1_of_Get_opportunities</name>
        <label>Copy 1 of Copy 1 of Get opportunities</label>
        <locationX>358</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_current_item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_account_contact.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Close Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_recordtype.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>consultantOppts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>SLC_LegalVehicle__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_account_contact_records</name>
        <label>Get account-contact records</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_account_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_person_account.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset consultant</stringValue>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>ACRs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_account_contact_records_without_role_filter</name>
        <label>Get account-contact records without role filter</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_account_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_person_account.PersonContactId</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>ACRs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_person_account</name>
        <label>Get person account</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_recordtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_recordtype</name>
        <label>Get recordtype</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Consultant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLI_InstitutionalOnboarding</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Display_Screen</name>
        <label>Display Screen</label>
        <locationX>50</locationX>
        <locationY>1862</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>opptyTable</name>
            <fieldText>&lt;p&gt;{!opptyTableCSS}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Refresh</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Opp_Screen</name>
        <label>No Opp Screen</label>
        <locationX>314</locationX>
        <locationY>1526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noOpps</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(115, 115, 115); font-size: 14px;&quot;&gt;You do not have any active new fund investments.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(115, 115, 115); font-size: 14px;&quot;&gt;To start the new fund investment process click on the button above and complete the form provided. We will then ask you to sign the new fund investment contract and upload all required FICA documents. Once these documents have been reviewed the last step is to pay the investment amount and, upon receipt, we will transfer the new fund to your investment portfolio.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_person_account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>oppCSSCompletion</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot; class=&quot;opportunityDetail&quot;&gt;{!stepsComplete}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>oppCSSMandateType</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot; class=&quot;opportunityDetail&quot;&gt;{!Loop_through_opps.SLC_LegalVehicle__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>oppCSSName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot; class=&quot;opportunityDetail&quot;&gt;{!Loop_through_opps.Name}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>oppCSSStatus</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot; class=&quot;opportunityDetail&quot;&gt;{!Loop_through_opps.StageName}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>opptyTableCSS</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table class=&quot;opptyTable&quot;&gt;
&lt;tr&gt;
&lt;th&gt;ACCOUNT NAME&lt;/th&gt;
&lt;th&gt;FUND&lt;/th&gt;
&lt;th&gt;LEGAL VEHICLE&lt;/th&gt;
&lt;th&gt;STEP&lt;/th&gt;
&lt;th&gt;STATUS&lt;/th&gt;
&lt;/tr&gt;
{!tableRowOppty}
&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tableRowCSS</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr class=&quot;opportunityDetail&quot;&gt;
&lt;td&gt;{!Loop_through_opps.Account.Name}&lt;/td&gt;
&lt;td&gt;{!Loop_through_opps.Name}&lt;/td&gt;
&lt;td&gt;{!Loop_through_opps.SLC_LegalVehicle__c}&lt;/td&gt;
&lt;td&gt;{!stepsComplete}&lt;/td&gt;
&lt;td&gt;{!Loop_through_opps.StageName}&lt;/td&gt;
&lt;/tr&gt;</text>
    </textTemplates>
    <variables>
        <name>accountRecords_insto</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ACRs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>columns</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>consultantOppts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>instoAccountRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>oppListCompletion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppListMandateType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppListName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppListStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opptyRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>selectedAccountRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tableRowOppty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.ContactId</elementReference>
        </value>
    </variables>
</Flow>
