flows/SLI_UpdateParentAccountOnSubsidiaryUpdate.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Get_Subsidiary_AuM</name>
        <label>Get Subsidiary AuM</label>
        <locationX>138</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>sum_AUM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Subsidiary_AARs_of_Parent.FinServ__RelatedAccount__r.SLC_AuM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sum_Flows</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Subsidiary_AARs_of_Parent.FinServ__RelatedAccount__r.SLC_YtdFlows__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Subsidiary_AARs_of_Parent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_it_find_anything</name>
        <label>Did it find anything&gt;?</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No - Stop</defaultConnectorLabel>
        <rules>
            <name>Yes_it_did</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getReciprocalRoleSubsidiary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getSubsidiaryAARs</targetReference>
            </connector>
            <label>Yes it did</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_it_find_anything_o</name>
        <label>Did it find anything?</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>No stop</defaultConnectorLabel>
        <rules>
            <name>Yes_it_did_find</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSubsidiaryAARs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getParentAccount</targetReference>
            </connector>
            <label>Yes it did find something</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SLI_UpdateParentAccountOnSubsidiaryUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Parent Account on Subsidiary Update</label>
    <loops>
        <name>loop_Subsidiary_AARs_of_Parent</name>
        <label>loop Subsidiary AARs of Parent</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <collectionReference>getParentAARs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Subsidiary_AuM</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Parent_Account_AuM</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getParentAARs</name>
        <label>getParentAARs</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Subsidiary_AARs_of_Parent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getParentAccount.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FinServ__AccountAccountRelation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getParentAccount</name>
        <label>getParentAccount</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getParentAARs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getSubsidiaryAARs.FinServ__Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getReciprocalRoleSubsidiary</name>
        <label>getReciprocalRoleSubsidiary</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_it_find_anything</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Subsidiary</stringValue>
            </value>
        </filters>
        <filters>
            <field>FinServ__InverseRole__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinServ__ReciprocalRole__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSubsidiaryAARs</name>
        <label>getSubsidiaryAARs</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_it_find_anything_o</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__RelatedAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getReciprocalRoleSubsidiary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinServ__AccountAccountRelation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Parent_Account_AuM</name>
        <label>update Parent Account AuM</label>
        <locationX>50</locationX>
        <locationY>1391</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getParentAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SLC_AuM_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLC_AuM__c</field>
            <value>
                <elementReference>sum_AUM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLC_YtdFlows__c</field>
            <value>
                <elementReference>sum_Flows</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getReciprocalRoleSubsidiary</targetReference>
        </connector>
        <filterFormula>AND({!$Record.RecordType.Name}=&apos;Stanlib Institutional Account&apos;,OR(ISCHANGED({!$Record.SLC_AuM__c}),ISCHANGED({!$Record.SLC_YtdFlows__c})))</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Parent_AARs_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__AccountAccountRelation__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Subsidiary_AARs_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__AccountAccountRelation__c</objectType>
    </variables>
    <variables>
        <name>parent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sum_AUM</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sum_Flows</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SumAuM</name>
        <dataType>Currency</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
