flows/SLI_FLOW_CreateOpportunityFromCase.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_opp_to_case</name>
        <label>Assign opp to case</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.SLI_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_and_record_type</name>
        <label>Assign value and record type</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>newOpp.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_record_type_for_opp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactID.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.SLC_LegalVehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Legal_Vehicle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_newOpp</targetReference>
        </connector>
    </assignments>
    <description>Used to create an opportunity from a case for STANLIB institutional onboarding</description>
    <dynamicChoiceSets>
        <name>legalVehicleChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SLC_LegalVehicle__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>SLI_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>STANLIB Create Opportunity from Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_newOpp</name>
        <label>Create newOpp</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Assign_opp_to_case</targetReference>
        </connector>
        <inputReference>newOpp</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_record_type_for_opp</name>
        <label>Get record type for opp</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLI_InstitutionalOnboarding</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <screens>
        <name>New_Opportunity</name>
        <label>New Opportunity</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_value_and_record_type</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AccountId</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactID</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Case.Contact.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Legal_Vehicle</name>
            <choiceReferences>legalVehicleChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Case.SLI_MandateType__c</elementReference>
            </defaultValue>
            <fieldText>Legal Vehicle</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <defaultValue>
                <stringValue>{!Get_Case.Description}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Value</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Case.SLI_InvestmentValue__c</elementReference>
            </defaultValue>
            <fieldText>Investment Value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_record_type_for_opp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>triggeringRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
