flows/SLI_UpdateParentAccountOnRelationshipDelete.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>add_Subsidiary_AUM_and_Flows</name>
        <label>add Subsidiary AUM and Flows</label>
        <locationX>264</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>sum_AUM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_AARs.FinServ__RelatedAccount__r.SLC_AuM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sum_Flows</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_AARs.FinServ__RelatedAccount__r.SLC_YtdFlows__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_AARs</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>remove_Subsidiary_AAR</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>remove Subsidiary AAR</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNextValueToReference>currentItem_remove_Subsidiary_AAR</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_Parent_AARs</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_remove_Subsidiary_AAR.FinServ__RelatedAccount__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <elementReference>$Record.FinServ__RelatedAccount__r.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loop_AARs</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <formulas>
        <name>aum_to_delete</name>
        <dataType>Currency</dataType>
        <expression>{!sum_AUM}-{!$Record.FinServ__RelatedAccount__r.SLC_AuM__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>flow_to_delete</name>
        <dataType>Currency</dataType>
        <expression>{!sum_Flows}-{!$Record.FinServ__RelatedAccount__r.SLC_YtdFlows__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>SLI_UpdateParentAccountOnRelationshipDelete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Parent Account on Relationship Delete</label>
    <loops>
        <name>loop_AARs</name>
        <label>loop AARs</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <collectionReference>remove_Subsidiary_AAR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_Subsidiary_AUM_and_Flows</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Parent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Parent_AARs</name>
        <label>get Parent AARs</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>remove_Subsidiary_AAR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FinServ__Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FinServ__AccountAccountRelation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Parent</name>
        <label>update Parent</label>
        <locationX>176</locationX>
        <locationY>887</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FinServ__Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SLC_AuM_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLC_AuM__c</field>
            <value>
                <elementReference>sum_AUM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLC_YtdFlows__c</field>
            <value>
                <elementReference>sum_Flows</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Parent_AARs</targetReference>
        </connector>
        <filterFormula>AND(
{!$Record.FinServ__Account__r.RecordType.Name}=&apos;Stanlib Institutional Parent&apos;, 
{!$Record.FinServ__RelatedAccount__r.RecordType.Name}=&apos;Stanlib Institutional Account&apos;,
{!$Record.FinServ__Role__r.Name}=&apos;Subsidiary&apos;
)</filterFormula>
        <object>FinServ__AccountAccountRelation__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_remove_Subsidiary_AAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__AccountAccountRelation__c</objectType>
    </variables>
    <variables>
        <name>sum_AUM</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>sum_Flows</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
