flows/SLI_UpdateParentAccountOnRelationshipUpsert.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assign_relatedaccount</name>
        <label>assign relatedaccount</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>sum_AUM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_account_AARs.FinServ__RelatedAccount__r.SLC_AuM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sum_Flows</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_account_AARs.FinServ__RelatedAccount__r.SLC_YtdFlows__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_account_AARs</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>SLI_UpdateParentOnRelationshipUpsert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Parent Account on Relationship Upsert</label>
    <loops>
        <name>loop_account_AARs</name>
        <label>loop account AARs</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>get_Parent_AARs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_relatedaccount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get AARs where Account.Id is Parent in triggering AAR</description>
        <name>get_Parent_AARs</name>
        <label>get Parent AARs</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_account_AARs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FinServ__Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FinServ__AccountAccountRelation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_account</name>
        <label>update account</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FinServ__Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SLC_AuM_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLC_AuM__c</field>
            <value>
                <elementReference>sum_AUM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLC_YtdFlows__c</field>
            <value>
                <elementReference>sum_Flows</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Parent_AARs</targetReference>
        </connector>
        <filterFormula>AND(
{!$Record.FinServ__Account__r.RecordType.Name}=&apos;Stanlib Institutional Parent&apos;, 
{!$Record.FinServ__RelatedAccount__r.RecordType.Name}=&apos;Stanlib Institutional Account&apos;,
{!$Record.FinServ__Role__r.Name}=&apos;Subsidiary&apos;
)</filterFormula>
        <object>FinServ__AccountAccountRelation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AARs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FinServ__AccountAccountRelation__c</objectType>
    </variables>
    <variables>
        <name>parent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedaccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>relatedaccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sum_AUM</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>sum_Flows</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
