flows/STANLIB_Closed_Case_emailAlert.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>STANLIB Corporate Cash Closed email</description>
        <name>SLI_CorporateCash_Closed_email</name>
        <label>STANLIB Corporate Cash Closed email</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>Case.SLI_CorporateCashClosed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>STANLIB DFM Closed email</description>
        <name>SLI_DFM_Closed_email</name>
        <label>STANLIB DFM Closed email</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>Case.SLI_DFMClosed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>STANLIB Institutional Closed email</description>
        <name>SLI_Institutional_Closed_email</name>
        <label>STANLIB Institutional Closed email</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Case.SLI_InstitutionalClosed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>STANLIB LISP Closed email</description>
        <name>SLI_LISP_Closed_email</name>
        <label>STANLIB LISP Closed email</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <actionName>Case.SLI_LISPClosed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>STANLIB Institutional Case Closed</description>
        <name>SLI_Institutional_Closed</name>
        <label>STANLIB Institutional Closed</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SLI_Institutional_Closed_Case</name>
            <conditionLogic>(1 AND 3) OR (2 AND 3 AND 4) OR (3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STANLIB_email_Institution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STANLIB_Portal_Institution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLC_SupportTeam__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SLSC_Institutional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STANLIB_Institutional_Portal_Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SLI_Institutional_Closed_email</targetReference>
            </connector>
            <label>Institutional Closed Case</label>
        </rules>
        <rules>
            <name>SLI_CorporateCash_Closed_Case</name>
            <conditionLogic>(1 AND 2) OR (2 AND 3 AND 4) OR (3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STANLIB_email_CorpCash</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STANLIB_Portal_Institution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLC_SupportTeam__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SLSC_CorporateCash</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STANLIB_Institutional_Portal_Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SLI_CorporateCash_Closed_email</targetReference>
            </connector>
            <label>Corporate Cash Closed Case</label>
        </rules>
        <rules>
            <name>SLI_DFM_Closed_Case</name>
            <conditionLogic>(1 AND 4 AND 6) OR (2 AND 4 AND 6) OR (3 AND 4 AND 6) OR (4 AND 5 AND 6) OR (4 AND 6 AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STANLIB_email_LISP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STANLIB_email_Institution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STANLIB_email_CorpCash</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STANLIB_Portal_Institution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLC_SupportTeam__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SLSC_DFM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STANLIB_Institutional_Portal_Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SLI_DFM_Closed_email</targetReference>
            </connector>
            <label>DFM Closed Case</label>
        </rules>
        <rules>
            <name>SLI_LISP_Closed_Case</name>
            <conditionLogic>(1 AND 2) OR (2 AND 3 AND 4) OR (2 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STANLIB_email_LISP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STANLIB_Portal_Institution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLC_SupportTeam__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SLSC_LISP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STANLIB_Institutional_Portal_Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SLI_LISP_Closed_email</targetReference>
            </connector>
            <label>LISP Closed Case</label>
        </rules>
    </decisions>
    <description>Flow which send an email Alert when a STANLIB Case is set to Closed</description>
    <environments>Default</environments>
    <interviewLabel>STANLIB Closed Case email Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>STANLIB Closed Case email Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SLI_Institutional_Closed</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 AND 2 AND 7) OR (1 AND 3 AND 7) OR (1 AND 4 AND 7) OR (1 AND 5 AND 7) OR (1 AND 6 AND 7)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>STANLIB_Portal_Institution</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>STANLIB_email_Institution</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>STANLIB_email_CorpCash</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>STANLIB_email_LISP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>STANLIB_Institutional_Portal_Prospect</stringValue>
            </value>
        </filters>
        <filters>
            <field>ContactEmail</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
