flows/stanlib_case_survey.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_00035737_1e09_4bd7_991a_66fcbca65132</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_24a0618a_633d_469e_96e4_d532f5dec149</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_169ffb31_d278_4909_9387_3b67225ffe48</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_0eba966a_a155_4494_a028_9626857df9d9</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_1f0542bb_6b4d_4de9_ae0f_3647d89ea8b6</name>
        <choiceText>I was not satisfied with the quality of the response received</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I was not satisfied with the quality of the response received</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2fb0c602_3672_44a3_91ff_0507a4e942cc</name>
        <choiceText>Consultant was unprofessional</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consultant was unprofessional</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2fd763eb_a95e_4198_a7f9_11549877e865</name>
        <choiceText>Personal interaction</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Personal interaction</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_36fd2dd0_1a16_416d_ae3f_6af035ffb2d1</name>
        <choiceText>Extremely unlikely</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extremely unlikely</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3780618d_5e44_44d6_bce5_877abfe55210</name>
        <choiceText>Onerous or unclear business requirements</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Onerous or unclear business requirements</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_38cfe2ea_46e1_4518_be09_09bc51f05262</name>
        <choiceText>Consultant was knowledgeable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consultant was knowledgeable</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_39b0bf80_af03_425a_ac8f_70730712c724</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_3db76a6c_9ee4_4ed9_91ad_dfcd7da62e36</name>
        <choiceText>Consultant was professional</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consultant was professional</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5ffca78e_8f0e_434d_a805_a4f48f94c727</name>
        <choiceText>I am satisfied with the turnaround time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I am satisfied with the turnaround time</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6f58927f_6320_45a6_be23_57b8835c36a8</name>
        <choiceText>Consultant was committed to resolving my query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consultant was committed to resolving my query</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7175d865_7f42_4cad_8b5b_6b20a664a80f</name>
        <choiceText>Self-service functionality</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Self-service functionality</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7d33dbb2_da6f_4d6a_bccf_fd0203419659</name>
        <choiceText>Feedback received was well articulated</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Feedback received was well articulated</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_81c31125_1307_4e6e_a7b5_9641ee81815f</name>
        <choiceText>Quicker response time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quicker response time</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_86241b69_29e1_4622_876b_c9d41e882fb5</name>
        <choiceText>Exceptional</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_89060a34_dcfe_4865_9a5f_2b14801a7d05</name>
        <choiceText>Poor</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9cff84fc_1488_425a_af7f_af6f696d30b2</name>
        <choiceText>Response time was poor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Response time was poor</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a3157bf7_bfa0_4f5f_acdc_e6dbd893073b</name>
        <choiceText>Improved business processes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Improved business processes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b301005a_25db_4ef8_b07e_ce7fe38b23d5</name>
        <choiceText>Consultant was unprofessional</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consultant was unprofessional</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bef535b2_18a2_41a2_82fd_6eb50c946fc1</name>
        <choiceText>Extremely likely</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extremely likely</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bf3c4672_9025_48ab_a95a_2348559558ed</name>
        <choiceText>Thought leadership content</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Thought leadership content</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c41a45af_d739_414a_9a28_b1d6e4ef06eb</name>
        <choiceText>Feedback received was well articulated</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Feedback received was well articulated</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d83853c2_7441_4635_bb90_cadcce11f12f</name>
        <choiceText>Response time was poor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Response time was poor</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d8df4c36_5b49_4102_be5f_7195c2b35716</name>
        <choiceText>Consultant was professional</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consultant was professional</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_dec44263_937d_4a0a_a199_ad09b5bab113</name>
        <choiceText>Neutral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_dedadd6e_8a13_4ae5_a71f_9fd32db9d17f</name>
        <choiceText>Improved communication</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Improved communication</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_def90326_30ff_4b0c_bfff_cf7f33c2bf81</name>
        <choiceText>I am satisfied with the turnaround time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I am satisfied with the turnaround time</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e425271d_12a1_437c_814d_d65beb5d894f</name>
        <choiceText>Somewhat likely</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Somewhat likely</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e5c71a59_9a95_4be4_a9d8_c3c28303bac0</name>
        <choiceText>Consultant was knowledgeable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consultant was knowledgeable</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ebc58683_aecb_4c9e_bcdd_fdf62d4e5c63</name>
        <choiceText>Consultant seemed inexperienced</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consultant seemed inexperienced</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ec83492b_1ba2_4d1d_b522_69d5fccb8ac8</name>
        <choiceText>Consultant was committed to resolving my query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consultant was committed to resolving my query</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ec9a99af_6d80_4fea_9307_510faf9956cf</name>
        <choiceText>Somewhat unlikely</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Somewhat unlikely</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ef0b9418_8e08_4db0_9555_7ddf1c5cf534</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f6670abf_4002_401a_95e9_1cf6fbba986e</name>
        <choiceText>I am not satisfied with the quality of the response received</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I am not satisfied with the quality of the response received</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_fbe8a92d_57de_4d94_b948_e826c6973af4</name>
        <choiceText>Onerous or unclear business requirements</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Onerous or unclear business requirements</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ff80bbd9_88da_4c71_872a_37cf8349d12a</name>
        <choiceText>Consultant seemed inexperienced</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consultant seemed inexperienced</stringValue>
        </value>
    </choices>
    <interviewLabel>STANLIB Case Survey</interviewLabel>
    <label>STANLIB Case Survey</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_stanlib_case_survey_10_946f00bd_44bb_4442_8a41_4361f7c01011</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>surveyType</name>
        <value>
            <stringValue>Survey</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_00035737_1e09_4bd7_991a_66fcbca65132</name>
        <label>Question 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_24a0618a_633d_469e_96e4_d532f5dec149</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </processMetadataValues>
            <name>q_59682a69_0829_4104_bffe_087dbe848d59</name>
            <choiceReferences>c_36fd2dd0_1a16_416d_ae3f_6af035ffb2d1</choiceReferences>
            <choiceReferences>c_ec9a99af_6d80_4fea_9307_510faf9956cf</choiceReferences>
            <choiceReferences>c_dec44263_937d_4a0a_a199_ad09b5bab113</choiceReferences>
            <choiceReferences>c_e425271d_12a1_437c_814d_d65beb5d894f</choiceReferences>
            <choiceReferences>c_bef535b2_18a2_41a2_82fd_6eb50c946fc1</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: small; font-family: Arial, Helvetica, sans-serif;&quot;&gt;How likely are you to you recommend STANLIB&lt;/strong&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_169ffb31_d278_4909_9387_3b67225ffe48</name>
        <label>Question 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_780854a2_8841_4e35_b594_d5bb25363784</name>
            <choiceReferences>c_7175d865_7f42_4cad_8b5b_6b20a664a80f</choiceReferences>
            <choiceReferences>c_2fd763eb_a95e_4198_a7f9_11549877e865</choiceReferences>
            <choiceReferences>c_81c31125_1307_4e6e_a7b5_9641ee81815f</choiceReferences>
            <choiceReferences>c_bf3c4672_9025_48ab_a95a_2348559558ed</choiceReferences>
            <choiceReferences>c_a3157bf7_bfa0_4f5f_acdc_e6dbd893073b</choiceReferences>
            <choiceReferences>c_dedadd6e_8a13_4ae5_a71f_9fd32db9d17f</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;What would you like to see more of? Please select one or more options:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_24a0618a_633d_469e_96e4_d532f5dec149</name>
        <label>Question 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_169ffb31_d278_4909_9387_3b67225ffe48</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_bbbb3b83_5c70_4050_b1ce_0da9f848771c_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_bbbb3b83_5c70_4050_b1ce_0da9f848771c</name>
            <choiceReferences>c_89060a34_dcfe_4865_9a5f_2b14801a7d05</choiceReferences>
            <choiceReferences>c_ef0b9418_8e08_4db0_9555_7ddf1c5cf534</choiceReferences>
            <choiceReferences>c_0eba966a_a155_4494_a028_9626857df9d9</choiceReferences>
            <choiceReferences>c_39b0bf80_af03_425a_ac8f_70730712c724</choiceReferences>
            <choiceReferences>c_86241b69_29e1_4622_876b_c9d41e882fb5</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;How would you rate the service you recently received from STANLIB?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3c0d7a39_d8e6_49e2_98c5_e30bc77cdd06</name>
            <choiceReferences>c_ff80bbd9_88da_4c71_872a_37cf8349d12a</choiceReferences>
            <choiceReferences>c_2fb0c602_3672_44a3_91ff_0507a4e942cc</choiceReferences>
            <choiceReferences>c_9cff84fc_1488_425a_af7f_af6f696d30b2</choiceReferences>
            <choiceReferences>c_1f0542bb_6b4d_4de9_ae0f_3647d89ea8b6</choiceReferences>
            <choiceReferences>c_fbe8a92d_57de_4d94_b948_e826c6973af4</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;If you gave a rating between 1 and 2, please select one or more attributes that would best explain your rating:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Rating</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_bbbb3b83_5c70_4050_b1ce_0da9f848771c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_ef0b9418_8e08_4db0_9555_7ddf1c5cf534</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Rating</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_bbbb3b83_5c70_4050_b1ce_0da9f848771c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_89060a34_dcfe_4865_9a5f_2b14801a7d05</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_4899df25_bbc5_4f1a_b414_776111a572d5</name>
            <choiceReferences>c_ebc58683_aecb_4c9e_bcdd_fdf62d4e5c63</choiceReferences>
            <choiceReferences>c_b301005a_25db_4ef8_b07e_ce7fe38b23d5</choiceReferences>
            <choiceReferences>c_d83853c2_7441_4635_bb90_cadcce11f12f</choiceReferences>
            <choiceReferences>c_f6670abf_4002_401a_95e9_1cf6fbba986e</choiceReferences>
            <choiceReferences>c_3780618d_5e44_44d6_bce5_877abfe55210</choiceReferences>
            <choiceReferences>c_38cfe2ea_46e1_4518_be09_09bc51f05262</choiceReferences>
            <choiceReferences>c_3db76a6c_9ee4_4ed9_91ad_dfcd7da62e36</choiceReferences>
            <choiceReferences>c_7d33dbb2_da6f_4d6a_bccf_fd0203419659</choiceReferences>
            <choiceReferences>c_def90326_30ff_4b0c_bfff_cf7f33c2bf81</choiceReferences>
            <choiceReferences>c_6f58927f_6320_45a6_be23_57b8835c36a8</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;If you gave a rating of 3, please select one or more attributes that would best explain your rating:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Rating</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_bbbb3b83_5c70_4050_b1ce_0da9f848771c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_0eba966a_a155_4494_a028_9626857df9d9</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_2bcb7249_4c24_464c_9b2b_bd579ea7d7e8</name>
            <choiceReferences>c_e5c71a59_9a95_4be4_a9d8_c3c28303bac0</choiceReferences>
            <choiceReferences>c_d8df4c36_5b49_4102_be5f_7195c2b35716</choiceReferences>
            <choiceReferences>c_c41a45af_d739_414a_9a28_b1d6e4ef06eb</choiceReferences>
            <choiceReferences>c_5ffca78e_8f0e_434d_a805_a4f48f94c727</choiceReferences>
            <choiceReferences>c_ec83492b_1ba2_4d1d_b522_69d5fccb8ac8</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;If you gave a rating between 4 and 5, please select one or more attributes that would best explain your rating:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Rating</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_bbbb3b83_5c70_4050_b1ce_0da9f848771c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_39b0bf80_af03_425a_ac8f_70730712c724</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Rating</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_bbbb3b83_5c70_4050_b1ce_0da9f848771c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_86241b69_29e1_4622_876b_c9d41e882fb5</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_00035737_1e09_4bd7_991a_66fcbca65132</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Thank you for completing our survey!&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Rate our service&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Please answer three short questions and help us improve your service experience.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_bbbb3b83_5c70_4050_b1ce_0da9f848771c_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
